Repository Ankr-network/ankr-docs, pull requests merged in 2022-08, with the labels that each got.

#541 DOCS-256: add liquidity-pools.md, yield-farming.md, vaults.md
  docs/staking/defi/defi-overview.md
  docs/staking/defi/liquidity-pools.md
  docs/staking/defi/overview.md
  docs/staking/defi/vaults.md
  docs/staking/defi/yield-farming.md
  sidebars.js
Labels: documentation, staking

#542 DOCS-256: add liquidity-pools.md, yield-farming.md, vaults.md
  docs/staking/defi/defi-overview.md
  docs/staking/defi/liquidity-pools.md
  docs/staking/defi/overview.md
  docs/staking/defi/vaults.md
  docs/staking/defi/yield-farming.md
  sidebars.js
Labels: documentation, staking

#543 DOCS-258: fix AVAX validators
  docs/staking/liquid-staking/avax/avax-liquid-staking-mechanics.md
Labels: documentation, staking

#545 DOCS-259: enable "Edit this page (on GitHub)" for docs
  docusaurus.config.js
Labels: documentation, docops

#548 DOCS-256: rename yield-farming back to yield-farm, as the redirect ca…
  docs/staking/defi/overview.md
  docs/staking/defi/yield-farming.md
Labels: documentation, staking

#550 DOCS-250: update KSM unstake
  docs/staking/liquid-staking/ksm/ksm-liquid-staking-unstake.md
Labels: documentation, staking

#553 Merge pull request #552 from Ankr-network/fotescodev-patch-1
  docs/build-blockchain/products/v2/advanced-apis.md
Labels: documentation, build

#554 DOCS-271 DOCS-271: Update MATIC staking FAQ with info about crosschain staking, transform the unbodning period question to unstake my assets question in LS FAQ for each asset
  docs/staking/liquid-staking/avax/avax-liquid-staking-faq.md
  docs/staking/liquid-staking/bnb/bnb-liquid-staking-faq.md
  docs/staking/liquid-staking/dot/dot-liquid-staking-faq.md
  docs/staking/liquid-staking/eth/eth-liquid-staking-faq.md
  docs/staking/liquid-staking/ftm/ftm-liquid-staking-faq.md
  docs/staking/liquid-staking/ksm/ksm-liquid-staking-faq.md
  docs/staking/liquid-staking/matic/matic-liquid-staking-faq.md
Labels: documentation, staking

#555 DOCS-272: update LS FAQ for each asset
  docs/staking/liquid-staking/avax/avax-liquid-staking-faq.md
  docs/staking/liquid-staking/bnb/bnb-liquid-staking-faq.md
  docs/staking/liquid-staking/dot/dot-liquid-staking-faq.md
  docs/staking/liquid-staking/eth/eth-liquid-staking-faq.md
  docs/staking/liquid-staking/ftm/ftm-liquid-staking-faq.md
  docs/staking/liquid-staking/ksm/ksm-liquid-staking-faq.md
  docs/staking/liquid-staking/matic/matic-liquid-staking-faq.md
Labels: documentation, staking

#556 DOCS-274: create a gaming usecase doc for App Chains
  docs/build-blockchain/app-chain/exchange-readiness.md
  docs/build-blockchain/app-chain/step-by-step.md
  docs/build-blockchain/app-chain/use-cases/web3-gaming.md
  sidebars.js
Labels: documentation, app chains

#558 DOCS-282: update Fantom validator's address
  docs/staking/liquid-staking/ftm/ftm-liquid-staking-mechanics.md
Labels: documentation, staking

#559 DOCS-283: Squash Liquid Staking SDK pages into one to improve UX
  docs/staking/liquid-staking/avax/avax-sdk.md
  docs/staking/liquid-staking/bnb/bnb-sdk.md
  docs/staking/liquid-staking/dot/dot-liquid-staking-faq.md
  docs/staking/liquid-staking/eth/eth-sdk.md
  docs/staking/liquid-staking/ftm/ftm-liquid-staking-faq.md
  docs/staking/liquid-staking/ftm/ftm-sdk.md
  docs/staking/liquid-staking/ksm/ksm-liquid-staking-faq.md
  docs/staking/liquid-staking/matic/matic-sdk.md
  docs/staking/liquid-staking/sdk.md
  docs/staking/sdk-overview.md
  docusaurus.config.js
  sidebars.js
Labels: documentation, staking

#560 DOCS-283: Squash Liquid Staking SDK pages into one to improve UX
  docs/staking/liquid-staking/avax/avax-sdk.md
  docs/staking/liquid-staking/bnb/bnb-sdk.md
  docs/staking/liquid-staking/dot/dot-liquid-staking-faq.md
  docs/staking/liquid-staking/eth/eth-sdk.md
  docs/staking/liquid-staking/ftm/ftm-liquid-staking-faq.md
  docs/staking/liquid-staking/ftm/ftm-liquid-staking-mechanics.md
  docs/staking/liquid-staking/ftm/ftm-sdk.md
  docs/staking/liquid-staking/ksm/ksm-liquid-staking-faq.md
  docs/staking/liquid-staking/matic/matic-sdk.md
  docs/staking/liquid-staking/sdk.md
  docs/staking/sdk-overview.md
  docusaurus.config.js
  sidebars.js
Labels: documentation, staking

#561 DOCS-283: Squash Liquid Staking SDK pages into one to improve UX
  docs/staking/liquid-staking/sdk.md
Labels: documentation, staking

#562 DOCS-283: Squash Liquid Staking SDK pages into one to improve UX
  docs/staking/liquid-staking/sdk.md
Labels: documentation, staking

#563 DOCS-283: fix a link
  docs/staking/sdk-overview.md
Labels: documentation, staking

#564 DOCS-283: fix a link
  docs/staking/sdk-overview.md
Labels: documentation, staking

#565 feat: DOCS-269/270 Account operations for Build
  docs/build-blockchain/products/v2/hybrid-infra.md
  docs/build-blockchain/products/v2/ui-interactions.md
  sidebars.js
  static/img/connect-metamask.png
  static/img/topup-amount.png
Labels: documentation, build

#566 feat: DOCS-269/270 Premium account operations
  docs/build-blockchain/products/v2/hybrid-infra.md
  docs/build-blockchain/products/v2/ui-interactions.md
  sidebars.js
  static/img/connect-metamask.png
  static/img/topup-amount.png
Labels: documentation, build

#567 DOCS-288: create user docs for ANKR token delegated staking
  docs/staking/delegated-staking/ankr/claim-restake.md
  docs/staking/delegated-staking/ankr/overview.md
  docs/staking/delegated-staking/ankr/stake.md
  docs/staking/delegated-staking/ankr/unstake.md
  docusaurus.config.js
  sidebars.js
  static/img/delegated-staking/ankr-bankr.png
  static/img/delegated-staking/ankr-staking-in-ankr-infra.png
  static/img/delegated-staking/stake-ankr-dialogue.jpg
Labels: documentation, staking

#568 feat: DOCS-289 Ankr RPC overview cleaning up
  docs/build-blockchain/build-overview.md
  docs/build-blockchain/products/v2/ui-interactions.md
  static/img/ankr-structure.png
Labels: documentation, build

#569 feat: DOCS-289 Ankr RPC overview cleaning up
  docs/build-blockchain/build-overview.md
  docs/build-blockchain/products/v2/ui-interactions.md
  docs/staking/delegated-staking/ankr/claim-restake.md
  docs/staking/delegated-staking/ankr/overview.md
  docs/staking/delegated-staking/ankr/stake.md
  docs/staking/delegated-staking/ankr/unstake.md
  docusaurus.config.js
  sidebars.js
  static/img/ankr-structure.png
  static/img/delegated-staking/ankr-bankr.png
  static/img/delegated-staking/ankr-staking-in-ankr-infra.png
  static/img/delegated-staking/stake-ankr-dialogue.jpg
Labels: documentation, build

#570 DOCS-288: fix menu
  sidebars.js
Labels: documentation, staking

#571 DOCS-288: brush up
  docs/staking/delegated-staking/ankr/claim-restake.md
  docs/staking/delegated-staking/ankr/overview.md
  docs/staking/delegated-staking/ankr/stake.md
  docs/staking/delegated-staking/ankr/unstake.md
Labels: documentation, staking

#572 DOCS-291: add info about Ankr 5% base fee from the BNB LS rewards rec…
  docs/staking/liquid-staking/bnb/bnb-liquid-staking-mechanics.md
Labels: documentation, staking

#573 DOCS-291: add info about Ankr 5% base fee from the BNB LS
  docs/staking/liquid-staking/bnb/bnb-liquid-staking-mechanics.md
Labels: documentation, staking

#574 DOCS-288: brush up
  docs/staking/delegated-staking/ankr/claim-restake.md
  docs/staking/delegated-staking/ankr/stake.md
Labels: documentation, staking

#575 DOCS-291: FAQ brush up
  docs/staking/liquid-staking/bnb/bnb-liquid-staking-faq.md
Labels: documentation, staking

#576 DOCS-291: FAQ brush up
  docs/staking/liquid-staking/bnb/bnb-liquid-staking-faq.md
Labels: documentation, staking

#577 DOCS-288: brush up
  docs/staking/delegated-staking/ankr/claim-restake.md
  docs/staking/delegated-staking/ankr/stake.md
Labels: documentation, staking

#578 DOCS-288: brush up
  docs/staking/delegated-staking/ankr/claim-restake.md
Labels: documentation, staking

#579 feat: DOCS-286 build blockchain interactions
  docs/build-blockchain/products/v2/ui-interactions-blockchain.md
  docs/build-blockchain/products/v2/ui-interactions.md
  sidebars.js
  static/img/endpoints.png
Labels: documentation, build

#580 feat: DOCS-286 build blockchain interactions
  docs/build-blockchain/products/v2/ui-interactions-blockchain.md
  docs/build-blockchain/products/v2/ui-interactions.md
  sidebars.js
  static/img/endpoints.png
Labels: documentation, build

#581 DOCS-285: embed genesis configurator into docs
  docs/build-blockchain/app-chain/bnb-sidechain/how-to-launch/configure-genesis-file.md
  docs/build-blockchain/app-chain/bnb-sidechain/how-to-launch/launch-bas.md
  docusaurus.config.js
  sidebars.js
Labels: documentation, app chains

#582 DOCS-285: embed genesis configurator into docs
  docs/build-blockchain/app-chain/bnb-sidechain/how-to-launch/configure-genesis-file.md
  docs/build-blockchain/app-chain/bnb-sidechain/how-to-launch/launch-bas.md
  docs/staking/delegated-staking/ankr/overview.md
  docs/staking/delegated-staking/ankr/unstake.md
  docusaurus.config.js
  sidebars.js
Labels: documentation, app chains

#584 DOCS-285: brush up on link names
  docs/build-blockchain/app-chain/bnb-sidechain/how-to-launch/launch-bas.md
Labels: documentation, app chains

#586 DOCS-285: update HTTP genesis configurator link to HTTPS to comply with loading requirements
  docs/build-blockchain/app-chain/bnb-sidechain/how-to-launch/configure-genesis-file.md
Labels: documentation, app chains

#587 DOCS-285: update HTTP genesis config link to HTTPS
  docs/build-blockchain/app-chain/bnb-sidechain/how-to-launch/configure-genesis-file.md
Labels: documentation, app chains

#588 DOCS-285: update HTTP genesis config link to HTTPS
  docs/build-blockchain/app-chain/bnb-sidechain/how-to-launch/configure-genesis-file.md
Labels: documentation, app chains

#589 chore: DOCS-294 Build pricing prettify
  docs/build-blockchain/concepts/pricing-plans.md
Labels: documentation, build

#590 hotfix: DOCS-294 Build pricing prettify
  docs/build-blockchain/concepts/pricing-plans.md
Labels: documentation, build

#591 hotfix: DOCS-286 Build premium UI interactions
  docs/build-blockchain/products/v2/ui-interactions.md
Labels: documentation, build

#592 chore: DOCS-286 Build premium UI interactions
  docs/build-blockchain/products/v2/ui-interactions.md
Labels: documentation, build

#593 chore: DOCS-286 Build premium UI interactions
  docs/build-blockchain/products/v2/ui-interactions.md
Labels: documentation, build

#594 DOCS-295: Update aAVAXc contract address in AVAX LS docs
  docs/staking/liquid-staking/avax/avax-liquid-staking-mechanics.md
Labels: documentation, staking

#596 DOCS-300: Create an FAQ for ANKR Staking
  docs/staking/delegated-staking/ankr/faq.md
  sidebars.js
Labels: documentation, staking

#599 chore: DOCS-296 Total removal of bla-bla files plus adding products in topbar
  docs/build-blockchain/build-overview.md
  docs/build-blockchain/products/v2/premium-endpoints.md
  docs/build-blockchain/products/v2/premium-get-started.md
  docs/build-blockchain/products/v2/security.md
  docusaurus.config.js
Labels: documentation, build

#600 chore: DOCS-296 Total removal of bla-bla files plus adding products in topbar
  docs/build-blockchain/build-overview.md
  docs/build-blockchain/products/v2/premium-endpoints.md
  docs/build-blockchain/products/v2/premium-get-started.md
  docs/build-blockchain/products/v2/security.md
  docusaurus.config.js
Labels: documentation, build

#601 feat: DOCS-299 Build hybrid infra with typeform embedded
  docs/build-blockchain/products/v2/hybrid-infra.md
  static/img/hybrid-add-node.png
Labels: documentation, build

#602 feat: DOCS-299 Build hybrid infra with embedded typeform
  docs/build-blockchain/products/v2/hybrid-infra.md
  static/img/hybrid-add-node.png
Labels: documentation, build

#604 Hotfix: DOCS-302 build api link
  docs/build-blockchain/products/advanced-apis/advanced-apis-overview.md
  docs/build-blockchain/products/v2/advanced-apis.md
Labels: documentation, build

#605 chore: DOCS-302 Advanced API link fixed
  docs/build-blockchain/products/advanced-apis/advanced-apis-overview.md
  docs/build-blockchain/products/v2/advanced-apis.md
Labels: documentation, build

#606 feat: DOCS-304 Advanced APIs latest
  docs/build-blockchain/products/advanced-apis/nft-api.md
  docs/build-blockchain/products/advanced-apis/query-api.md
  docs/build-blockchain/products/advanced-apis/token-api.md
Labels: documentation, build

#607 feat: DOCS-304 Advanced APIs latest
  docs/build-blockchain/products/advanced-apis/nft-api.md
  docs/build-blockchain/products/advanced-apis/query-api.md
  docs/build-blockchain/products/advanced-apis/token-api.md
Labels: documentation, build

#608 feat: DOCS-311 Security headers whitelisting
  docs/build-blockchain/products/v2/ui-interactions-blockchain.md
Labels: documentation, build

#609 feat: DOCS-311 Headers whitelisting
  docs/build-blockchain/products/v2/ui-interactions-blockchain.md
Labels: documentation, build
