Repository Ankr-network/ankr-docs, pull requests merged in 2022-11, with the labels that each got.

#782 feat: DOCS-409 AAPI new method added
  pages/advanced-api/overview.md
  pages/advanced-api/token-methods.md
Labels: documentation, build

#783 feat: DOCS-409 AAPI new method added
  pages/advanced-api/overview.md
  pages/advanced-api/token-methods.md
Labels: documentation, build

#784 feat: DOCS-409 AAPI new method parameter names changed plus interval in seconds added
  pages/advanced-api/token-methods.md
Labels: documentation, build

#785 feat: DOCS-409 AAPI new method parameter names changed plus interval in seconds added
  pages/advanced-api/token-methods.md
Labels: documentation, build

#787 feat: DOCS-414 AAPI AnkrJS SDK new method handle added
  pages/advanced-api/javascript-sdk.md
  pages/advanced-api/token-methods.md
Labels: documentation, build

#788 feat: DOCS-414 AAPI AnkrJS SDK new method handle added
  pages/advanced-api/javascript-sdk.md
  pages/advanced-api/token-methods.md
Labels: documentation, build

#789 Feat: DOCS-404 Chainscanner overview
  pages/_meta.json
  pages/app-chains/_meta.json
  pages/app-chains/affiliated-chains/polygon-supernets/overview.md
  pages/app-chains/chainscanner.md
  pages/app-chains/components/block-explorer.md
  pages/app-chains/components/rpc-endpoints.md
  pages/app-chains/components/staking-ui.md
  pages/app-chains/components/testnet-faucet.md
  pages/app-chains/components/validator-nodes.md
  pages/app-chains/exchange-readiness-program.md
  pages/app-chains/faq.md
  pages/app-chains/overview.md
  pages/app-chains/start-with-app-chains.md
  pages/app-chains/use-cases/finance.md
  pages/app-chains/use-cases/web3-gaming.md
  pages/index.md
Labels: documentation, app chains

#791 Feat: DOCS-404 Chainscanner overview
  pages/_meta.json
  pages/app-chains/_meta.json
  pages/app-chains/affiliated-chains/polygon-supernets/overview.md
  pages/app-chains/chainscanner.md
  pages/app-chains/components/block-explorer.md
  pages/app-chains/components/rpc-endpoints.md
  pages/app-chains/components/staking-ui.md
  pages/app-chains/components/testnet-faucet.md
  pages/app-chains/components/validator-nodes.md
  pages/app-chains/exchange-readiness-program.md
  pages/app-chains/faq.md
  pages/app-chains/overview.md
  pages/app-chains/start-with-app-chains.md
  pages/app-chains/use-cases/finance.md
  pages/app-chains/use-cases/web3-gaming.md
  pages/index.md
Labels: documentation, app chains

#792 Feat: DOCS-404 Chainscanner overview
  pages/app-chains/_meta.json
Labels: documentation, app chains, learn

#794 feat: DOCS-415 create docs for SSV Liquid Staking
  pages/staking/liquid-staking/_meta.json
  pages/staking/liquid-staking/eth-ssv/_meta.json
  pages/staking/liquid-staking/eth/faq.md
  pages/staking/liquid-staking/eth/stake.md
  pages/staking/liquid-staking/ssv/_meta.json
  pages/staking/liquid-staking/ssv/faq.md
  pages/staking/liquid-staking/ssv/overview.md
  pages/staking/liquid-staking/ssv/stake.md
  public/staking/ssv/add-token-or-go-to-dashboard.jpg
  public/staking/ssv/confirm-staking-transaction.jpg
  public/staking/ssv/ssv-box.jpg
  public/staking/ssv/ssv-liquid-staking-token-dots-menu.jpg
  public/staking/ssv/ssv-liquid-token-on-dashboard.jpg
  public/staking/ssv/ssv-liquid-tokens-copy-contract-address.jpg
  public/staking/ssv/stake-eth-ssv.jpg
  scripts/update-strapi-faq-files.js
Labels: documentation, staking

#795 feat: DOCS-415 create docs for SSV Liquid Staking
  pages/staking/liquid-staking/_meta.json
  pages/staking/liquid-staking/eth-ssv/_meta.json
  pages/staking/liquid-staking/eth/faq.md
  pages/staking/liquid-staking/eth/stake.md
  pages/staking/liquid-staking/ssv/_meta.json
  pages/staking/liquid-staking/ssv/faq.md
  pages/staking/liquid-staking/ssv/overview.md
  pages/staking/liquid-staking/ssv/stake.md
  public/staking/ssv/add-token-or-go-to-dashboard.jpg
  public/staking/ssv/confirm-staking-transaction.jpg
  public/staking/ssv/ssv-box.jpg
  public/staking/ssv/ssv-liquid-staking-token-dots-menu.jpg
  public/staking/ssv/ssv-liquid-token-on-dashboard.jpg
  public/staking/ssv/ssv-liquid-tokens-copy-contract-address.jpg
  public/staking/ssv/stake-eth-ssv.jpg
  scripts/update-strapi-faq-files.js
Labels: documentation, staking

#796 DOCS-404: add Chainscanner pic
  pages/app-chains/chainscanner.md
  public/app-chains/chainscanner.jpg
Labels: documentation, app chains

#798 chore: DOCS-414 Added prices for new AAPI methods
  pages/advanced-api/pricing.md
  pages/rpc-service/pricing.md
Labels: documentation, build

#799 chore: DOCS-414 Added prices for new AAPI methods
  pages/advanced-api/pricing.md
  pages/rpc-service/pricing.md
Labels: documentation, build

#800 DOCS-421: fix favicons
  theme.config.js
Labels: documentation, docops

#801 DOCS-422: make docs pages nofollow (temp SEO solution)
  theme.config.js
Labels: documentation, docops

#802 update chainscanner.md a bit
  pages/app-chains/chainscanner.md
Labels: documentation, app chains

#803 DOCS-430: update chainscanner.md a bit
  pages/app-chains/chainscanner.md
Labels: documentation, app chains

#804 feat: STAKAN-1252 add pics to Ankr Staking
  pages/app-chains/overview.md
  pages/staking/_meta.json
  pages/staking/bridge/overview.md
  pages/staking/defi/overview.md
  pages/staking/delegated-staking/ankr/claim-restake-rewards.md
  pages/staking/delegated-staking/ankr/overview.md
  pages/staking/delegated-staking/ankr/stake.md
  pages/staking/delegated-staking/ankr/unstake.md
  pages/staking/delegated-staking/gnosis/stake.md
  pages/staking/liquid-crowdloan/overview.md
  pages/staking/liquid-staking/avax/stake.md
  pages/staking/liquid-staking/bnb/stake.md
  pages/staking/liquid-staking/dot/stake.md
  pages/staking/liquid-staking/eth/stake.md
  pages/staking/liquid-staking/ftm/stake.md
  pages/staking/liquid-staking/ksm/stake.md
  pages/staking/liquid-staking/matic/stake.md
  pages/staking/liquid-staking/overview.md
  pages/staking/liquid-staking/ssv/stake.md
  pages/staking/overview.md
  pages/staking/switch/overview.md
  public/bridge/ankr-bridge.jpg
  public/defi/defi-dashboard.png
  public/liquid-crownload/liquid-crownload.png
  public/staking/connect-wallet/ankr-staking.jpg
  public/staking/connect-wallet/choose-account-to-connect.jpg
  public/staking/connect-wallet/choose-wallet-to-connect.jpg
  public/staking/connect-wallet/connect-account.jpg
  public/staking/connect-wallet/connect-wallet-button.jpg
  public/staking/connect-wallet/connect-wallet-button.png
  public/staking/connect-wallet/wallet-connected.jpg
  public/staking/delegated-staking/ankr-bankr.png
  public/staking/delegated-staking/ankr-delegated-staking-box.png
  public/staking/delegated-staking/ankr-staking-in-ankr-infra.jpg
  public/staking/delegated-staking/ankr-staking-in-ankr-infra.png
  public/staking/delegated-staking/ankr/ankr-staking-box.jpg
  public/staking/delegated-staking/ankr/click-stake-ankr-after-approval.jpg
  public/staking/delegated-staking/ankr/confirm-approving-acces-to-ankr.jpg
  public/staking/delegated-staking/ankr/confirm-staking-ankr.jpg
  public/staking/delegated-staking/ankr/confirm-switching-networks.jpg
  public/staking/delegated-staking/ankr/enter-ankr-amount-to-stake.jpg
  public/staking/delegated-staking/ankr/successful-stake.jpg
  public/staking/delegated-staking/ankr/switch-to-correct-network.jpg
  public/staking/delegated-staking/enter-ankr-token-amount-to-stake.png
  public/staking/delegated-staking/enter-mgno-token-amount-to-stake.png
  public/staking/delegated-staking/gnosis-delegated-staking-box.png
  public/staking/delegated-staking/stake-ankr-dialogue.jpg
  public/staking/liquid-staking/liquid-staking.png
  public/switch/ankr-switch.png
Labels: documentation, staking

#805 feat: STAKAN-1252 add pics to Ankr Staking
  pages/app-chains/overview.md
  pages/staking/_meta.json
  pages/staking/bridge/overview.md
  pages/staking/defi/overview.md
  pages/staking/delegated-staking/ankr/claim-restake-rewards.md
  pages/staking/delegated-staking/ankr/overview.md
  pages/staking/delegated-staking/ankr/stake.md
  pages/staking/delegated-staking/ankr/unstake.md
  pages/staking/delegated-staking/gnosis/stake.md
  pages/staking/liquid-crowdloan/overview.md
  pages/staking/liquid-staking/avax/stake.md
  pages/staking/liquid-staking/bnb/stake.md
  pages/staking/liquid-staking/dot/stake.md
  pages/staking/liquid-staking/eth/stake.md
  pages/staking/liquid-staking/ftm/stake.md
  pages/staking/liquid-staking/ksm/stake.md
  pages/staking/liquid-staking/matic/stake.md
  pages/staking/liquid-staking/overview.md
  pages/staking/liquid-staking/ssv/stake.md
  pages/staking/overview.md
  pages/staking/switch/overview.md
  public/bridge/ankr-bridge.jpg
  public/defi/defi-dashboard.png
  public/liquid-crownload/liquid-crownload.png
  public/staking/connect-wallet/ankr-staking.jpg
  public/staking/connect-wallet/choose-account-to-connect.jpg
  public/staking/connect-wallet/choose-wallet-to-connect.jpg
  public/staking/connect-wallet/connect-account.jpg
  public/staking/connect-wallet/connect-wallet-button.jpg
  public/staking/connect-wallet/connect-wallet-button.png
  public/staking/connect-wallet/wallet-connected.jpg
  public/staking/delegated-staking/ankr-bankr.png
  public/staking/delegated-staking/ankr-delegated-staking-box.png
  public/staking/delegated-staking/ankr-staking-in-ankr-infra.jpg
  public/staking/delegated-staking/ankr-staking-in-ankr-infra.png
  public/staking/delegated-staking/ankr/ankr-staking-box.jpg
  public/staking/delegated-staking/ankr/click-stake-ankr-after-approval.jpg
  public/staking/delegated-staking/ankr/confirm-approving-acces-to-ankr.jpg
  public/staking/delegated-staking/ankr/confirm-staking-ankr.jpg
  public/staking/delegated-staking/ankr/confirm-switching-networks.jpg
  public/staking/delegated-staking/ankr/enter-ankr-amount-to-stake.jpg
  public/staking/delegated-staking/ankr/successful-stake.jpg
  public/staking/delegated-staking/ankr/switch-to-correct-network.jpg
  public/staking/delegated-staking/enter-ankr-token-amount-to-stake.png
  public/staking/delegated-staking/enter-mgno-token-amount-to-stake.png
  public/staking/delegated-staking/gnosis-delegated-staking-box.png
  public/staking/delegated-staking/stake-ankr-dialogue.jpg
  public/staking/liquid-staking/liquid-staking.png
  public/switch/ankr-switch.png
Labels: documentation, staking

#806 STAKAN-1252: add staking pic, misc content updates
  pages/staking/for-integrators/overview.md
  pages/staking/overview.md
  public/staking/staking.jpg
Labels: documentation, staking

#807 STAKAN-1252: add staking pic, misc content updates
  pages/staking/for-integrators/overview.md
  pages/staking/overview.md
  public/staking/staking.jpg
Labels: documentation, staking

#808 DOCS-323, DOCS-321, STAKAN-1252: unify styling for Next/Prev links, unify list styling, content refactoring
  pages/index.md
  pages/staking/bridge/overview.md
  pages/staking/defi/liquidity-pools.md
  pages/staking/defi/overview.md
  pages/staking/defi/vaults.md
  pages/staking/defi/yield-farming.md
  pages/staking/for-integrators/dev-details/ksm-liquid-staking-mechanics.md
  pages/staking/for-integrators/dev-details/matic-liquid-staking-mechanics.md
  pages/staking/liquid-staking/bnb/stake.md
  pages/staking/liquid-staking/overview.md
  pages/staking/overview.md
  pages/staking/switch/overview.md
  src/components/Callout.jsx
  src/styles/global.css
Labels: documentation, staking, frontend

#809 DOCS-323, DOCS-321, STAKAN-1252: unify styling for Next/Prev links, unify list styling, content refactoring
  pages/index.md
  pages/staking/bridge/overview.md
  pages/staking/defi/liquidity-pools.md
  pages/staking/defi/overview.md
  pages/staking/defi/vaults.md
  pages/staking/defi/yield-farming.md
  pages/staking/for-integrators/dev-details/ksm-liquid-staking-mechanics.md
  pages/staking/for-integrators/dev-details/matic-liquid-staking-mechanics.md
  pages/staking/liquid-staking/bnb/stake.md
  pages/staking/liquid-staking/overview.md
  pages/staking/overview.md
  pages/staking/switch/overview.md
  src/components/Callout.jsx
  src/styles/global.css
Labels: documentation, staking, frontend

#810 chore: DOCS-433 AAPI whitelist parameter added
  pages/advanced-api/token-methods.md
Labels: documentation, build

#811 chore: DOCS-433 AAPI whitelist parameter added
  pages/advanced-api/token-methods.md
Labels: documentation, build

#813 some debatable custom styling
  pages/rpc-service/getting-started.md
  src/styles/global.css
Labels: docops, frontend

#814 some debatable custom styling
  pages/rpc-service/getting-started.md
  src/styles/global.css
Labels: documentation, frontend

#815 brush-ups on some debatable custom styling
  pages/index.md
  src/styles/global.css
Labels: documentation, frontend

#817 okay, some final debatable styling, and sweet sleep
  src/components/Callout.jsx
  src/styles/global.css
Labels: documentation, frontend

#818 okay, some final debatable styling, and sweet sleep
  src/components/Callout.jsx
  src/styles/global.css
Labels: documentation, frontend

#819 DOCS-434: reorder AppChain components in Overview
  pages/app-chains/overview.md
Labels: documentation, app chains

#820 DOCS-434: reorder AppChain components in Overview
  pages/app-chains/overview.md
Labels: documentation, app chains

#821 feat: DOCS-435 RPC Service pricing abstracted
  pages/rpc-service/pricing.md
Labels: documentation, build

#822 feat: DOCS-435 RPC Service pricing abstracted
  pages/rpc-service/pricing.md
Labels: documentation, build

#823 DOCS-436: update Ankr validators page, add more validators
  pages/app-chains/faq.md
  pages/app-chains/overview.md
  pages/staking/extra/ankr-validators.md
Labels: documentation, staking, app chains

#824 DOCS-436: update Ankr validators page, add more validators
  pages/app-chains/faq.md
  pages/app-chains/overview.md
  pages/staking/extra/ankr-validators.md
Labels: documentation, staking, app chains

#825 DOCS-437: create docs for BNB Flash Unstake
  pages/rpc-service/tech-stuff.md
  pages/staking/liquid-staking/bnb/unstake.md
Labels: documentation, staking

#826 DOCS-437: create docs for BNB Flash Unstake
  pages/rpc-service/tech-stuff.md
  pages/staking/liquid-staking/bnb/unstake.md
Labels: documentation

#830 DOCS-438: create Support page redirecting to Ankr Support
  pages/_meta.json
  pages/support.md
Labels: documentation, support

#831 DOCS-438: create Support page redirecting to Ankr Support
  pages/_meta.json
  pages/staking/for-integrators/sdk/overview.md
  pages/support.md
  redirects.json
Labels: documentation, staking, support

#832 DOCS-438: remove Support redirects, make a redirect for Support in _meta.json
  pages/_meta.json
  redirects.json
Labels: documentation, support

#833 DOCS-438: remove Support redirects, make a redirect for Support in _meta.json
  pages/_meta.json
  redirects.json
Labels: documentation, support

#834 DOCS-438: remove Support redirects, make a redirect for Support in _meta.json
  pages/_meta.json
Labels: documentation, support

#835 DOCS-438: remove Support redirects, make a redirect for Support in _meta.json
  pages/_meta.json
Labels: documentation, support

#837 fix: DOCS-439 sync and update LS SC addresses (MN, TN)
  pages/staking/extra/ls-sc-addresses-mn.md
  pages/staking/extra/ls-sc-addresses-tn.md
Labels: documentation, staking

#839 DOCS-442: update AVAX dev details
  pages/staking/for-integrators/dev-details/avax-liquid-staking-mechanics.md
Labels: documentation, staking

#840 DOCS-442: update AVAX dev details
  pages/staking/for-integrators/dev-details/avax-liquid-staking-mechanics.md
Labels: documentation, staking

#838 DOCS-442: update AVAX dev details
  pages/staking/for-integrators/dev-details/avax-liquid-staking-mechanics.md
Labels: documentation, staking

#842 DOCS-443: update FTM LS docs, explain how release time works depending on the unstake amount
  pages/staking/for-integrators/dev-details/ftm-liquid-staking-mechanics.md
  pages/staking/liquid-staking/ftm/faq.md
  pages/staking/liquid-staking/ftm/overview.md
  pages/staking/liquid-staking/ftm/unstake.md
  redirects.json
Labels: documentation, staking

#844 DOCS-443: update FTM LS docs, explain how release time works depending on the unstake amount
  redirects.json
Labels: documentation, staking

#845 DOCS-443: update FTM LS docs, explain how release time works depending on the unstake amount
  redirects.json
Labels: documentation, staking

#846 DOCS-443: update FTM LS docs, explain how release time works depending on the unstake amount
  pages/staking/liquid-staking/ftm/overview.md
Labels: documentation, staking

#847 StageaDOCS-443: update FTM LS docs, explain how release time works depending on the unstake amount
  pages/staking/liquid-staking/ftm/overview.md
Labels: documentation, staking

#851 DOCS-449: small fixes
  pages/index.md
Labels: documentation, learn

#852 DOCS-428: remove Gaming docs from Ankr Docs (now hosted at mirage.xyz/docs)
  pages/_meta.json
  pages/gaming.md
  pages/index.md
  redirects.json
Labels: documentation, gaming, learn

#853 DOCS-428: raDOCS-428: remove Gaming docs from Ankr Docs (now hosted at mirage.xyz/docs)emove Gaming docs from Ankr Docs (now hosted at mirage.xyz…
  pages/gaming.md
Labels: documentation, gaming

#854 fix the DeFi link for aFTMc
  pages/staking/liquid-staking/ftm/faq.md
Labels: documentation, staking

#855 update tutorial names for better readability
  pages/tutorials/advanced-web3/_meta.json
  pages/tutorials/get-started/_meta.json
  pages/tutorials/smart-contracts/_meta.json
Labels: documentation, staking

#856 update tutorial names for better readability
  pages/tutorials/overview.md
Labels: documentation, learn

#858 DOCS-453: update PancakeSwap oracle docs, refactor Dev Details a lil, refactor Switch and Bridge mechanics a lil
  pages/staking/for-integrators/dev-details/avax-liquid-staking-mechanics.md
  pages/staking/for-integrators/dev-details/bnb-liquid-staking-mechanics.md
  pages/staking/for-integrators/dev-details/bridge-mechanics.md
  pages/staking/for-integrators/dev-details/dot-liquid-staking-mechanics.md
  pages/staking/for-integrators/dev-details/eth-liquid-staking-mechanics.md
  pages/staking/for-integrators/dev-details/ftm-liquid-staking-mechanics.md
  pages/staking/for-integrators/dev-details/ksm-liquid-staking-mechanics.md
  pages/staking/for-integrators/dev-details/matic-liquid-staking-mechanics.md
  pages/staking/for-integrators/dev-details/switch-mechanics.md
  pages/staking/for-integrators/oracles/pancakeswap-oracle.md
Labels: documentation, staking

#859 fix Tutorials link on the Ankr Docs main page
  pages/index.md
Labels: documentation, tutorials

#860 DOCS-456: add new validators to BNB dev details
  pages/staking/for-integrators/dev-details/bnb-liquid-staking-mechanics.md
Labels: staking, docops

#861 feat: DOCS-455 Sui testnet added in chains quickstart and Nervos github edited to godwoken
  pages/rpc-service/chains/chains-list.md
  pages/staking/liquid-staking/ftm/faq.md
Labels: documentation, rpc-aapi

#862 feat: DOCS-455 Sui testnet added in chains quickstart and Nervos github edited to godwoken
  pages/rpc-service/chains/chains-list.md
  pages/staking/liquid-staking/ftm/faq.md
Labels: documentation, rpc-aapi

#863 DOCS-425: add ETH audits to extra/audit-reports
  pages/staking/extra/audit-reports.md
Labels: documentation, staking

#864 DOCS-425: add ETH audits to extra/audit-reports
  pages/staking/extra/audit-reports.md
Labels: documentation, staking

#865 feat: DOCS-457 Adding networks to MetaMask
  pages/rpc-service/chains/chains-list.md
  pages/staking/liquid-staking/bnb/faq.md
Labels: documentation, rpc-aapi

#866 feat: DOCS-457 Adding networks to MetaMask
  pages/rpc-service/chains/chains-list.md
  pages/staking/liquid-staking/bnb/faq.md
Labels: documentation, rpc-aapi

#872 STAKAN-1252: refactor pics and pic sizes a bit
  pages/staking/delegated-staking/ankr/claim-restake-rewards.md
  pages/staking/delegated-staking/ankr/stake.md
  pages/staking/delegated-staking/ankr/unstake.md
  pages/staking/delegated-staking/gnosis/stake.md
  pages/staking/liquid-staking/avax/stake.md
  pages/staking/liquid-staking/bnb/stake.md
  pages/staking/liquid-staking/bnb/unstake.md
  pages/staking/liquid-staking/eth/stake.md
  pages/staking/liquid-staking/ftm/stake.md
  pages/staking/liquid-staking/ftm/unstake.md
  pages/staking/liquid-staking/matic/unstake.md
  pages/staking/liquid-staking/ssv/stake.md
  public/staking/connect-wallet/ankr-staking.jpg
Labels: documentation, staking, docops

#873 STAKAN-1252: refactor pics and pic sizes a bit
  pages/staking/delegated-staking/ankr/claim-restake-rewards.md
  pages/staking/delegated-staking/ankr/stake.md
  pages/staking/delegated-staking/ankr/unstake.md
  pages/staking/delegated-staking/gnosis/stake.md
  pages/staking/liquid-staking/avax/stake.md
  pages/staking/liquid-staking/bnb/stake.md
  pages/staking/liquid-staking/bnb/unstake.md
  pages/staking/liquid-staking/eth/stake.md
  pages/staking/liquid-staking/ftm/stake.md
  pages/staking/liquid-staking/ftm/unstake.md
  pages/staking/liquid-staking/matic/unstake.md
  pages/staking/liquid-staking/ssv/stake.md
  public/staking/connect-wallet/ankr-staking.jpg
Labels: documentation, staking, docops

#874 feat: DOCS-459 Adding testnets to MetaMask
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#875 feat: DOCS-459 Adding testnets to MetaMask
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#876 STAKAN-1252: update MATIC pics, add Bridge pics, add Switch pics, refactor intructions
  pages/staking/bridge/bridge-tokens.md
  pages/staking/liquid-staking/matic/stake.md
  pages/staking/switch/_meta.json
  pages/staking/switch/switch-tokens.md
  public/staking/bridge/add-token-to-wallet.jpg
  public/staking/bridge/click-finish-bridge.jpg
  public/staking/bridge/click-receive.jpg
  public/staking/bridge/click-send.jpg
  public/staking/bridge/click-switch.jpg
  public/staking/bridge/confirm-approval.jpg
  public/staking/bridge/confirm-receiving.jpg
  public/staking/bridge/confirm-sending-transaction.jpg
  public/staking/bridge/confirm-switching-networks-binance.jpg
  public/staking/bridge/connect-wallet.jpg
  public/staking/bridge/enter-amount-click-approve.jpg
  public/staking/bridge/in-progress.jpg
  public/staking/liquid-staking/matic/add-token-to-wallet.jpg
  public/staking/liquid-staking/matic/click-go-to-dashboard.jpg
  public/staking/liquid-staking/matic/click-stake.jpg
  public/staking/liquid-staking/matic/confirm-staking-transaction.jpg
  public/staking/switch/add-switched-tokens-to-wallet.jpg
  public/staking/switch/click-go-to-dashboard.jpg
  public/staking/switch/click-switch.jpg
  public/staking/switch/confirm-switching-tokens.jpg
Labels: documentation, staking, docops

#877 STAKAN-1252: update MATIC pics, add Bridge pics, add Switch pics, refactor intructions
  pages/staking/bridge/bridge-tokens.md
  pages/staking/liquid-staking/matic/stake.md
  pages/staking/switch/_meta.json
  pages/staking/switch/switch-tokens.md
  public/staking/bridge/add-token-to-wallet.jpg
  public/staking/bridge/click-finish-bridge.jpg
  public/staking/bridge/click-receive.jpg
  public/staking/bridge/click-send.jpg
  public/staking/bridge/click-switch.jpg
  public/staking/bridge/confirm-approval.jpg
  public/staking/bridge/confirm-receiving.jpg
  public/staking/bridge/confirm-sending-transaction.jpg
  public/staking/bridge/confirm-switching-networks-binance.jpg
  public/staking/bridge/connect-wallet.jpg
  public/staking/bridge/enter-amount-click-approve.jpg
  public/staking/bridge/in-progress.jpg
  public/staking/liquid-staking/matic/add-token-to-wallet.jpg
  public/staking/liquid-staking/matic/click-go-to-dashboard.jpg
  public/staking/liquid-staking/matic/click-stake.jpg
  public/staking/liquid-staking/matic/confirm-staking-transaction.jpg
  public/staking/switch/add-switched-tokens-to-wallet.jpg
  public/staking/switch/click-go-to-dashboard.jpg
  public/staking/switch/click-switch.jpg
  public/staking/switch/confirm-switching-tokens.jpg
Labels: documentation, staking, docops

#878 DOCS-462: create docs for LS BNB Flash Loansa
  pages/staking/for-integrators/_meta.json
  pages/staking/for-integrators/flash-loan/_meta.json
  pages/staking/for-integrators/flash-loan/overview.md
  pages/staking/liquid-staking/dot/stake.md
  pages/staking/liquid-staking/dot/unstake.md
  public/staking/liquid-staking/dot/add-token-to-wallet.jpg
  public/staking/liquid-staking/dot/click-add-token.jpg
  public/staking/liquid-staking/dot/click-claim.jpg
  public/staking/liquid-staking/dot/click-go-to-dashboard.jpg
  public/staking/liquid-staking/dot/click-minus-button.jpg
  public/staking/liquid-staking/dot/click-sign-the-message.jpg
  public/staking/liquid-staking/dot/click-sign-the-transaction.jpg
  public/staking/liquid-staking/dot/click-stake.jpg
  public/staking/liquid-staking/dot/click-three-dot-menu-button-choose-token-info.jpg
  public/staking/liquid-staking/dot/confirm-claiming-transaction.jpg
  public/staking/liquid-staking/dot/confirm-unstaking-transaction.jpg
  public/staking/liquid-staking/dot/dot-staking-box.jpg
  public/staking/liquid-staking/dot/enter-amount-click-unstake.jpg
  public/staking/liquid-staking/dot/unstake-in-progress.jpg
Labels: documentation, staking

#879 DOCS-462: create docs for LS BNB Flash Loans, fix a typo in Ankr Switch docs
  pages/staking/for-integrators/_meta.json
  pages/staking/for-integrators/flash-loan/_meta.json
  pages/staking/for-integrators/flash-loan/overview.md
  pages/staking/liquid-staking/dot/stake.md
  pages/staking/liquid-staking/dot/unstake.md
  pages/staking/switch/switch-tokens.md
  public/staking/liquid-staking/dot/add-token-to-wallet.jpg
  public/staking/liquid-staking/dot/click-add-token.jpg
  public/staking/liquid-staking/dot/click-claim.jpg
  public/staking/liquid-staking/dot/click-go-to-dashboard.jpg
  public/staking/liquid-staking/dot/click-minus-button.jpg
  public/staking/liquid-staking/dot/click-sign-the-message.jpg
  public/staking/liquid-staking/dot/click-sign-the-transaction.jpg
  public/staking/liquid-staking/dot/click-stake.jpg
  public/staking/liquid-staking/dot/click-three-dot-menu-button-choose-token-info.jpg
  public/staking/liquid-staking/dot/confirm-claiming-transaction.jpg
  public/staking/liquid-staking/dot/confirm-unstaking-transaction.jpg
  public/staking/liquid-staking/dot/dot-staking-box.jpg
  public/staking/liquid-staking/dot/enter-amount-click-unstake.jpg
  public/staking/liquid-staking/dot/unstake-in-progress.jpg
Labels: documentation, staking
