Repository Ankr-network/ankr-docs, pull requests merged in 2022-12, with the labels that each got.

#881 feat: DOCS-466 Chains Quickstart Ethereum's unsupported methods
  pages/rpc-service/chains/chains-list.md
  pages/staking/for-integrators/flash-loan/overview.md
Labels: documentation, rpc-aapi

#882 feat: DOCS-467 RPC Service Public rate limits
  pages/rpc-service/service-plans.md
Labels: documentation, rpc-aapi

#883 feat: DOCS-467 RPC Service Public rate limits
  pages/rpc-service/service-plans.md
Labels: documentation, rpc-aapi

#884 DOCS-450: rename -c LS token to ankr*** (eg ankrETH) and mark -b token deprecated in docs & Strapi
  pages/staking/bridge/bridge-tokens.md
  pages/staking/defi/faq.md
  pages/staking/defi/liquidity-pools.md
  pages/staking/delegated-staking/ankr/faq.md
  pages/staking/extra/glossary.md
  pages/staking/extra/liquid-staking-fees.md
  pages/staking/extra/liquidity-tokens.md
  pages/staking/liquid-staking/avax/overview.md
  pages/staking/liquid-staking/avax/stake.md
  pages/staking/liquid-staking/avax/unstake.md
  pages/staking/liquid-staking/bnb/overview.md
  pages/staking/liquid-staking/bnb/stake.md
  pages/staking/liquid-staking/bnb/unstake.md
  pages/staking/liquid-staking/eth/overview.md
  pages/staking/liquid-staking/eth/stake.md
  pages/staking/liquid-staking/ftm/overview.md
  pages/staking/liquid-staking/ftm/stake.md
  pages/staking/liquid-staking/ftm/unstake.md
  pages/staking/liquid-staking/ksm/overview.md
  pages/staking/liquid-staking/ksm/stake.md
  pages/staking/liquid-staking/matic/overview.md
  pages/staking/liquid-staking/matic/stake.md
  pages/staking/liquid-staking/matic/unstake.md
Labels: documentation, staking

#885 DOCS-450: rename -c LS token to ankr*** (eg ankrETH) and mark -b token deprecated in docs & Strapi
  pages/staking/bridge/bridge-tokens.md
  pages/staking/defi/faq.md
  pages/staking/defi/liquidity-pools.md
  pages/staking/delegated-staking/ankr/faq.md
  pages/staking/extra/glossary.md
  pages/staking/extra/liquid-staking-fees.md
  pages/staking/extra/liquidity-tokens.md
  pages/staking/liquid-staking/avax/overview.md
  pages/staking/liquid-staking/avax/stake.md
  pages/staking/liquid-staking/avax/unstake.md
  pages/staking/liquid-staking/bnb/overview.md
  pages/staking/liquid-staking/bnb/stake.md
  pages/staking/liquid-staking/bnb/unstake.md
  pages/staking/liquid-staking/eth/overview.md
  pages/staking/liquid-staking/eth/stake.md
  pages/staking/liquid-staking/ftm/overview.md
  pages/staking/liquid-staking/ftm/stake.md
  pages/staking/liquid-staking/ftm/unstake.md
  pages/staking/liquid-staking/ksm/overview.md
  pages/staking/liquid-staking/ksm/stake.md
  pages/staking/liquid-staking/matic/overview.md
  pages/staking/liquid-staking/matic/stake.md
  pages/staking/liquid-staking/matic/unstake.md
Labels: documentation, staking

#886 DOCS-450: rename -c LS token to ankr*** (eg ankrETH) and mark -b token deprecated in docs & Strapi
  pages/staking/for-integrators/sdk/liquid-staking-sdk.md
  pages/staking/liquid-staking/avax/faq.md
  pages/staking/liquid-staking/bnb/overview.md
  pages/staking/liquid-staking/dot/stake.md
  pages/staking/liquid-staking/ftm/overview.md
  pages/staking/liquid-staking/overview.md
Labels: documentation, staking

#887 DOCS-450: rename -c LS token to ankr*** (eg ankrETH) and mark -b token deprecated in docs & Strapi
  pages/staking/for-integrators/sdk/liquid-staking-sdk.md
  pages/staking/liquid-staking/avax/faq.md
  pages/staking/liquid-staking/bnb/overview.md
  pages/staking/liquid-staking/dot/stake.md
  pages/staking/liquid-staking/ftm/overview.md
  pages/staking/liquid-staking/overview.md
Labels: documentation, staking

#888 DOCS-450: rename -c LS token to ankr*** (eg ankrETH) and mark -b token deprecated in docs & Strapi
  pages/staking/liquid-staking/bnb/overview.md
Labels: documentation, staking

#889 DOCS-450: rename -c LS token to ankr*** (eg ankrETH) and mark -b token deprecated in docs & Strapi
  pages/staking/liquid-staking/bnb/overview.md
Labels: documentation, staking

#891 finish rolling back
  pages/staking/bridge/bridge-tokens.md
  pages/staking/defi/faq.md
  pages/staking/defi/liquidity-pools.md
  pages/staking/delegated-staking/ankr/faq.md
  pages/staking/extra/glossary.md
  pages/staking/extra/liquid-staking-fees.md
  pages/staking/extra/liquidity-tokens.md
  pages/staking/for-integrators/sdk/liquid-staking-sdk.md
  pages/staking/liquid-staking/avax/faq.md
  pages/staking/liquid-staking/avax/overview.md
  pages/staking/liquid-staking/avax/stake.md
  pages/staking/liquid-staking/avax/unstake.md
  pages/staking/liquid-staking/bnb/overview.md
  pages/staking/liquid-staking/bnb/stake.md
  pages/staking/liquid-staking/bnb/unstake.md
  pages/staking/liquid-staking/dot/stake.md
  pages/staking/liquid-staking/eth/overview.md
  pages/staking/liquid-staking/eth/stake.md
  pages/staking/liquid-staking/ftm/overview.md
  pages/staking/liquid-staking/ftm/stake.md
  pages/staking/liquid-staking/ftm/unstake.md
  pages/staking/liquid-staking/ksm/overview.md
  pages/staking/liquid-staking/ksm/stake.md
  pages/staking/liquid-staking/matic/overview.md
  pages/staking/liquid-staking/matic/stake.md
  pages/staking/liquid-staking/matic/unstake.md
  pages/staking/liquid-staking/overview.md
  pages/staking/liquid-staking/ssv/faq.md
Labels: documentation, staking

#892 feat: DOCS-454 Ethereum api reference added and chains number edited
  pages/index.md
  pages/rpc-service/chains/chains-api/ethereum.md
  pages/rpc-service/chains/chains-api/ethereum/_meta.json
  pages/rpc-service/chains/chains-api/ethereum/how-to/_meta.json
  pages/rpc-service/chains/chains-api/ethereum/how-to/basic-dapp.md
  pages/rpc-service/chains/chains-api/ethereum/how-to/connect-metamask.md
  pages/rpc-service/chains/chains-api/ethereum/how-to/make-requests.md
  pages/rpc-service/chains/chains-api/ethereum/how-to/send-transaction.md
  pages/rpc-service/chains/chains-api/ethereum/overview.md
  pages/rpc-service/chains/chains-list.md
  pages/rpc-service/service-plans.md
  public/build/chain-info.png
  redirects.json
Labels: documentation, rpc-aapi

#893 feat: DOCS-454 Ethereum api reference added and chains number edited
  pages/index.md
  pages/rpc-service/chains/chains-api/ethereum.md
  pages/rpc-service/chains/chains-api/ethereum/_meta.json
  pages/rpc-service/chains/chains-api/ethereum/how-to/_meta.json
  pages/rpc-service/chains/chains-api/ethereum/how-to/basic-dapp.md
  pages/rpc-service/chains/chains-api/ethereum/how-to/connect-metamask.md
  pages/rpc-service/chains/chains-api/ethereum/how-to/make-requests.md
  pages/rpc-service/chains/chains-api/ethereum/how-to/send-transaction.md
  pages/rpc-service/chains/chains-api/ethereum/overview.md
  pages/rpc-service/chains/chains-list.md
  pages/rpc-service/service-plans.md
  pages/staking/bridge/bridge-tokens.md
  pages/staking/defi/faq.md
  pages/staking/defi/liquidity-pools.md
  pages/staking/delegated-staking/ankr/faq.md
  pages/staking/extra/glossary.md
  pages/staking/extra/liquid-staking-fees.md
  pages/staking/extra/liquidity-tokens.md
  pages/staking/for-integrators/sdk/liquid-staking-sdk.md
  pages/staking/liquid-staking/avax/faq.md
  pages/staking/liquid-staking/avax/overview.md
  pages/staking/liquid-staking/avax/stake.md
  pages/staking/liquid-staking/avax/unstake.md
  pages/staking/liquid-staking/bnb/overview.md
  pages/staking/liquid-staking/bnb/stake.md
  pages/staking/liquid-staking/bnb/unstake.md
  pages/staking/liquid-staking/dot/stake.md
  pages/staking/liquid-staking/eth/overview.md
  pages/staking/liquid-staking/eth/stake.md
  pages/staking/liquid-staking/ftm/overview.md
  pages/staking/liquid-staking/ftm/stake.md
  pages/staking/liquid-staking/ftm/unstake.md
  pages/staking/liquid-staking/ksm/overview.md
  pages/staking/liquid-staking/ksm/stake.md
  pages/staking/liquid-staking/matic/overview.md
  pages/staking/liquid-staking/matic/stake.md
  pages/staking/liquid-staking/matic/unstake.md
  pages/staking/liquid-staking/overview.md
  public/build/chain-info.png
  redirects.json
Labels: documentation, rpc-aapi

#895 rename aBNBc to ankrBNB, update BinancePool Proxy address for BNB Dev Details
  pages/staking/for-integrators/dev-details/bnb-liquid-staking-mechanics.md
  pages/staking/for-integrators/smart-contract-api/bnb-api.md
Labels: documentation, staking

#896 feat: DOCS-474 Down with Hybrid Infra
  pages/rpc-service/_meta.json
  pages/rpc-service/getting-started.md
  pages/rpc-service/hybrid-infrastructure.md
  pages/rpc-service/service-plans.md
  pages/staking/delegated-staking/ankr/faq.md
  pages/staking/liquid-staking/avax/faq.md
Labels: documentation, rpc-aapi

#897 feat: DOCS-474 Down with Hybrid Infra
  pages/rpc-service/_meta.json
  pages/rpc-service/getting-started.md
  pages/rpc-service/hybrid-infrastructure.md
  pages/rpc-service/service-plans.md
  pages/staking/delegated-staking/ankr/faq.md
  pages/staking/liquid-staking/avax/faq.md
Labels: documentation, rpc-aapi

#898 update brand assets names, add ankr token staking audit
  pages/staking/delegated-staking/ankr/overview.md
  pages/staking/extra/brand-assets.md
Labels: documentation, staking

#899 remove redundant aBNBc mentions
  pages/staking/for-integrators/oracles/pancakeswap-oracle.md
  pages/staking/for-integrators/oracles/redemption-price-oracle.md
Labels: documentation, staking

#900 remove redundant -с tokens mentions, rename more instances of -c tokens into ankr-
  pages/staking/bridge/bridge-tokens.md
  pages/staking/defi/faq.md
  pages/staking/defi/liquidity-pools.md
  pages/staking/defi/overview.md
  pages/staking/defi/vaults.md
  pages/staking/extra/_meta.json
  pages/staking/extra/brand-assets.md
  pages/staking/extra/liquidity-tokens.md
  pages/staking/extra/ls-sc-addresses-mn.md
  pages/staking/extra/ls-sc-addresses-tn.md
  pages/staking/extra/switch-aethc-binance.md
  pages/staking/for-integrators/dev-details/avax-liquid-staking-mechanics.md
  pages/staking/for-integrators/dev-details/bnb-liquid-staking-mechanics.md
  pages/staking/for-integrators/dev-details/eth-liquid-staking-mechanics.md
  pages/staking/for-integrators/dev-details/ftm-liquid-staking-mechanics.md
  pages/staking/for-integrators/dev-details/ksm-liquid-staking-mechanics.md
  pages/staking/for-integrators/dev-details/matic-liquid-staking-mechanics.md
  pages/staking/for-integrators/dev-details/switch-mechanics.md
  pages/staking/for-integrators/oracles/pancakeswap-oracle.md
  pages/staking/for-integrators/oracles/redemption-price-oracle.md
  pages/staking/for-integrators/sdk/liquid-staking-sdk.md
  pages/staking/for-integrators/smart-contract-api/avax-api.md
  pages/staking/for-integrators/smart-contract-api/bnb-api.md
  pages/staking/for-integrators/smart-contract-api/eth-api.md
  pages/staking/for-integrators/smart-contract-api/ftm-api.md
  pages/staking/for-integrators/smart-contract-api/matic-api.md
  pages/staking/liquid-staking/avax/faq.md
  pages/staking/liquid-staking/avax/stake.md
  pages/staking/liquid-staking/bnb/faq.md
  pages/staking/liquid-staking/bnb/overview.md
  pages/staking/liquid-staking/bnb/stake.md
  pages/staking/liquid-staking/bnb/unstake.md
  pages/staking/liquid-staking/eth/faq.md
  pages/staking/liquid-staking/eth/overview.md
  pages/staking/liquid-staking/eth/stake.md
  pages/staking/liquid-staking/ftm/faq.md
  pages/staking/liquid-staking/ftm/overview.md
  pages/staking/liquid-staking/ftm/stake.md
  pages/staking/liquid-staking/matic/faq.md
  pages/staking/liquid-staking/matic/overview.md
  pages/staking/liquid-staking/matic/stake.md
  pages/staking/liquid-staking/matic/unstake.md
  pages/staking/liquid-staking/overview.md
  pages/staking/liquid-staking/ssv/faq.md
  pages/staking/overview.md
  pages/staking/switch/overview.md
  pages/staking/switch/switch-tokens.md
Labels: documentation, staking

#901 update ankrBNB sc address
  pages/staking/extra/ls-sc-addresses-mn.md
Labels: documentation, staking

#902 update BNB dev details
  pages/app-chains/chainscanner.md
  pages/staking/for-integrators/dev-details/bnb-liquid-staking-mechanics.md
Labels: documentation, staking

#903 update BNB dev details
  pages/staking/extra/ls-sc-addresses-mn.md
  pages/staking/for-integrators/dev-details/bnb-liquid-staking-mechanics.md
  pages/staking/for-integrators/smart-contract-api/bnb-api.md
Labels: documentation, staking

#904 feat: DOCS-474 Sign in via wallet or Gauth and payment via wallet and card flows
  pages/rpc-service/_meta.json
  pages/rpc-service/card-flow.md
  pages/rpc-service/getting-started.md
  pages/staking/liquid-staking/avax/faq.md
  pages/staking/liquid-staking/bnb/faq.md
  pages/staking/liquid-staking/eth/faq.md
  pages/staking/liquid-staking/ftm/faq.md
  pages/staking/liquid-staking/matic/faq.md
  public/build/initial-deposit.png
  public/build/usd-initial-deposit.png
  public/build/usd-subsequent-deposit.png
  redirects.json
Labels: documentation, rpc-aapi

#905 feat: DOCS-474 Sign in via wallet or Gauth and payment via wallet and card flows
  pages/rpc-service/_meta.json
  pages/rpc-service/card-flow.md
  pages/rpc-service/getting-started.md
  pages/staking/liquid-staking/avax/faq.md
  pages/staking/liquid-staking/bnb/faq.md
  pages/staking/liquid-staking/eth/faq.md
  pages/staking/liquid-staking/ftm/faq.md
  pages/staking/liquid-staking/matic/faq.md
  public/build/initial-deposit.png
  public/build/usd-initial-deposit.png
  public/build/usd-subsequent-deposit.png
  redirects.json
Labels: documentation, rpc-aapi

#906 hotfix: DOCS-477 Warning callouts for unsupported methods in Chains Quickstart
  pages/rpc-service/chains/chains-list.md
  pages/staking/liquid-staking/eth/faq.md
  pages/staking/liquid-staking/matic/faq.md
  pages/staking/liquid-staking/ssv/faq.md
Labels: documentation, rpc-aapi

#907 hotfix: DOCS-477 Warning callouts for unsupported methods in Chains Quickstart
  pages/rpc-service/chains/chains-list.md
  pages/staking/liquid-staking/eth/faq.md
  pages/staking/liquid-staking/matic/faq.md
  pages/staking/liquid-staking/ssv/faq.md
Labels: documentation, rpc-aapi

#908 final brush ups on token renaming
  pages/staking/bridge/overview.md
  pages/staking/defi/faq.md
  pages/staking/extra/_meta.json
  pages/staking/extra/switch-ankreth-binance.md
  pages/staking/for-integrators/dev-details/avax-liquid-staking-mechanics.md
  pages/staking/for-integrators/dev-details/eth-liquid-staking-mechanics.md
  pages/staking/for-integrators/dev-details/ftm-liquid-staking-mechanics.md
  pages/staking/for-integrators/dev-details/matic-liquid-staking-mechanics.md
  pages/staking/for-integrators/dev-details/switch-mechanics.md
  pages/staking/for-integrators/oracles/pancakeswap-oracle.md
  pages/staking/for-integrators/sdk/liquid-staking-sdk.md
  pages/staking/for-integrators/smart-contract-api/ftm-api.md
  pages/staking/switch/overview.md
Labels: documentation, staking

#909 feat: DOCS-478 Filecoin added to Chains Quickstart
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#910 feat: DOCS-478 Filecoin added to Chains Quickstart
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#911 feat: DOCS-478 Filecoin list of method added
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#912 feat: DOCS-478 Filecoin list of methods added
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#914 feat: DOCS-479 AAPI new method and some additional parameters
  pages/advanced-api/overview.md
  pages/advanced-api/query-methods.md
  pages/advanced-api/token-methods.md
  pages/staking/liquid-staking/ssv/faq.md
Labels: documentation, rpc-aapi

#915 feat: DOCS-479 AAPI new method and some additional parameters
  pages/advanced-api/overview.md
  pages/advanced-api/query-methods.md
  pages/advanced-api/token-methods.md
  pages/staking/liquid-staking/ssv/faq.md
Labels: documentation, rpc-aapi

#916 chore: DOCS-481 Whitelist parameter hotfix
  pages/advanced-api/token-methods.md
Labels: documentation, rpc-aapi

#917 chore: DOCS-481 Whitelist parameter hotfix
  pages/advanced-api/token-methods.md
Labels: documentation, rpc-aapi

#918 feat: DOCS-482 RPC Ethereum Ropsten removed
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#919 feat: DOCS-482 RPC Ethereum Ropsten removed
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#920 fix link to redemption price oracle in oracles/overview, update link to Ankr 1 validator on Polygon in extra/ankr-validators
  pages/staking/extra/ankr-validators.md
  pages/staking/for-integrators/oracles/overview.md
Labels: documentation, staking

#921 fix SSV heading in overview.md
  pages/staking/liquid-staking/ssv/overview.md
Labels: documentation, staking

#922 chore: DOCS-483 AAPI ankr_gettokenpricehistory method commented
  pages/advanced-api/overview.md
  pages/advanced-api/pricing.md
  pages/advanced-api/token-methods.md
Labels: documentation, rpc-aapi

#923 chore: DOCS-483 AAPI ankr_gettokenpricehistory method removed
  pages/advanced-api/token-methods.md
Labels: documentation, rpc-aapi

#924 chore: DOCS-483 AAPI ankr_gettokenpricehistory method removed
  pages/advanced-api/overview.md
  pages/advanced-api/pricing.md
  pages/advanced-api/token-methods.md
  pages/staking/defi/faq.md
  pages/staking/for-integrators/dev-details/matic-liquid-staking-mechanics.md
  pages/staking/liquid-staking/avax/faq.md
  pages/staking/liquid-staking/bnb/faq.md
  pages/staking/liquid-staking/eth/faq.md
  pages/staking/liquid-staking/ftm/faq.md
  pages/staking/liquid-staking/matic/faq.md
  pages/staking/liquid-staking/ssv/faq.md
  pages/staking/liquid-staking/ssv/overview.md
Labels: documentation, rpc-aapi

#925 chore: DOCS-483 AAPI method finally removed
  pages/advanced-api/overview.md
Labels: documentation, rpc-aapi

#926 chore: DOCS-483 AAPI method finally removed
  pages/advanced-api/overview.md
Labels: documentation, rpc-aapi

#927 remove the staking page for Kusam LS, add the missing claim-unstaked-ankr pic to ANKR DS
  pages/staking/delegated-staking/ankr/unstake.md
  pages/staking/liquid-staking/ksm/stake.md
  public/staking/delegated-staking/ankr/claim-unstaked-ankr.jpg
Labels: documentation, staking

#929 Sync main with stage
  package.json
  pages/advanced-api/_meta.json
  pages/advanced-api/specification.mdx
  src/styles/global.css
  yarn.lock
Labels: documentation
