Repository Ankr-network/ankr-docs, pull requests merged in 2022-07, with the labels that each got.

#456 fix(broken links in overview):DOCS-211-fix-broken-links
  docs/build-blockchain/build-overview.md
Labels: documentation, build

#469 chore: DOCS-213 build docs restructure after feedback
  docs/build-blockchain/build-overview.md
  docs/build-blockchain/products/v2/01-public-community-rpcs.md
  docs/build-blockchain/products/v2/premium-get-started.md
  sidebars.js
Labels: documentation, build

#471 chore: DOCS-213 BNB Sidechain comeback
  sidebars.js
Labels: documentation, build

#496 feature: DOCS-216 Product pricing, PAYG, pricing calculator
  docs/build-blockchain/concepts/pricing-plans.md
  docusaurus.config.js
  sidebars.js
Labels: documentation, build

#500 feat/DOCS-216 Pricing plan, payg, and calculator
  docs/build-blockchain/concepts/pricing-plans.md
  docusaurus.config.js
  sidebars.js
Labels: documentation, build

#501 hotfix: DOCS-233 Excessive md upon Build restructuring fixed
  docs/build-blockchain/get-started/pricing-plans.md
Labels: documentation, build

#502 hotfix: DOCS-233 Excessive MD file upon Build restructuring
  docs/build-blockchain/get-started/pricing-plans.md
Labels: documentation, build

#504 feat: DOCS-232 Gaming UnitySDK API Reference section
  docs/game/extra/csharp-to-solidity.md
  docs/game/extra/currency-units.md
  docs/game/extra/events-and-subscriptions.md
  docs/game/extra/gas-fees-gas-free-methods.md
  docs/game/unity/api-reference/ankr-sdk-factory/ankr-sdk-factory.md
  docs/game/unity/api-reference/ankr-sdk-factory/get-ankr-sdk-instance.md
  docs/game/unity/api-reference/ankr-sdk-wrapper/ankr-sdk-wrapper.md
  docs/game/unity/api-reference/ankr-sdk-wrapper/create-subscriber.md
  docs/game/unity/api-reference/ankr-sdk-wrapper/disconnect.md
  docs/game/unity/api-reference/ankr-sdk-wrapper/get-contract.md
  docs/game/unity/api-reference/contract-event-subscriber/constructor.md
  docs/game/unity/api-reference/contract-event-subscriber/contract-event-subscriber.md
  docs/game/unity/api-reference/contract-event-subscriber/listen-for-events.md
  docs/game/unity/api-reference/contract-event-subscriber/stop-listen.md
  docs/game/unity/api-reference/contract-event-subscriber/subscribe.md
  docs/game/unity/api-reference/contract-event-subscriber/unsubscribe.md
  docs/game/unity/api-reference/contract/call-method.md
  docs/game/unity/api-reference/contract/contract.md
  docs/game/unity/api-reference/contract/estimate-gas.md
  docs/game/unity/api-reference/contract/get-data.md
  docs/game/unity/api-reference/contract/get-events.md
  docs/game/unity/api-reference/contract/web3-send-method.md
  docs/game/unity/api-reference/eth-handler/estimate-gas-2.md
  docs/game/unity/api-reference/eth-handler/eth-handler.md
  docs/game/unity/api-reference/eth-handler/get-balance.md
  docs/game/unity/api-reference/eth-handler/get-block-number.md
  docs/game/unity/api-reference/eth-handler/get-block-with-transactions-hashes.md
  docs/game/unity/api-reference/eth-handler/get-block-with-transactions.md
  docs/game/unity/api-reference/eth-handler/get-default-account.md
  docs/game/unity/api-reference/eth-handler/get-transaction-count.md
  docs/game/unity/api-reference/eth-handler/get-transaction-receipt.md
  docs/game/unity/api-reference/eth-handler/get-transaction.md
  docs/game/unity/api-reference/eth-handler/send-transaction.md
  docs/game/unity/api-reference/eth-handler/sign.md
  sidebars.js
Labels: documentation, game

#505 DOCS-234: Update "Add Liquidity" in DeFi with aAVAXc/AVAX option on T…
  docs/staking/defi/defi-provide-liquidity-dex.md
Labels: documentation, staking

#507 DOCS-238: Update integrations, fix the routing
  docs/staking/extra/integrations.md
  docs/staking/extra/liquid-staking-fees.md
  docs/staking/extra/staking-metrics.md
  docs/staking/extra/switch-aethc-binance.md
Labels: documentation, staking

#508 hotfix: DOCS-239: update instructions on how to provide liquidity
  docs/staking/defi/defi-provide-liquidity-dex.md
Labels: documentation, staking

#509 hotfix: DOCS-239 update liquidity pools instructions
  docs/staking/defi/defi-provide-liquidity-dex.md
Labels: documentation, staking

#510 hotfix: DOCS-239 update liquidity pools instructions
  docs/staking/defi/defi-provide-liquidity-dex.md
Labels: documentation, staking

#511 DOCS-239: add new aETHc/ETH LP on PancakeSwap
  docs/staking/defi/defi-provide-liquidity-dex.md
Labels: documentation, staking

#513 DOCS-239: swap wrongly placed steps
  docs/staking/defi/defi-provide-liquidity-dex.md
Labels: documentation, staking

#514 DOCS-239: swap wrongly placed steps
  docs/staking/defi/defi-provide-liquidity-dex.md
Labels: documentation, staking

#515 chore: DOCS-243 Premium Tier links added while broken links fixed
  docs/build-blockchain/products/v2/premium-endpoints.md
  docs/build-blockchain/products/v2/premium-get-started.md
  sidebars.js
Labels: documentation, build

#516 chore: DOCS-243 Adding new links and fixing broken ones.
  docs/build-blockchain/products/v2/premium-endpoints.md
  docs/build-blockchain/products/v2/premium-get-started.md
  sidebars.js
Labels: documentation, build

#520 feat: DOCS-327 Gaming Unreal Engine SDK reference section
  docs/game/unreal/getting-started/00-before-you-start.md
  docs/game/unreal/getting-started/01-connect-unreal.md
  docs/game/unreal/getting-started/02-sending-transactions.md
  docs/game/unreal/getting-started/03-update-nft.md
  docs/game/unreal/getting-started/04-mint-nft.md
Labels: documentation, gaming

#521 added a few more tuts.
  docs/learn/tutorials/our-tutorials.md
Labels: tutorials

#523 DOCS-247 DOCS-248: create an intro page for AvalancheSDK in the AVAX …
  docs/staking/liquid-staking/avax/avax-sdk.md
  docs/staking/liquid-staking/bnb/bnb-sdk.md
  docs/staking/liquid-staking/eth/eth-sdk.md
  docs/staking/liquid-staking/ftm/ftm-sdk.md
  docs/staking/liquid-staking/matic/matic-sdk.md
Labels: documentation, staking

#524 DOCS-247 DOCS-248: create an intro page for AvalancheSDK in the AVAX Liquid Staking section, create an intro page for FantomSDK in the FTM Liquid Staking section
  docs/staking/liquid-staking/avax/avax-sdk.md
  docs/staking/liquid-staking/bnb/bnb-sdk.md
  docs/staking/liquid-staking/eth/eth-sdk.md
  docs/staking/liquid-staking/ftm/ftm-sdk.md
  docs/staking/liquid-staking/matic/matic-sdk.md
Labels: documentation, staking

#525 DOCS-247 DOCS-248: update the SDK overview page
  docs/staking/sdk-overview.md
Labels: documentation, staking

#526 DOCS-247 DOCS-248: update the SDK overview page
  docs/staking/sdk-overview.md
Labels: documentation, staking

#527 feat: DOCS-237 Gaming SDK minor cleaning up
  docs/game/unreal/getting-started/02-sending-transactions.md
  docs/game/unreal/getting-started/03-update-nft.md
  docs/game/unreal/getting-started/04-mint-nft.md
Labels: documentation, gaming

#528 feat: DOCS-237 Gaming SDK minor cleaning up
  docs/game/unreal/getting-started/02-sending-transactions.md
  docs/game/unreal/getting-started/03-update-nft.md
  docs/game/unreal/getting-started/04-mint-nft.md
Labels: documentation, gaming

#529 DOCS-247 DOCS-248: add AVAX and FTM SDKs to sidebar
  sidebars.js
Labels: documentation, staking

#531 DOCS-249: add LS tokens sc addresses, update LS sc tables in Extra, rearrange LS tokens alphabetically
  docs/staking/extra/ls-smart-contract-addresses-mn.md
  docs/staking/extra/ls-smart-contract-addresses-tn.md
  docs/staking/liquid-staking/avax/avax-liquid-staking-overview.md
  docs/staking/liquid-staking/bnb/bnb-liquid-staking-mechanics.md
  docs/staking/liquid-staking/bnb/bnb-liquid-staking-overview.md
  docs/staking/liquid-staking/dot/dot-liquid-staking-overview.md
  docs/staking/liquid-staking/eth/eth-liquid-staking-overview.md
  docs/staking/liquid-staking/ftm/ftm-liquid-staking-overview.md
  docs/staking/liquid-staking/ksm/ksm-liquid-staking-overview.md
  docs/staking/liquid-staking/matic/matic-liquid-staking-overview.md
  sidebars.js
Labels: documentation, staking

#532 [WEBSITE-126] Improved canonical
  docs/staking/extra/integrations.md
  docusaurus.config.js
Labels: documentation, staking

#533 DOCS-249: fix broken links
  docs/build-blockchain/chains/v2/ethereum/how-to/send-transaction.md
Labels: documentation, build

#534 DOCS-253: create docs for Binance LS APR
  docs/staking/extra/ls-smart-contract-addresses-mn.md
  docs/staking/liquid-staking/bnb/bnb-api.md
Labels: documentation, staking

#535 DOCS-253: create docs for Binance LS APR
  docs/staking/liquid-staking/bnb/bnb-api.md
Labels: documentation, staking

#536 DOCS-253: create docs for Binance LS APR
  docs/staking/liquid-staking/bnb/bnb-api.md
Labels: documentation, staking

#537 feat: DOCS-244 Advanced APIs migrated, enriched with info, css updated
  docs/build-blockchain/products/advanced-apis/advanced-apis-overview.md
  docs/build-blockchain/products/advanced-apis/nft-api.md
  docs/build-blockchain/products/advanced-apis/query-api.md
  docs/build-blockchain/products/advanced-apis/token-api.md
  docs/build-blockchain/products/v2/advanced-apis.md
  sidebars.js
  static/css/custom.css
Labels: documentation, build

#538 feat: DOCS-244 Advanced APIs migrated, enriched with info, css updated
  docs/build-blockchain/products/advanced-apis/advanced-apis-overview.md
  docs/build-blockchain/products/advanced-apis/nft-api.md
  docs/build-blockchain/products/advanced-apis/query-api.md
  docs/build-blockchain/products/advanced-apis/token-api.md
  docs/build-blockchain/products/v2/advanced-apis.md
  sidebars.js
  static/css/custom.css
Labels: documentation, build

#539 DOCS-250 DOCS-256: see the PR description for the actions applied
  docs/deprecated/defi/defi-provide-liquidity-dex.md
  docs/deprecated/defi/defi-yield-farm.md
  docs/staking/defi/defi-overview.md
  docs/staking/defi/faq.md
  docs/staking/liquid-staking/dot/dot-liquid-staking-stake.md
  docs/staking/liquid-staking/dot/dot-liquid-staking-unstake.md
  docs/staking/liquid-staking/ksm/ksm-liquid-staking-stake.md
  sidebars.js
Labels: documentation, staking

#540 DOCS-250 DOCS-256: see the PR description for the actions applied
  docs/deprecated/defi/defi-provide-liquidity-dex.md
  docs/deprecated/defi/defi-yield-farm.md
  docs/staking/defi/defi-overview.md
  docs/staking/defi/faq.md
  docs/staking/liquid-staking/dot/dot-liquid-staking-stake.md
  docs/staking/liquid-staking/dot/dot-liquid-staking-unstake.md
  docs/staking/liquid-staking/ksm/ksm-liquid-staking-stake.md
  sidebars.js
Labels: documentation, staking
