Repository Ankr-network/ankr-docs, pull requests merged in 2022-09, with the labels that each got.

#612 DOCS-313: add Shanghai info to ETH Liquid Staking
  docs/staking/liquid-staking/eth/eth-liquid-staking-faq.md
  docs/staking/liquid-staking/eth/eth-liquid-staking-overview.md
  docs/staking/liquid-staking/eth/eth-liquid-staking-stake.md
  docs/staking/liquid-staking/eth/unstake-eth.md
Labels: documentation, staking

#613 DOCS-313: add Shanghai info to ETH Liquid Staking
  docs/staking/liquid-staking/eth/eth-liquid-staking-faq.md
  docs/staking/liquid-staking/eth/eth-liquid-staking-overview.md
  docs/staking/liquid-staking/eth/eth-liquid-staking-stake.md
  docs/staking/liquid-staking/eth/unstake-eth.md
Labels: documentation, staking

#615 DOCS-314 & DOCS-315: APR for aMATICb/c, uniform formatting for LS API, link to off ETH news for DOCS-313
  docs/staking/liquid-staking/avax/avax-api.md
  docs/staking/liquid-staking/bnb/bnb-api.md
  docs/staking/liquid-staking/eth/eth-api.md
  docs/staking/liquid-staking/eth/eth-liquid-staking-faq.md
  docs/staking/liquid-staking/eth/eth-liquid-staking-overview.md
  docs/staking/liquid-staking/eth/eth-liquid-staking-stake.md
  docs/staking/liquid-staking/eth/unstake-eth.md
  docs/staking/liquid-staking/ftm/ftm-api.md
  docs/staking/liquid-staking/matic/matic-api.md
Labels: documentation, staking

#616 DOCS-314 & DOCS-315: APR for aMATICb/c, uniform formatting for LS API, link to off ETH news for DOCS-313
  docs/staking/liquid-staking/avax/avax-api.md
  docs/staking/liquid-staking/bnb/bnb-api.md
  docs/staking/liquid-staking/eth/eth-api.md
  docs/staking/liquid-staking/eth/eth-liquid-staking-faq.md
  docs/staking/liquid-staking/eth/eth-liquid-staking-overview.md
  docs/staking/liquid-staking/eth/eth-liquid-staking-stake.md
  docs/staking/liquid-staking/eth/unstake-eth.md
  docs/staking/liquid-staking/ftm/ftm-api.md
  docs/staking/liquid-staking/matic/matic-api.md
Labels: documentation, staking

#617 DOCS-314: fix aMATICb/c addresses for the API ref
  docs/staking/liquid-staking/matic/matic-api.md
Labels: documentation, staking

#618 STAKAN-1851: fix LS FAQ
  docs/staking/liquid-staking/bnb/bnb-liquid-staking-faq.md
  docs/staking/liquid-staking/dot/dot-liquid-staking-faq.md
  docs/staking/liquid-staking/ksm/ksm-liquid-staking-mechanics.md
  docs/staking/liquid-staking/ksm/ksm-liquid-staking-overview.md
Labels: documentation, staking

#620 chore: DOCS-318 BNB Sidechain FAQ changes requested on telegram
  docs/build-blockchain/app-chain/bnb-sidechain/faq.md
Labels: documentation

#621 chore: DOCS-318 BNB Sidechain FAQ cleaning up
  docs/build-blockchain/app-chain/bnb-sidechain/faq.md
Labels: documentation

#625 feat: DOCS-308 Methods pricing plus comparison chart
  docs/build-blockchain/concepts/pricing-plans.md
  docs/build-blockchain/pricing-plans.md
  docs/build-blockchain/products/v2/ui-interactions-blockchain.md
Labels: documentation, build

#626 feat: DOCS-308 Methods pricing and plans comparison chart
  docs/build-blockchain/concepts/pricing-plans.md
  docs/build-blockchain/pricing-plans.md
  docs/build-blockchain/products/v2/ui-interactions-blockchain.md
Labels: documentation, build

#627 feat: DOCS-326 App Chains — Relay Hub
  docs/build-blockchain/app-chain/components/relay-hub.md
  docs/build-blockchain/app-chain/overview.md
  sidebars.js
Labels: documentation, app chains

#628 feat: DOCS-326 App Chains — Relay Hub
  docs/build-blockchain/app-chain/components/relay-hub.md
  docs/build-blockchain/app-chain/overview.md
  sidebars.js
Labels: documentation, app chains

#630 DOCS-328: create docs for Gnosis Delegated Staking
  docs/staking/delegated-staking/ankr/stake.md
  docs/staking/delegated-staking/mgno/faq.md
  docs/staking/delegated-staking/mgno/overview.md
  docs/staking/delegated-staking/mgno/stake.md
  sidebars.js
Labels: documentation, staking

#631 DOCS-328: fix a typo
  docs/staking/delegated-staking/mgno/stake.md
Labels: documentation, staking

#632 DOCS-328: fix a typo
  docs/staking/delegated-staking/mgno/stake.md
Labels: documentation, staking

#634 feat: DOCS-330 Card payment flow accessed via direct link
  docs/build-blockchain/products/v2/card-flow.md
  static/img/build/card-add-email.png
  static/img/build/card-billing.png
  static/img/build/card-email-confirm.png
  static/img/build/card-email-invite.png
  static/img/build/card-email.png
  static/img/build/card-metamask.png
  static/img/build/card-settings.png
  static/img/build/card-stripe.png
Labels: documentation, build

#635 feat: DOCS-330 Card payment flow accessed via direct link
  docs/build-blockchain/products/v2/card-flow.md
  static/img/build/card-add-email.png
  static/img/build/card-billing.png
  static/img/build/card-email-confirm.png
  static/img/build/card-email-invite.png
  static/img/build/card-email.png
  static/img/build/card-metamask.png
  static/img/build/card-settings.png
  static/img/build/card-stripe.png
Labels: documentation, build

#636 DOCS-331: adds pics to FTM LS
  docs/staking/liquid-staking/ftm/ftm-liquid-staking-stake.md
  docs/staking/liquid-staking/ftm/ftm-liquid-staking-unstake.md
  static/img/staking/choose-ftm-box.png
  static/img/staking/choose-metamask.png
  static/img/staking/enter-amount-choose-token.png
  static/img/staking/grant-access-to-wallet.png
  static/img/staking/metamask-connected.png
  static/img/staking/stake-ftm.png
  static/img/staking/switch-network.png
Labels: documentation, staking

#637 DOCS-331: adds pics to FTM LS
  docs/staking/liquid-staking/ftm/ftm-liquid-staking-stake.md
  docs/staking/liquid-staking/ftm/ftm-liquid-staking-unstake.md
  static/img/staking/choose-ftm-box.png
  static/img/staking/choose-metamask.png
  static/img/staking/enter-amount-choose-token.png
  static/img/staking/grant-access-to-wallet.png
  static/img/staking/metamask-connected.png
  static/img/staking/stake-ftm.png
  static/img/staking/switch-network.png
Labels: documentation, staking

#638 DOCS-331: adds pics to FTM LS
  docs/staking/liquid-staking/ftm/ftm-liquid-staking-stake.md
  docs/staking/liquid-staking/ftm/ftm-liquid-staking-unstake.md
  static/img/staking/add-liquid-token-to-wallet.png
  static/img/staking/choose-ftm-box.png
  static/img/staking/ftm-ls/confirm-staking-ftm.png
  static/img/staking/ftm-ls/confirm-switching-network.png
  static/img/staking/ftm-ls/confirm-unstaking-in-wallet.png
  static/img/staking/ftm-ls/enter-amount-choose-token.png
  static/img/staking/ftm-ls/enter-amount-ftm-to-unstake.png
  static/img/staking/ftm-ls/ftm-box-unstake-button.jpg
  static/img/staking/ftm-ls/ftm-ls-box.png
  static/img/staking/ftm-ls/raw/ankr-staking-dashboard.png
  static/img/staking/ftm-ls/raw/pending-unstake.png
  static/img/staking/ftm-ls/raw/unstake-fantom.png
  static/img/staking/ftm-ls/raw/unstaking-status-dashboard.png
  static/img/staking/ftm-ls/stake-successful.png
  static/img/staking/ftm-ls/staking-menu.png
  static/img/staking/ftm-ls/switch-network-to-ftm.png
  static/img/staking/ftm-ls/unstake-pending.png
  static/img/staking/ftm-ls/unstaking-status-on-dashboard.png
  static/img/staking/stake-successful.png
Labels: documentation, staking

#639 DOCS-331: adds pics to FTM LS
  docs/staking/liquid-staking/ftm/ftm-liquid-staking-stake.md
  docs/staking/liquid-staking/ftm/ftm-liquid-staking-unstake.md
  static/img/staking/add-liquid-token-to-wallet.png
  static/img/staking/choose-ftm-box.png
  static/img/staking/ftm-ls/confirm-staking-ftm.png
  static/img/staking/ftm-ls/confirm-switching-network.png
  static/img/staking/ftm-ls/confirm-unstaking-in-wallet.png
  static/img/staking/ftm-ls/enter-amount-choose-token.png
  static/img/staking/ftm-ls/enter-amount-ftm-to-unstake.png
  static/img/staking/ftm-ls/ftm-box-unstake-button.jpg
  static/img/staking/ftm-ls/ftm-ls-box.png
  static/img/staking/ftm-ls/raw/ankr-staking-dashboard.png
  static/img/staking/ftm-ls/raw/pending-unstake.png
  static/img/staking/ftm-ls/raw/unstake-fantom.png
  static/img/staking/ftm-ls/raw/unstaking-status-dashboard.png
  static/img/staking/ftm-ls/stake-successful.png
  static/img/staking/ftm-ls/staking-menu.png
  static/img/staking/ftm-ls/switch-network-to-ftm.png
  static/img/staking/ftm-ls/unstake-pending.png
  static/img/staking/ftm-ls/unstaking-status-on-dashboard.png
  static/img/staking/stake-successful.png
Labels: documentation, staking

#640 DOCS-328: host instructions how to convert GNO to mGNO from the original docs and fix the wrong link in them
  docs/staking/delegated-staking/mgno/stake.md
Labels: documentation, staking

#642 DOCS-335: Add unstaking details for BNB Liquid Staking
  docs/staking/liquid-staking/bnb/bnb-liquid-staking-mechanics.md
  docs/staking/liquid-staking/bnb/bnb-liquid-staking-unstake.md
Labels: documentation, staking

#643 DOCS-335: Add unstaking details for BNB Liquid Staking
  docs/staking/liquid-staking/bnb/bnb-liquid-staking-mechanics.md
  docs/staking/liquid-staking/bnb/bnb-liquid-staking-unstake.md
Labels: documentation, staking

#644 DOCS-335, DOCS-337, DOCS-336: micropool mGNO, transfer GNO>mGNO instructions (done in a prev commit), explain BNB unbond time restriction for users and integrators
  docs/staking/delegated-staking/mgno/faq.md
  docs/staking/delegated-staking/mgno/stake.md
  docs/staking/liquid-staking/bnb/bnb-liquid-staking-mechanics.md
  docs/staking/liquid-staking/bnb/bnb-liquid-staking-unstake.md
Labels: documentation, staking

#645 DOCS-335, DOCS-337, DOCS-336: micropool mGNO, transfer GNO>mGNO instructions (done in a prev commit), explain BNB unbond time restriction for users and integrators
  docs/staking/delegated-staking/mgno/faq.md
  docs/staking/delegated-staking/mgno/stake.md
  docs/staking/liquid-staking/bnb/bnb-liquid-staking-mechanics.md
  docs/staking/liquid-staking/bnb/bnb-liquid-staking-unstake.md
Labels: documentation, staking

#646 DOCS-339, DOCS-338: create financial use case for App Chains, create FAQ for App Chains
  docs/build-blockchain/app-chain/faq.md
  docs/build-blockchain/app-chain/polygon-supernets/overview.md
  docs/build-blockchain/app-chain/use-cases/finance.md
  sidebars.js
Labels: documentation, staking

#647 DOCS-339, DOCS-338: create financial use case for App Chains, create FAQ for App Chains
  docs/build-blockchain/app-chain/faq.md
  docs/build-blockchain/app-chain/polygon-supernets/overview.md
  docs/build-blockchain/app-chain/use-cases/finance.md
  sidebars.js
Labels: documentation, app chains

#649 DOCS-340: create into for Polygon Supernets
  docs/build-blockchain/app-chain/overview.md
  docs/build-blockchain/app-chain/polygon-supernets/overview.md
  docs/staking/delegated-staking/mgno/faq.md
  docusaurus.config.js
  sidebars.js
  static/img/app-chains/supernets/architecture-overview.png
Labels: documentation, app chains

#650 DOCS-340: create into for Polygon Supernets
  docs/build-blockchain/app-chain/overview.md
  docs/build-blockchain/app-chain/polygon-supernets/overview.md
  docs/staking/delegated-staking/mgno/faq.md
  docusaurus.config.js
  sidebars.js
  static/img/app-chains/supernets/architecture-overview.png
Labels: documentation, app chains

#651 DOCS-340: fix link in horiz section menu
  docusaurus.config.js
Labels: documentation, app chains

#652 DOCS-340: fix link in horiz section menu
  docusaurus.config.js
Labels: documentation, app chains

#653 DOCS-340: fix formatting
  docs/build-blockchain/app-chain/polygon-supernets/overview.md
Labels: documentation, app chains

#654 DOCS-340: fix formatting
  docs/build-blockchain/app-chain/polygon-supernets/overview.md
Labels: documentation, app chains

#655 feat: DOCS-332 RPC Service overview plus USD peg changes
  docs/build-blockchain/concepts/pricing-plans.md
  docs/build-blockchain/pricing-plans.md
  docs/build-blockchain/products/v2/rpc-overview.md
  docs/build-blockchain/products/v2/ui-interactions-blockchain.md
  docs/build-blockchain/products/v2/ui-interactions.md
  sidebars.js
  static/img/build/rpc-flow.png
Labels: documentation, build

#656 feat: DOCS-332 RPC Service Overview plus USD peg changes
  docs/build-blockchain/concepts/pricing-plans.md
  docs/build-blockchain/pricing-plans.md
  docs/build-blockchain/products/v2/rpc-overview.md
  docs/build-blockchain/products/v2/ui-interactions-blockchain.md
  docs/build-blockchain/products/v2/ui-interactions.md
  sidebars.js
  static/img/build/rpc-flow.png
Labels: documentation, build

#657 DOCS-341: change min staking amount to 0.5 for BNB LS
  docs/staking/liquid-staking/bnb/bnb-liquid-staking-faq.md
  docs/staking/liquid-staking/bnb/bnb-liquid-staking-mechanics.md
  docs/staking/liquid-staking/bnb/bnb-liquid-staking-stake.md
Labels: documentation, staking

#658 DOCS-341: change min staking amount to 0.5 for BNB LS
  docs/staking/liquid-staking/bnb/bnb-liquid-staking-faq.md
  docs/staking/liquid-staking/bnb/bnb-liquid-staking-mechanics.md
  docs/staking/liquid-staking/bnb/bnb-liquid-staking-stake.md
Labels: documentation, staking

#664 DOCS-306: fix the file tree in README.md
  README.md
Labels: documentation, docops

#667 DOCS-306: move App Chains to the top of the sidebar menu to match the root index page
  README.md
  pages/_meta.json
  theme.config.js
Labels: documentation, app chains, docops

#668 DOCS-348: fix broken Callouts in Build
  pages/build/products/rpc-service/premium-account-operations.md
Labels: documentation, build

#669 DOCS-306: reenable main branch protection, reogranize theme.config.js a lil for better clarity
  .github/workflows/deploy.yml
  theme.config.js
Labels: documentation, docops

#670 DOCS-348: fix broken Callouts in Build
  pages/build/products/rpc-service/premium-account-operations.md
Labels: bug, documentation

#671 chore: DOCS-350 Card flow Beta testing banner
  pages/build/products/rpc-service/card-flow.md
Labels: documentation, build

#672 chore: DOCS-350 Card payment Beta-testing banner
  pages/build/products/rpc-service/card-flow.md
Labels: documentation, build

#673 DOCS-352: fix typos in DOT and KSM FAQs
  pages/staking/liquid-staking/dot/faq.md
  pages/staking/liquid-staking/ksm/faq.md
Labels: documentation, staking

#676 DOCS-354: fix formatting with < and > signs
  pages/app-chains/affiliated-chains/bnb-sidechain/architecture/governance.md
  pages/app-chains/affiliated-chains/bnb-sidechain/glossary.md
  pages/staking/liquid-staking/eth/faq.md
Labels: documentation, staking, app chains

#677 DOCS-354: fix an FAQ answer
  pages/staking/delegated-staking/ankr/faq.md
Labels: documentation, staking

#678 DOCS-354: fix formatting with < and > signs
  pages/staking/delegated-staking/ankr/faq.md
Labels: documentation, staking

#679 feat: DOCS-345 AAPI overview plus PY SDK plus USD peg and pricing
  pages/build/overview.md
  pages/build/pricing.md
  pages/build/products/advanced-api-sdk/_meta.json
  pages/build/products/advanced-api-sdk/javascript-sdk.md
  pages/build/products/advanced-api-sdk/nft-methods.md
  pages/build/products/advanced-api-sdk/overview.md
  pages/build/products/advanced-api-sdk/python-sdk.md
  pages/build/products/advanced-api-sdk/query-methods.md
  pages/build/products/advanced-api-sdk/token-methods.md
  pages/build/products/rpc-service/premium-account-operations.md
  pages/build/products/rpc-service/pricing-plans.md
Labels: documentation, build

#680 feat: DOCS-345 Advanced APIs changes plus USD peg and prices
  pages/build/overview.md
  pages/build/pricing.md
  pages/build/products/advanced-api-sdk/_meta.json
  pages/build/products/advanced-api-sdk/javascript-sdk.md
  pages/build/products/advanced-api-sdk/nft-methods.md
  pages/build/products/advanced-api-sdk/overview.md
  pages/build/products/advanced-api-sdk/python-sdk.md
  pages/build/products/advanced-api-sdk/query-methods.md
  pages/build/products/advanced-api-sdk/token-methods.md
  pages/build/products/rpc-service/premium-account-operations.md
  pages/build/products/rpc-service/pricing-plans.md
Labels: documentation, build

#681 DOCS-355: Describe Ankr Validator API
  pages/staking/for-integrators/restful-api/validator-api.md
Labels: documentation, staking

#682 DOCS-355: Describe Ankr Validator API
  pages/staking/for-integrators/dev-details/ftm-liquid-staking-mechanics.md
  pages/staking/for-integrators/restful-api/_meta.json
  pages/staking/for-integrators/restful-api/validator-api.md
Labels: documentation, staking

#683 DOCS-355: Describe Ankr Validator API
  pages/staking/for-integrators/restful-api/validator-api.md
Labels: documentation, staking

#684 DOCS-355: Describe Ankr Validator API
  pages/staking/for-integrators/restful-api/validator-api.md
Labels: documentation, staking
