Repository Ankr-network/ankr-docs, pull requests merged in 2022-10, with the labels that each got.

#688 DOCS-358: Enable support for more languages in code highlighting, fix favicon
  package.json
  pages/_app.js
  theme.config.js
  yarn.lock
Labels: documentation, docops

#689 DOCS-361: fix naming for main docs sections — remove redundancy
  pages/_meta.json
  pages/index.md
Labels: documentation

#691 feat: AAPI docset including react hooks
  pages/build/pricing.md
  pages/build/products/advanced-api-sdk/_meta.json
  pages/build/products/advanced-api-sdk/nft-methods.md
  pages/build/products/advanced-api-sdk/overview.md
  pages/build/products/advanced-api-sdk/query-methods.md
  pages/build/products/advanced-api-sdk/react-hooks.md
  pages/build/products/advanced-api-sdk/token-methods.md
  pages/build/products/rpc-service/pricing-plans.md
Labels: documentation, build

#692 feat: DOCS-345 AAPI docset plus React Hooks
  pages/build/pricing.md
  pages/build/products/advanced-api-sdk/_meta.json
  pages/build/products/advanced-api-sdk/nft-methods.md
  pages/build/products/advanced-api-sdk/overview.md
  pages/build/products/advanced-api-sdk/query-methods.md
  pages/build/products/advanced-api-sdk/react-hooks.md
  pages/build/products/advanced-api-sdk/token-methods.md
  pages/build/products/rpc-service/pricing-plans.md
Labels: documentation, build

#693 feat: DOCS-363 Build unpacking and the corresponding changes — links, index, etc.
  pages/_meta.json
  pages/advanced-api/_meta.json
  pages/advanced-api/build-with-advanced-apis/Ankrjs-Advanced-APIs-Nodejs-Quickstart-Guide.md
  pages/advanced-api/build-with-advanced-apis/Ankrjs-Advanced-APIs-React-Quickstart-Guide.md
  pages/advanced-api/build-with-advanced-apis/_meta.json
  pages/advanced-api/build-with-advanced-apis/check-account-balance-ankrjs.md
  pages/advanced-api/build-with-advanced-apis/defidashboard-ankrjs.md
  pages/advanced-api/build-with-advanced-apis/fetch-nfts-owned-by-wallet-address-ankrjs.md
  pages/advanced-api/build-with-advanced-apis/overview.md
  pages/advanced-api/javascript-sdk.md
  pages/advanced-api/nft-methods.md
  pages/advanced-api/overview.md
  pages/advanced-api/python-sdk.md
  pages/advanced-api/query-methods.md
  pages/advanced-api/react-hooks.md
  pages/advanced-api/token-methods.md
  pages/build/_meta.json
  pages/build/extra/_meta.json
  pages/build/extra/get-support.md
  pages/build/extra/handling-errors.md
  pages/build/overview.md
  pages/build/pricing.md
  pages/build/products/_meta.json
  pages/build/products/advanced-api-sdk/_meta.json
  pages/build/products/advanced-api-sdk/build-with-advanced-apis/_meta.json
  pages/build/products/ankr-scan.md
  pages/index.md
  pages/rpc-service/_meta.json
  pages/rpc-service/blockchain-interactions.md
  pages/rpc-service/card-flow.md
  pages/rpc-service/chains/_meta.json
  pages/rpc-service/chains/arbitrum.md
  pages/rpc-service/chains/avalanche.md
  pages/rpc-service/chains/binance-smart-chain.md
  pages/rpc-service/chains/celo.md
  pages/rpc-service/chains/ethereum/_meta.json
  pages/rpc-service/chains/ethereum/how-to/_meta.json
  pages/rpc-service/chains/ethereum/how-to/basic-dapp.md
  pages/rpc-service/chains/ethereum/how-to/connect-metamask.md
  pages/rpc-service/chains/ethereum/how-to/make-requests.md
  pages/rpc-service/chains/ethereum/how-to/send-transaction.md
  pages/rpc-service/chains/ethereum/overview.md
  pages/rpc-service/chains/fantom.md
  pages/rpc-service/chains/gnosis.md
  pages/rpc-service/chains/harmony.md
  pages/rpc-service/chains/iotex.md
  pages/rpc-service/chains/moonbeam.md
  pages/rpc-service/chains/near.md
  pages/rpc-service/chains/nervos.md
  pages/rpc-service/chains/polygon.md
  pages/rpc-service/chains/solana.md
  pages/rpc-service/chains/syscoin.md
  pages/rpc-service/hybrid-infrastructure.md
  pages/rpc-service/overview.md
  pages/rpc-service/premium-account-operations.md
  pages/rpc-service/pricing-plans.md
Labels: documentation, build

#694 feat: DOCS-363 Build unpacking and the corresponding changes — links, index, etc.
  components/index.js
  components/prism.jsx
  pages/_app.js
  pages/_meta.json
  pages/advanced-api/_meta.json
  pages/advanced-api/build-with-advanced-apis/Ankrjs-Advanced-APIs-Nodejs-Quickstart-Guide.md
  pages/advanced-api/build-with-advanced-apis/Ankrjs-Advanced-APIs-React-Quickstart-Guide.md
  pages/advanced-api/build-with-advanced-apis/_meta.json
  pages/advanced-api/build-with-advanced-apis/check-account-balance-ankrjs.md
  pages/advanced-api/build-with-advanced-apis/defidashboard-ankrjs.md
  pages/advanced-api/build-with-advanced-apis/fetch-nfts-owned-by-wallet-address-ankrjs.md
  pages/advanced-api/build-with-advanced-apis/overview.md
  pages/advanced-api/javascript-sdk.md
  pages/advanced-api/nft-methods.md
  pages/advanced-api/overview.md
  pages/advanced-api/python-sdk.md
  pages/advanced-api/query-methods.md
  pages/advanced-api/react-hooks.md
  pages/advanced-api/token-methods.md
  pages/build/_meta.json
  pages/build/extra/_meta.json
  pages/build/extra/get-support.md
  pages/build/extra/handling-errors.md
  pages/build/overview.md
  pages/build/pricing.md
  pages/build/products/_meta.json
  pages/build/products/advanced-api-sdk/_meta.json
  pages/build/products/advanced-api-sdk/build-with-advanced-apis/_meta.json
  pages/build/products/ankr-scan.md
  pages/index.md
  pages/rpc-service/_meta.json
  pages/rpc-service/blockchain-interactions.md
  pages/rpc-service/card-flow.md
  pages/rpc-service/chains/_meta.json
  pages/rpc-service/chains/arbitrum.md
  pages/rpc-service/chains/avalanche.md
  pages/rpc-service/chains/binance-smart-chain.md
  pages/rpc-service/chains/celo.md
  pages/rpc-service/chains/ethereum/_meta.json
  pages/rpc-service/chains/ethereum/how-to/_meta.json
  pages/rpc-service/chains/ethereum/how-to/basic-dapp.md
  pages/rpc-service/chains/ethereum/how-to/connect-metamask.md
  pages/rpc-service/chains/ethereum/how-to/make-requests.md
  pages/rpc-service/chains/ethereum/how-to/send-transaction.md
  pages/rpc-service/chains/ethereum/overview.md
  pages/rpc-service/chains/fantom.md
  pages/rpc-service/chains/gnosis.md
  pages/rpc-service/chains/harmony.md
  pages/rpc-service/chains/iotex.md
  pages/rpc-service/chains/moonbeam.md
  pages/rpc-service/chains/near.md
  pages/rpc-service/chains/nervos.md
  pages/rpc-service/chains/polygon.md
  pages/rpc-service/chains/solana.md
  pages/rpc-service/chains/syscoin.md
  pages/rpc-service/hybrid-infrastructure.md
  pages/rpc-service/overview.md
  pages/rpc-service/premium-account-operations.md
  pages/rpc-service/pricing-plans.md
Labels: documentation, build

#695 DOCS-366: introduce hiding mechanism for sidebar nav menu items and hide Card Flow page from sidebar
  pages/rpc-service/_meta.json
Labels: documentation, build, docops

#696 chore: DOCS-367 AAPI info adding 2d iteration
  pages/advanced-api/javascript-sdk.md
  pages/advanced-api/nft-methods.md
  pages/advanced-api/overview.md
  pages/advanced-api/python-sdk.md
  pages/advanced-api/query-methods.md
  pages/advanced-api/react-hooks.md
  pages/advanced-api/token-methods.md
Labels: documentation, build

#697 chore: DOCS-367 AAPI info adding 2d iteration
  pages/advanced-api/javascript-sdk.md
  pages/advanced-api/nft-methods.md
  pages/advanced-api/overview.md
  pages/advanced-api/python-sdk.md
  pages/advanced-api/query-methods.md
  pages/advanced-api/react-hooks.md
  pages/advanced-api/token-methods.md
Labels: documentation, build

#698 fix latest redirects in redirects.json
  redirects.json
Labels: documentation, docops

#700 chore: DOCS-368 Build unpacking redirects plus typo fix
  pages/index.md
  redirects.json
Labels: documentation, build

#701 chore: DOCS-368 Build unpacking redirects
  pages/index.md
  redirects.json
Labels: documentation, build

#702 chore: DOCS-368 redirects
  redirects.json
Labels: documentation, build

#703 chore: DOCS-368 Redirects
  redirects.json
Labels: documentation, build

#704 DOCS-369: refactor redirects for Unity SDK reference
  redirects.json
Labels: documentation, gaming, docops

#705 DOCS-369: refactor redirects for Unity SDK reference
  redirects.json
Labels: documentation, gaming, docops

#706 DOCS-370: add info Supernets are currently only available on testnet
  pages/app-chains/affiliated-chains/polygon-supernets/overview.md
Labels: documentation, app chains

#707 chore: DOCS-368 Change aapi quickstart's long endpaths and headings to short ones plus redirects
  pages/advanced-api/_meta.json
  pages/advanced-api/build-with-advanced-apis/_meta.json
  pages/advanced-api/overview.md
  pages/advanced-api/quickstart/_meta.json
  pages/advanced-api/quickstart/aapi-on-nodejs.md
  pages/advanced-api/quickstart/aapi-react-app.md
  pages/advanced-api/quickstart/account-balance-ankrjs.md
  pages/advanced-api/quickstart/defi-dashboard-ankrjs.md
  pages/advanced-api/quickstart/fetch-nfts-ankrjs.md
  pages/advanced-api/quickstart/overview.md
  redirects.json
Labels: documentation, build

#708 chore: DOCS-368 Change quickstart's long endpaths and headings to short ones plus redirects
  pages/advanced-api/_meta.json
  pages/advanced-api/build-with-advanced-apis/_meta.json
  pages/advanced-api/overview.md
  pages/advanced-api/quickstart/_meta.json
  pages/advanced-api/quickstart/aapi-on-nodejs.md
  pages/advanced-api/quickstart/aapi-react-app.md
  pages/advanced-api/quickstart/account-balance-ankrjs.md
  pages/advanced-api/quickstart/defi-dashboard-ankrjs.md
  pages/advanced-api/quickstart/fetch-nfts-ankrjs.md
  pages/advanced-api/quickstart/overview.md
  redirects.json
Labels: documentation, build

#690 DOCS-362: trying to transfer https://github.com/Ankr-network/frontend/pull/1493/files to ankr-docs
  components/gtm.jsx
  components/index.js
  package.json
  pages/_app.js
  src/hooks/useGtm.js
  yarn.lock
Labels: documentation, docops

#709 chore: DOCS-367 AAPI methods, quickstart links, content
  pages/advanced-api/overview.md
  pages/advanced-api/query-methods.md
  pages/advanced-api/quickstart/_meta.json
  pages/advanced-api/quickstart/overview.md
  pages/rpc-service/pricing-plans.md
Labels: documentation, build

#710 chore: DOCS-367 AAPI methods, quickstart links, content
  components/gtm.jsx
  components/index.js
  package.json
  pages/_app.js
  pages/advanced-api/overview.md
  pages/advanced-api/query-methods.md
  pages/advanced-api/quickstart/_meta.json
  pages/advanced-api/quickstart/overview.md
  pages/rpc-service/pricing-plans.md
  pages/staking/delegated-staking/ankr/faq.md
  pages/staking/for-integrators/dev-details/bnb-liquid-staking-mechanics.md
  pages/staking/liquid-staking/bnb/faq.md
  pages/staking/liquid-staking/bnb/overview.md
  pages/staking/liquid-staking/bnb/unstake.md
  src/hooks/useGtm.js
  yarn.lock
Labels: documentation, build

#711 chore: DOCS-367 AAPI endpoints check and python sdk minor edits
  pages/advanced-api/nft-methods.md
  pages/advanced-api/python-sdk.md
  pages/advanced-api/query-methods.md
  pages/advanced-api/token-methods.md
Labels: documentation, build

#712 DOCS-372, DOCS-374: change BNB unbond time to 7–10 days, create overview for the For Integrators section
  pages/staking/extra/liquid-staking-fees.md
  pages/staking/extra/ls-sc-addresses-tn.md
  pages/staking/for-integrators/_meta.json
  pages/staking/for-integrators/dev-details/bnb-liquid-staking-mechanics.md
  pages/staking/for-integrators/oracles/overview.md
  pages/staking/for-integrators/overview.md
Labels: documentation, staking

#714 chore: DOCS-367 aapi endpoints check plus python sdk minor edits plus chains callout link edit
  pages/advanced-api/nft-methods.md
  pages/advanced-api/python-sdk.md
  pages/advanced-api/query-methods.md
  pages/advanced-api/token-methods.md
  pages/rpc-service/chains/gnosis.md
Labels: documentation, build

#715 DOCS-375, DOCS-374: rearrange links, include links to LS APIs
  pages/staking/for-integrators/overview.md
  pages/staking/for-integrators/sdk/liquid-staking-sdk.md
  pages/staking/for-integrators/smart-contract-api/overview.md
Labels: documentation, staking

#713 DOCS-372, DOCS-374: change BNB unbond time to 7–10 days, create overview for the For Integrators section
  pages/rpc-service/chains/gnosis.md
  pages/staking/extra/liquid-staking-fees.md
  pages/staking/extra/ls-sc-addresses-tn.md
  pages/staking/for-integrators/_meta.json
  pages/staking/for-integrators/dev-details/bnb-liquid-staking-mechanics.md
  pages/staking/for-integrators/oracles/overview.md
  pages/staking/for-integrators/overview.md
  pages/staking/for-integrators/sdk/liquid-staking-sdk.md
  pages/staking/for-integrators/smart-contract-api/overview.md
Labels: documentation, staking

#716 DOCS-372: referral program ls
  pages/staking/for-integrators/_meta.json
  pages/staking/for-integrators/referral-program/_meta.json
  pages/staking/for-integrators/referral-program/overview.md
  pages/staking/liquid-staking/bnb/stake.md
  public/staking/referral-program/enter-referral-code-field.jpg
  public/staking/referral-program/referral-dashboard.jpg
  public/staking/referral-program/referral-program-button-on-staking-dashboard.jpg
Labels: documentation, staking

#717 DOCS-378: fix links to PolygonSDK due to new SDK release, DOCS-372: create docs for Liquid Staking Referral Program
  pages/staking/for-integrators/_meta.json
  pages/staking/for-integrators/referral-program/_meta.json
  pages/staking/for-integrators/referral-program/overview.md
  pages/staking/for-integrators/sdk/liquid-staking-sdk.md
  pages/staking/liquid-staking/bnb/stake.md
  public/staking/referral-program/enter-referral-code-field.jpg
  public/staking/referral-program/referral-dashboard.jpg
  public/staking/referral-program/referral-program-button-on-staking-dashboard.jpg
Labels: documentation, staking

#719 feat: DOCS-377 aapi method collections structuring
  pages/advanced-api/nft-methods.md
  pages/advanced-api/overview.md
  pages/advanced-api/query-methods.md
  pages/advanced-api/token-methods.md
Labels: documentation, build

#720 feat: DOCS-377 aapi method collections structuring
  pages/advanced-api/nft-methods.md
  pages/advanced-api/overview.md
  pages/advanced-api/query-methods.md
  pages/advanced-api/token-methods.md
Labels: documentation, build

#721 fix a typo
  pages/staking/for-integrators/referral-program/overview.md
Labels: documentation, staking

#722 feat: DOCS-379 Add pricing details, consistency, and remove AAPI swagger links
  pages/advanced-api/_meta.json
  pages/advanced-api/pricing.md
  pages/advanced-api/query-methods.md
  pages/advanced-api/token-methods.md
  pages/rpc-service/_meta.json
  pages/rpc-service/overview.md
  pages/rpc-service/premium-account-operations.md
  pages/rpc-service/pricing-plans.md
Labels: documentation, build

#723 feat: DOCS-379 Add pricing details, consistency, and remove AAPI swagger links
  pages/advanced-api/_meta.json
  pages/advanced-api/pricing.md
  pages/advanced-api/query-methods.md
  pages/advanced-api/token-methods.md
  pages/rpc-service/_meta.json
  pages/rpc-service/overview.md
  pages/rpc-service/premium-account-operations.md
  pages/rpc-service/pricing-plans.md
Labels: documentation, build

#724 fix info about staking/unstaking fees
  pages/staking/extra/liquid-staking-fees.md
Labels: documentation, staking

#725 DOCS-380: fix info about fees in Dev Details for Polygon, update PolygonPool funcs for staking flow
  pages/staking/for-integrators/dev-details/matic-liquid-staking-mechanics.md
Labels: documentation, staking

#726 feat: DOCS-379 Methods pricing section, service plans section, overview tweaks
  pages/rpc-service/_meta.json
  pages/rpc-service/methods-pricing.md
  pages/rpc-service/overview.md
  pages/rpc-service/service-plans.md
  redirects.json
Labels: documentation, build

#727 feat: DOCS-379 Methods pricing section, service plans section, overview tweaks
  pages/rpc-service/_meta.json
  pages/rpc-service/methods-pricing.md
  pages/rpc-service/overview.md
  pages/rpc-service/service-plans.md
  redirects.json
Labels: documentation, build

#728 feat: DOCS-379 Service plans and pricing corrected according to the feedback
  pages/advanced-api/pricing.md
  pages/rpc-service/_meta.json
  pages/rpc-service/pricing.md
  pages/rpc-service/service-plans.md
  redirects.json
Labels: documentation, build

#729 feat: DOCS-379 Service plans and pricing corrected according to the feedback
  pages/advanced-api/pricing.md
  pages/rpc-service/_meta.json
  pages/rpc-service/pricing.md
  pages/rpc-service/service-plans.md
  redirects.json
Labels: documentation, build

#730 Stage
  pages/staking/for-integrators/restful-api/staking-metrics.md
  pages/staking/for-integrators/restful-api/validator-api.md
Labels: documentation, staking

#731 chore: DOCS-382 AAPI x-api-token info removed
  pages/advanced-api/nft-methods.md
  pages/advanced-api/query-methods.md
  pages/advanced-api/token-methods.md
Labels: documentation, build

#733 DOCS-381: fix a typo
  pages/staking/for-integrators/restful-api/validator-api.md
Labels: documentation, staking

#734 fix KSM min amount
  pages/staking/for-integrators/dev-details/ksm-liquid-staking-mechanics.md
  pages/staking/liquid-staking/ksm/faq.md
  pages/staking/liquid-staking/ksm/overview.md
Labels: documentation, staking

#735 fix a typo, fix Crowdloan SDK page link
  pages/staking/for-integrators/overview.md
Labels: documentation, staking

#737 chore: DOCS-385 Solana public rate limits
  pages/rpc-service/service-plans.md
Labels: documentation, build

#738 chore: DOCS-385 Solana public rate limits
  pages/rpc-service/service-plans.md
Labels: documentation, build

#741 feat: DOCS-383 RPC UI getting started
  pages/advanced-api/pricing.md
  pages/rpc-service/_meta.json
  pages/rpc-service/blockchain-interactions.md
  pages/rpc-service/getting-started.md
  pages/rpc-service/premium-account-operations.md
  pages/rpc-service/pricing.md
  pages/rpc-service/tech-stuff.md
  public/build/rpc-endpoints-public.png
  public/build/rpc-overview.png
  public/build/ui-premium.png
  public/build/use-endp-public.png
  redirects.json
Labels: documentation, build

#743 feat: DOCS-383 Overview redirect fix
  pages/index.md
  redirects.json
Labels: documentation, build

#745 feat: DOCS-388 aapi new method
  pages/advanced-api/token-methods.md
Labels: documentation, build

#746 feat: DOCS-388 AAPI new method
  pages/advanced-api/token-methods.md
Labels: documentation, build

#747 fix a typo
  pages/staking/for-integrators/referral-program/overview.md
Labels: documentation, staking

#749 feat: DOCS-388 AAPI adding method details
  pages/advanced-api/overview.md
  pages/advanced-api/pricing.md
  pages/advanced-api/token-methods.md
Labels: documentation, build

#751 fix typos in README
  README.md
Labels: documentation, docops

#752 fix typos in README.md
  README.md
Labels: documentation, docops

#754 chore: DOCS-391 Roadmap info fix
  pages/advanced-api/overview.md
Labels: documentation, build

#755 hotfix: DOCS-392 fix ETH validatoras number
  pages/advanced-api/overview.md
  pages/staking/extra/ankr-validators.md
Labels: documentation, staking

#756 DOCS-392: fix ETH validatoras number
  pages/staking/extra/ankr-validators.md
Labels: documentation, staking

#757 brush up on README
  README.md
Labels: documentation, docops

#758 add link to ankr.com to the footer
  theme.config.js
Labels: documentation, docops

#759 update validator number for Ankr vals on Ethereum
  pages/staking/extra/ankr-validators.md
Labels: documentation, staking

#761 chore: DOCS-393 Gaming docs check-up
  pages/gaming/overview.md
  pages/gaming/unity-sdk/how-to/_meta.json
  pages/gaming/unity-sdk/how-to/use-ads.md
  pages/gaming/unity-sdk/reference.md
  pages/gaming/unity-sdk/reference/_meta.json
  pages/gaming/unity-sdk/reference/ankr-sdk-factory.md
  pages/gaming/unity-sdk/reference/ankr-sdk-wrapper.md
  pages/gaming/unity-sdk/reference/contract-event-subscriber.md
  pages/gaming/unity-sdk/reference/contract.md
  pages/gaming/unity-sdk/reference/eth-handler.md
  pages/gaming/unity-sdk/setting-up.md
  pages/gaming/unreal-sdk/getting-started/connect-wallet.md
  public/gaming/connect-wallet-unreal.png
  public/gaming/get-wallet-info-unreal.png
  redirects.json
Labels: documentation, gaming

#762 chore: DOCS-393 Gaming docs check-up
  pages/gaming/overview.md
  pages/gaming/unity-sdk/how-to/_meta.json
  pages/gaming/unity-sdk/how-to/use-ads.md
  pages/gaming/unity-sdk/reference.md
  pages/gaming/unity-sdk/reference/_meta.json
  pages/gaming/unity-sdk/reference/ankr-sdk-factory.md
  pages/gaming/unity-sdk/reference/ankr-sdk-wrapper.md
  pages/gaming/unity-sdk/reference/contract-event-subscriber.md
  pages/gaming/unity-sdk/reference/contract.md
  pages/gaming/unity-sdk/reference/eth-handler.md
  pages/gaming/unity-sdk/setting-up.md
  pages/gaming/unreal-sdk/getting-started/connect-wallet.md
  public/gaming/connect-wallet-unreal.png
  public/gaming/get-wallet-info-unreal.png
  redirects.json
Labels: documentation, gaming

#760 feat: DOCS-365 FAQ from Strapi with SSV-ETH
  package.json
  pages/staking/liquid-staking/_meta.json
  pages/staking/liquid-staking/eth-ssv/_meta.json
  pages/staking/liquid-staking/eth-ssv/faq.md
  src/components/StrapiFAQ.jsx
  src/components/index.js
  src/hooks/index.js
  src/hooks/useStrapiFAQData.js
  src/styles/global.css
  yarn.lock
Labels: documentation, staking

#763 Revert "feat: DOCS-365 FAQ from Strapi with SSV-ETH"
  package.json
  pages/staking/liquid-staking/_meta.json
  pages/staking/liquid-staking/eth-ssv/_meta.json
  pages/staking/liquid-staking/eth-ssv/faq.md
  src/components/StrapiFAQ.jsx
  src/components/index.js
  src/hooks/index.js
  src/hooks/useStrapiFAQData.js
  src/styles/global.css
  yarn.lock
Labels: documentation, staking

#765 STAKAN-2226: Update Liquid Staking SDK overview in Ankr Docs with upd…
  pages/staking/for-integrators/sdk/liquid-staking-sdk.md
Labels: documentation, staking

#766 STAKAN-2226: Update Liquid Staking SDK overview in Ankr Docs with updated examples from the SDK page on npm.js
  pages/staking/for-integrators/sdk/liquid-staking-sdk.md
Labels: documentation, staking

#767 feat: DOCS-399 create docs for Redemption price oracle
  pages/staking/for-integrators/dev-details/_meta.json
  pages/staking/for-integrators/oracles/_meta.json
  pages/staking/for-integrators/oracles/ellipsis-redemption-price-oracle.md
  pages/staking/for-integrators/oracles/overview.md
  pages/staking/for-integrators/oracles/pancakeswap-oracle.md
  pages/staking/for-integrators/referral-program/overview.md
  pages/staking/liquid-staking/_meta.json
Labels: documentation, staking

#768 feat: DOCS-399 create docs for Redemption price oracle
  pages/staking/for-integrators/oracles/_meta.json
  pages/staking/for-integrators/oracles/redemption-price-oracle.md
Labels: documentation, staking

#770 feat: DOCS-399 create docs for Redemption price oracle
  pages/staking/for-integrators/dev-details/ftm-liquid-staking-mechanics.md
  pages/staking/for-integrators/oracles/_meta.json
  pages/staking/for-integrators/oracles/redemption-price-oracle.md
Labels: documentation, staking

#771 feature: DOCS-400 RPC Service get started UI — add more screens
  pages/rpc-service/getting-started.md
  public/build/initial-deposit.png
  public/build/use-endpoint-premium.png
Labels: documentation, build

#772 feature: DOCS-400 RPC Service get started UI — add more screens
  pages/rpc-service/getting-started.md
  public/build/initial-deposit.png
  public/build/use-endpoint-premium.png
Labels: documentation, build

#773 feat: DOCS-365 FAQ from Strapi with SSV-ETH
  package.json
  pages/staking/liquid-staking/_meta.json
  pages/staking/liquid-staking/eth-ssv/_meta.json
  pages/staking/liquid-staking/eth-ssv/faq.md
  scripts/update-strapi-faq-files.js
  yarn.lock
Labels: documentation, staking, docops

#774 feat: DOCS-400 Get started screen edit
  public/build/use-endpoint-premium.png
Labels: documentation, build

#775 feat: DOCS-400 Get started screen edit
  public/build/use-endpoint-premium.png
Labels: documentation, build

#776 chore: DOCS-405 Hybrid infra pricing and wss info
  pages/rpc-service/hybrid-infrastructure.md
  pages/rpc-service/service-plans.md
  pages/staking/delegated-staking/ankr/faq.md
  pages/staking/delegated-staking/gnosis/faq.md
  pages/staking/liquid-staking/avax/faq.md
  pages/staking/liquid-staking/bnb/faq.md
  pages/staking/liquid-staking/dot/faq.md
  pages/staking/liquid-staking/eth/faq.md
  pages/staking/liquid-staking/ftm/faq.md
  pages/staking/liquid-staking/ksm/faq.md
  pages/staking/liquid-staking/matic/faq.md
Labels: documentation, build

#777 chore: DOCS-405 Hybrid infra pricing and wss info
  pages/rpc-service/hybrid-infrastructure.md
  pages/rpc-service/service-plans.md
  pages/staking/delegated-staking/ankr/faq.md
  pages/staking/delegated-staking/gnosis/faq.md
  pages/staking/liquid-staking/avax/faq.md
  pages/staking/liquid-staking/bnb/faq.md
  pages/staking/liquid-staking/dot/faq.md
  pages/staking/liquid-staking/eth/faq.md
  pages/staking/liquid-staking/ftm/faq.md
  pages/staking/liquid-staking/ksm/faq.md
  pages/staking/liquid-staking/matic/faq.md
Labels: documentation, build

#778 hotfix: DOCS -396, DOCS-406, DOCS-407 update Polygon LS SC API, update supported Staking wallets, add sc addresses to API
  pages/staking/extra/compatible-wallets.md
  pages/staking/for-integrators/dev-details/matic-liquid-staking-mechanics.md
  pages/staking/for-integrators/smart-contract-api/avax-api.md
  pages/staking/for-integrators/smart-contract-api/bnb-api.md
  pages/staking/for-integrators/smart-contract-api/eth-api.md
  pages/staking/for-integrators/smart-contract-api/ftm-api.md
  pages/staking/for-integrators/smart-contract-api/matic-api.md
Labels: documentation, staking

#779 DOCS-406: add contract address to contract names in LS Smart Contracts API
  pages/staking/for-integrators/smart-contract-api/bnb-api.md
  pages/staking/for-integrators/smart-contract-api/matic-api.md
Labels: documentation, staking

#780 DOCS-396: update supported wallets in Staking
  pages/staking/extra/compatible-wallets.md
Labels: documentation, staking

#781 DOCS-408: align Ankr Docs logo with company standards
  theme.config.js
Labels: documentation, docops
