Repository Ankr-network/ankr-docs, pull requests merged in 2023-09, with the labels that each got.

#1414 hotfix: DOCS-689 zkSync Era hide in aapi
  pages/advanced-api/nft-methods.mdx
  pages/advanced-api/overview.mdx
  pages/advanced-api/query-methods.mdx
  pages/advanced-api/token-methods.mdx
Labels: documentation, rpc-aapi

#1415 hotfix: DOCS-689 zkSync Era hide in aapi
  pages/advanced-api/nft-methods.mdx
  pages/advanced-api/overview.mdx
  pages/advanced-api/query-methods.mdx
  pages/advanced-api/token-methods.mdx
Labels: documentation, rpc-aapi

#1416 feat: DOCS-690 Berachain testnet quickstart and API Reference docs added
  pages/rpc-service/chains/chains-api/berachain.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1418 feat: DOCS-690 Berachain added to navigation menu
  pages/rpc-service/chains/chains-api/_meta.json
Labels: documentation, rpc-aapi

#1419 feat: DOCS-690 Account validation upon authentication
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/getting-started/basics-premium.mdx
Labels: documentation, rpc-aapi

#1422 fix a typo in ETH unstake.mdx
  pages/liquid-staking/eth/unstake.mdx
Labels: documentation, staking

#1423 feat: DOCS-691 Flare Quickstart and API Reference added
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/chains/chains-api/avalanche.mdx
  pages/rpc-service/chains/chains-api/flare.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1424 feat: DOCS-691 Flare Quickstart and API Reference added
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/chains/chains-api/avalanche.mdx
  pages/rpc-service/chains/chains-api/flare.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1427 fix GNO testnet address
  pages/staking-extra/ls-sc-addresses-tn.mdx
Labels: documentation, staking

#1428 fix GNO testnet address
  pages/staking-extra/ls-sc-addresses-tn.mdx
Labels: documentation, staking

#1429 fix GNO testnet address
  pages/delegated-staking/gnosis/faq.mdx
  pages/delegated-staking/gnosis/stake.mdx
  pages/staking-extra/ls-sc-addresses-tn.mdx
Labels: documentation, staking

#1430 feat: DOCS-693 Flare added into aapi
  pages/advanced-api/nft-methods.mdx
  pages/advanced-api/overview.mdx
  pages/advanced-api/query-methods.mdx
  pages/advanced-api/token-api.mdx
  pages/advanced-api/token-methods.mdx
  pages/delegated-staking/gnosis/faq.mdx
Labels: documentation, rpc-aapi

#1431 feat: DOCS-693 Flare added into aapi
  pages/advanced-api/nft-methods.mdx
  pages/advanced-api/overview.mdx
  pages/advanced-api/query-methods.mdx
  pages/advanced-api/token-api.mdx
  pages/advanced-api/token-methods.mdx
  pages/delegated-staking/gnosis/faq.mdx
Labels: documentation, rpc-aapi

#1433 footer update and new canonical tag
  public/socials/discord.svg
  public/socials/instagram.svg
  public/socials/medium.svg
  public/socials/reddit.svg
  public/socials/telegram.svg
  public/socials/twitter.svg
  public/socials/youtube.svg
  src/components/FooterMenu.jsx
  theme.config.tsx
Labels: documentation, frontend

#1434 add getRatioFor() on Optimism to redemption-price-oracle.mdx
  pages/staking-for-developers/oracles/redemption-price-oracle.mdx
Labels: documentation, staking

#1435 DOCS-695: Update AAPI — add new params to ankr_getNFTMetadata, add gnosis and flare as supported blockchains in requests
  pages/advanced-api/nft-methods.mdx
  pages/advanced-api/query-methods.mdx
  pages/advanced-api/token-api.mdx
Labels: documentation, rpc-aapi

#1437 remove sui fees and sui audit
  pages/staking-extra/audit-reports.mdx
  pages/staking-extra/staking-fees.mdx
Labels: documentation, staking

#1440 DOCS-697: Update BNB SC API
  pages/staking-for-developers/smart-contract-api/bnb-api.mdx
Labels: documentation, staking

#1441 reenable list-to-nested-list row fix
  src/styles/global.css
Labels: documentation, staking
