Repository Ankr-network/ankr-docs, pull requests merged in 2023-04, with the labels that each got.

#1125 feat: DOCS-570 TRON API Reference added
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/chains/chains-api/fantom.mdx
  pages/rpc-service/chains/chains-api/secret-network.mdx
  pages/rpc-service/chains/chains-api/tron.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1126 feat: DOCS-570 TRON API Reference added
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/chains/chains-api/fantom.mdx
  pages/rpc-service/chains/chains-api/secret-network.mdx
  pages/rpc-service/chains/chains-api/tron.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1127 DOCS-571: [add] bridge addresses (Ava, Fantom) to docs
  pages/staking-extra/staking-smart-contracts.mdx
  pages/staking-for-developers/dev-details/bridge-mechanics.mdx
Labels: documentation, staking

#1128 feat: DOCS-572 Beacon Chain added into Quickstart
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1129 feat: DOCS-572 Beacon Chain added into Quickstart
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1130 DOCS-574: [add] AAPI Interactive Docs in Ankr Docs
  pages/advanced-api/_meta.json
Labels: documentation, rpc-aapi

#1131 DOCS-574: [update] AnkrBNB address in redemption-price-oracle.mdx
  pages/staking-for-developers/oracles/redemption-price-oracle.mdx
Labels: documentation, staking

#1132 DOCS-574: [add] proper formula to each endpoint in redemption-price-oracle.mdx
  pages/staking-for-developers/oracles/redemption-price-oracle.mdx
Labels: documentation, staking

#1133 DOCS-575: [add] instructions how to fix broken network switch in MetaMask
  pages/staking-extra/_meta.json
  pages/staking-extra/fix-broken-network-switch.mdx
  pages/staking-extra/ls-sc-addresses-mn.mdx
  pages/staking-extra/staking-smart-contracts.mdx
  public/staking/extra/fix-broken-network-switch/approve-adding-network.jpg
  public/staking/extra/fix-broken-network-switch/choose-network-and-click-stake.jpg
  public/staking/extra/fix-broken-network-switch/click-a-network.jpg
  public/staking/extra/fix-broken-network-switch/click-account-and-click-settings.jpg
  public/staking/extra/fix-broken-network-switch/click-metamask-icon-in-browser.jpg
  public/staking/extra/fix-broken-network-switch/click-networks.jpg
  public/staking/extra/fix-broken-network-switch/click-switch-network.jpg
  public/staking/extra/fix-broken-network-switch/click-switcher-and-switch-to-ethereum.jpg
  public/staking/extra/fix-broken-network-switch/delete-network.jpg
Labels: documentation, staking

#1134 misc updates
  public/staking/liquid-staking/eth/add-token-to-wallet.jpg
  public/staking/liquid-staking/eth/click-go-to-dashboard.jpg
Labels: documentation, staking

#1135 misc updates
  pages/liquid-staking/eth/unstake.mdx
  pages/staking-for-developers/oracles/redemption-price-oracle.mdx
  public/staking/liquid-staking/eth/click-minus-icon.jpg
  public/staking/liquid-staking/eth/enter-amount-click-unstake.jpg
  public/staking/liquid-staking/eth/unstake-in-progress-go-to-dashboard.jpg
Labels: documentation, staking

#1136 DOCS-576: [add] unstake instructions for LS ETH
  pages/liquid-staking/eth/overview.mdx
  pages/liquid-staking/eth/stake.mdx
  pages/liquid-staking/eth/unstake.mdx
  public/staking/liquid-staking/eth/click-minus-icon.jpg
  public/staking/liquid-staking/eth/confirm-unstaking-transaction.jpg
  public/staking/liquid-staking/eth/enter-amount-click-unstake.jpg
  public/staking/liquid-staking/eth/unstake-in-progress-go-to-dashboard.jpg
Labels: documentation, staking

#1137 DOCS-576: [add] unstake instructions for LS ETH
  pages/liquid-staking/eth/unstake.mdx
Labels: documentation, staking

#1138 DOCS-576: [add] unstake instructions for LS ETH
  pages/liquid-staking/eth/overview.mdx
  pages/liquid-staking/eth/stake.mdx
  pages/liquid-staking/eth/unstake.mdx
  public/staking/liquid-staking/eth/click-minus-icon.jpg
  public/staking/liquid-staking/eth/confirm-unstaking-transaction.jpg
  public/staking/liquid-staking/eth/enter-amount-click-unstake.jpg
  public/staking/liquid-staking/eth/unstake-in-progress-go-to-dashboard.jpg
Labels: documentation, staking

#1142 feat: DOCS-573 Beacon Chain API Reference added
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/chains/chains-api/beacon.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1144 feat: DOCS-578 Node runners requirements and AAPI redirects and Polygon zkEVM chain added.
  pages/_meta.json
  pages/advanced-api/overview.mdx
  pages/node-runners.mdx
  redirects.json
Labels: documentation, rpc-aapi

#1145 feat: DOCS-578 Node runners requirements and AAPI redirects and Polygon zkEVM chain added.
  pages/_meta.json
  pages/advanced-api/overview.mdx
  pages/node-runners.mdx
  redirects.json
Labels: documentation, rpc-aapi

#1146 [update] ankeETH on Fantom in MN toekn contracts
  pages/staking-extra/ls-sc-addresses-mn.mdx
Labels: documentation, staking

#1147 [update] bridged tokens in LS SC MN addresses
  pages/staking-extra/ls-sc-addresses-mn.mdx
Labels: documentation, staking

#1149 [add] Fantom getRatioFor(), [imrove] readability
  pages/staking-for-developers/oracles/redemption-price-oracle.mdx
Labels: documentation, staking

#1150 DOCS-582: [add] instructions for flash unstake in the Unstake BNB page
  pages/liquid-staking/bnb/unstake.mdx
  public/staking/liquid-staking/bnb/flash-unstake-approve-spending-cap.jpg
  public/staking/liquid-staking/bnb/flash-unstake-click-unstake.jpg
  public/staking/liquid-staking/bnb/flash-unstake-confirm-unstaking-transaction.jpg
  public/staking/liquid-staking/bnb/flash-unstake-enter-amount-click-approve.jpg
  public/staking/liquid-staking/bnb/flash-unstake-set-spending-cap.jpg
  public/staking/liquid-staking/bnb/flash-unstake-unstake-in-progress-go-to-dashboard.jpg
Labels: documentation, staking

#1151 [update] Ankr.js, Ankr.py, [fix] AAPI ref links
  pages/advanced-api/_meta.json
  pages/advanced-api/javascript-sdk.mdx
  pages/advanced-api/python-sdk.mdx
  pages/advanced-api/quickstart/_meta.json
  pages/advanced-api/quickstart/aapi-on-nodejs.mdx
  pages/advanced-api/quickstart/aapi-react-app.mdx
  pages/advanced-api/quickstart/account-balance-ankrjs.mdx
  pages/advanced-api/quickstart/fetch-nfts-ankrjs.mdx
  pages/advanced-api/quickstart/overview.mdx
  redirects.json
Labels: documentation, rpc-aapi

#1152 feat: DOCS-583 Mantle added to Quickstart
  pages/index.mdx
  pages/liquid-staking/eth/faq.mdx
  pages/rpc-service/chains/chains-list.mdx
  pages/rpc-service/getting-started.mdx
Labels: documentation, rpc-aapi

#1153 feat: DOCS-583 Mantle added to Quickstart
  pages/index.mdx
  pages/liquid-staking/eth/faq.mdx
  pages/rpc-service/chains/chains-list.mdx
  pages/rpc-service/getting-started.mdx
Labels: documentation, rpc-aapi

#1154 feat: DOCS-584 Rollux Testnets Quickstart added
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1155 feat: DOCS-584 Rollux Testnets Quickstart added
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1156 feat: DOCS-586 ZetaChain Quickstart added
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1157 feat: DOCS-586 ZetaChain Quickstart added
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1158 feat: DOCS-587 Mantle API Reference added
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/chains/chains-api/mantle.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1159 feat: DOCS-587 Mantle API Reference added
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/chains/chains-api/mantle.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1160 feat: STAKAN-2640 use new repo for generating sdk auto docs
  .github/workflows/deploy.yml
  .gitignore
Labels: staking

#1161 feat: STAKAN-2640 use new repo for generating sdk auto docs
  .github/workflows/deploy.yml
  .gitignore
Labels: documentation, docops

#1162 DOCS-589: [add] Ankr Bridge address on Polygon zkEVM
  pages/staking-extra/staking-smart-contracts.mdx
Labels: documentation, staking

#1165 feat: DOCS-588 Rollux Op-node Testnet methods added
  pages/rpc-service/chains/chains-api/rollux.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1166 feat: DOCS-588 Rollux Op-node Testnet methods added
  pages/rpc-service/chains/chains-api/rollux.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1167 feat: DOCS-590 ZetaChain Testnet Standard EVM API Reference added
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/chains/chains-api/zetachain.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1168 feat: DOCS-590 ZetaChain Testnet Standard EVM API Reference added
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/chains/chains-api/zetachain.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1169 DOCS-592: [delete] SSV
  pages/liquid-staking/_meta.json
  pages/liquid-staking/overview.mdx
  pages/liquid-staking/ssv/_meta.json
  pages/liquid-staking/ssv/faq.mdx
  pages/liquid-staking/ssv/overview.mdx
  pages/liquid-staking/ssv/stake.mdx
  pages/staking-extra/ls-sc-addresses-tn.mdx
  src/scripts/update-strapi-faq-files.js
Labels: documentation, staking

#1170 [add] ankrETH on Polygon zkEVM
  pages/staking-extra/ls-sc-addresses-mn.mdx
Labels: documentation, staking

#1171 [update] ankrETH unstake time
  pages/liquid-staking/eth/unstake.mdx
Labels: documentation, staking

#1172 feat: DOCS-594 ZetaChain's Tendermint JSON-RPC and REST added
  pages/liquid-staking/eth/faq.mdx
  pages/rpc-service/chains/chains-api/zetachain.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1173 feat: DOCS-594 ZetaChain's Tendermint JSON-RPC and REST added
  pages/liquid-staking/eth/faq.mdx
  pages/rpc-service/chains/chains-api/zetachain.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1174 feat: DOCS-595 Zetachain's Cosmos methods added
  pages/liquid-staking/eth/faq.mdx
  pages/rpc-service/chains/chains-api/zetachain.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1175 feat: DOCS-595 Zetachain's Cosmos methods added
  pages/liquid-staking/eth/faq.mdx
  pages/rpc-service/chains/chains-api/zetachain.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1176 chore: AAPI overview link to rpc service
  pages/advanced-api/overview.mdx
Labels: documentation, rpc-aapi

#1179 feat: DOCS-597 NEAR API Reference added
  pages/rpc-service/chains/chains-api/near.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1180 feat: DOCS-597 NEAR API Reference added
  pages/rpc-service/chains/chains-api/near.mdx
Labels: documentation, rpc-aapi

#1181 feat: DOCS-597 Near API Reference added
  pages/rpc-service/chains/chains-api/near.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1182 [try] fix the "Allocation failed - JavaScript heap out of memory"
  package.json
  pages/advanced-api/specification.mdx
  yarn.lock
Labels: docops, frontend

#1183 [revert] to older package.json, [set] Next v13.2.0
  package.json
  yarn.lock
Labels: docops, frontend

#1185 [remove] webpack, [revert] to direct logo embedding in theme.config.tsx, [revert] to warnings when yarn dev
  next.config.mjs
  theme.config.tsx
Labels: docops

#1186 [revert] to unoptimized images
  next.config.mjs
  theme.config.tsx
Labels: docops, frontend

#1187 Stage
  package.json
  yarn.lock
Labels: docops, frontend

#1189 [add] getRatioFor() on BSC, [add] Ratiofeed for Ankr Bridge address to staking-smart-contracts.mdx
  pages/staking-extra/staking-smart-contracts.mdx
  pages/staking-for-developers/oracles/redemption-price-oracle.mdx
Labels: documentation, staking
