Repository Ankr-network/ankr-docs, pull requests merged in 2023-07, with the labels that each got.

#1295 feat: DOCS-626 Visual detail for Welcome, Info Map, and Chains List
  pages/index.mdx
  pages/info-map.mdx
  pages/rpc-service/chains/chains-list.mdx
  public/build/aapi.png
  public/build/app-chains.png
  public/build/chains-list/aptos.png
  public/build/chains-list/arbitrum-nova.png
  public/build/chains-list/arbitrum.png
  public/build/chains-list/avalanche.png
  public/build/chains-list/base.png
  public/build/chains-list/bittorrent.png
  public/build/chains-list/bnb-smart-chain.png
  public/build/chains-list/celo.png
  public/build/chains-list/chiliz.png
  public/build/chains-list/ethereum-beacon.png
  public/build/chains-list/ethereum.png
  public/build/chains-list/fantom.png
  public/build/chains-list/filecoin.png
  public/build/chains-list/gnosis-beacon.png
  public/build/chains-list/gnosis.png
  public/build/chains-list/harmony.png
  public/build/chains-list/heco.png
  public/build/chains-list/horizen.png
  public/build/chains-list/iotex.png
  public/build/chains-list/klaytn.png
  public/build/chains-list/kusama.png
  public/build/chains-list/mantle.png
  public/build/chains-list/metis.png
  public/build/chains-list/moonbeam.png
  public/build/chains-list/near.png
  public/build/chains-list/nervos.png
  public/build/chains-list/optimism.png
  public/build/chains-list/polkadot.png
  public/build/chains-list/polygon-zk-evm.png
  public/build/chains-list/polygon.png
  public/build/chains-list/rollux.png
  public/build/chains-list/scroll.png
  public/build/chains-list/secret-network.png
  public/build/chains-list/solana.png
  public/build/chains-list/sui.png
  public/build/chains-list/syscoin.png
  public/build/chains-list/tenet.png
  public/build/chains-list/tron.png
  public/build/chains-list/zetachain.png
  public/build/chains-list/zk-sync.png
  public/build/gaming.png
  public/build/info-map.png
  public/build/rpc.png
  public/build/staking.png
  public/build/tutorials.png
Labels: documentation, rpc-aapi

#1296 feat: DOCS-626 Visual detail for Welcome, Info Map, and Chains List
  pages/index.mdx
  pages/info-map.mdx
  pages/rpc-service/chains/chains-list.mdx
  public/build/aapi.png
  public/build/app-chains.png
  public/build/chains-list/aptos.png
  public/build/chains-list/arbitrum-nova.png
  public/build/chains-list/arbitrum.png
  public/build/chains-list/avalanche.png
  public/build/chains-list/base.png
  public/build/chains-list/bittorrent.png
  public/build/chains-list/bnb-smart-chain.png
  public/build/chains-list/celo.png
  public/build/chains-list/chiliz.png
  public/build/chains-list/ethereum-beacon.png
  public/build/chains-list/ethereum.png
  public/build/chains-list/fantom.png
  public/build/chains-list/filecoin.png
  public/build/chains-list/gnosis-beacon.png
  public/build/chains-list/gnosis.png
  public/build/chains-list/harmony.png
  public/build/chains-list/heco.png
  public/build/chains-list/horizen.png
  public/build/chains-list/iotex.png
  public/build/chains-list/klaytn.png
  public/build/chains-list/kusama.png
  public/build/chains-list/mantle.png
  public/build/chains-list/metis.png
  public/build/chains-list/moonbeam.png
  public/build/chains-list/near.png
  public/build/chains-list/nervos.png
  public/build/chains-list/optimism.png
  public/build/chains-list/polkadot.png
  public/build/chains-list/polygon-zk-evm.png
  public/build/chains-list/polygon.png
  public/build/chains-list/rollux.png
  public/build/chains-list/scroll.png
  public/build/chains-list/secret-network.png
  public/build/chains-list/solana.png
  public/build/chains-list/sui.png
  public/build/chains-list/syscoin.png
  public/build/chains-list/tenet.png
  public/build/chains-list/tron.png
  public/build/chains-list/zetachain.png
  public/build/chains-list/zk-sync.png
  public/build/gaming.png
  public/build/info-map.png
  public/build/rpc.png
  public/build/staking.png
  public/build/tutorials.png
Labels: documentation, rpc-aapi

#1297 DOCS-650: Publish (unhide) Automation docs @raproid
  pages/_meta.json
  public/staking/connect-wallet/ankr-staking-sui.jpg
  public/staking/connect-wallet/choose-account-to-connect-sui.jpg
  public/staking/connect-wallet/choose-wallet-to-connect-sui.jpg
  public/staking/connect-wallet/connect-wallet-button-sui.jpg
  public/staking/connect-wallet/wallet-connected-sui.jpg
  public/staking/liquid-staking/sui/click-go-to-dashboard.jpg
  public/staking/liquid-staking/sui/click-minus-icon.jpg
  public/staking/liquid-staking/sui/confirm-staking-transaction.jpg
  public/staking/liquid-staking/sui/confirm-unstaking-transaction.jpg
  public/staking/liquid-staking/sui/enter-amount-click-get.jpg
  public/staking/liquid-staking/sui/enter-amount-click-unstake.jpg
  public/staking/liquid-staking/sui/sui-staking-box.jpg
Labels: documentation, automation

#1298 feat: DOCS-649 My business feature feedback plus sharper visuals
  pages/index.mdx
  pages/rpc-service/getting-started/business-accounts.mdx
  public/build/aapi.png
  public/build/app-chains.png
  public/build/chains-list/aptos.png
  public/build/chains-list/arbitrum-nova.png
  public/build/chains-list/arbitrum.png
  public/build/chains-list/avalanche.png
  public/build/chains-list/base.png
  public/build/chains-list/bittorrent.png
  public/build/chains-list/bnb-smart-chain.png
  public/build/chains-list/celo.png
  public/build/chains-list/chiliz.png
  public/build/chains-list/ethereum-beacon.png
  public/build/chains-list/ethereum.png
  public/build/chains-list/fantom.png
  public/build/chains-list/filecoin.png
  public/build/chains-list/gnosis-beacon.png
  public/build/chains-list/gnosis.png
  public/build/chains-list/harmony.png
  public/build/chains-list/heco.png
  public/build/chains-list/horizen.png
  public/build/chains-list/iotex.png
  public/build/chains-list/klaytn.png
  public/build/chains-list/kusama.png
  public/build/chains-list/mantle.png
  public/build/chains-list/metis.png
  public/build/chains-list/moonbeam.png
  public/build/chains-list/near.png
  public/build/chains-list/nervos.png
  public/build/chains-list/optimism.png
  public/build/chains-list/polkadot.png
  public/build/chains-list/polygon-zk-evm.png
  public/build/chains-list/polygon.png
  public/build/chains-list/rollux.png
  public/build/chains-list/scroll.png
  public/build/chains-list/secret-network.png
  public/build/chains-list/solana.png
  public/build/chains-list/sui.png
  public/build/chains-list/syscoin.png
  public/build/chains-list/tenet.png
  public/build/chains-list/tron.png
  public/build/chains-list/zetachain.png
  public/build/chains-list/zk-sync.png
  public/build/gaming.png
  public/build/rpc.png
  public/build/staking.png
  public/build/tutorials.png
Labels: documentation, rpc-aapi

#1299 feat: DOCS-649 My business feature feedback plus sharper visuals
  pages/index.mdx
  pages/rpc-service/getting-started/business-accounts.mdx
  public/build/aapi.png
  public/build/app-chains.png
  public/build/chains-list/aptos.png
  public/build/chains-list/arbitrum-nova.png
  public/build/chains-list/arbitrum.png
  public/build/chains-list/avalanche.png
  public/build/chains-list/base.png
  public/build/chains-list/bittorrent.png
  public/build/chains-list/bnb-smart-chain.png
  public/build/chains-list/celo.png
  public/build/chains-list/chiliz.png
  public/build/chains-list/ethereum-beacon.png
  public/build/chains-list/ethereum.png
  public/build/chains-list/fantom.png
  public/build/chains-list/filecoin.png
  public/build/chains-list/gnosis-beacon.png
  public/build/chains-list/gnosis.png
  public/build/chains-list/harmony.png
  public/build/chains-list/heco.png
  public/build/chains-list/horizen.png
  public/build/chains-list/iotex.png
  public/build/chains-list/klaytn.png
  public/build/chains-list/kusama.png
  public/build/chains-list/mantle.png
  public/build/chains-list/metis.png
  public/build/chains-list/moonbeam.png
  public/build/chains-list/near.png
  public/build/chains-list/nervos.png
  public/build/chains-list/optimism.png
  public/build/chains-list/polkadot.png
  public/build/chains-list/polygon-zk-evm.png
  public/build/chains-list/polygon.png
  public/build/chains-list/rollux.png
  public/build/chains-list/scroll.png
  public/build/chains-list/secret-network.png
  public/build/chains-list/solana.png
  public/build/chains-list/sui.png
  public/build/chains-list/syscoin.png
  public/build/chains-list/tenet.png
  public/build/chains-list/tron.png
  public/build/chains-list/zetachain.png
  public/build/chains-list/zk-sync.png
  public/build/gaming.png
  public/build/rpc.png
  public/build/staking.png
  public/build/tutorials.png
Labels: documentation, rpc-aapi

#1300 feat: DOCS-649 Business participant details for Business Accounts feature
  pages/rpc-service/chains/chains-list.mdx
  pages/rpc-service/getting-started/business-accounts.mdx
  public/build/getting-started/acc-selection-2.png
  public/build/getting-started/acc-selection.png
Labels: documentation, rpc-aapi

#1301 feat: DOCS-649 Business participant details for Business Accounts feature
  pages/rpc-service/chains/chains-list.mdx
  pages/rpc-service/getting-started/business-accounts.mdx
  public/build/getting-started/acc-selection-2.png
  public/build/getting-started/acc-selection.png
Labels: documentation, rpc-aapi

#1302 feat: DOCS-646 Rollux API Rerefence and Quickstart
  pages/rpc-service/chains/chains-api/aptos.mdx
  pages/rpc-service/chains/chains-api/arbitrum-nova.mdx
  pages/rpc-service/chains/chains-api/arbitrum.mdx
  pages/rpc-service/chains/chains-api/avalanche.mdx
  pages/rpc-service/chains/chains-api/base.mdx
  pages/rpc-service/chains/chains-api/bnb-smart-chain.mdx
  pages/rpc-service/chains/chains-api/bttc.mdx
  pages/rpc-service/chains/chains-api/celo.mdx
  pages/rpc-service/chains/chains-api/chiliz.mdx
  pages/rpc-service/chains/chains-api/eth-beacon.mdx
  pages/rpc-service/chains/chains-api/ethereum.mdx
  pages/rpc-service/chains/chains-api/fantom.mdx
  pages/rpc-service/chains/chains-api/filecoin.mdx
  pages/rpc-service/chains/chains-api/gnosis-beacon.mdx
  pages/rpc-service/chains/chains-api/gnosis.mdx
  pages/rpc-service/chains/chains-api/harmony.mdx
  pages/rpc-service/chains/chains-api/heco.mdx
  pages/rpc-service/chains/chains-api/horizen-eon.mdx
  pages/rpc-service/chains/chains-api/iotex.mdx
  pages/rpc-service/chains/chains-api/klaytn.mdx
  pages/rpc-service/chains/chains-api/kusama.mdx
  pages/rpc-service/chains/chains-api/mantle.mdx
  pages/rpc-service/chains/chains-api/metis.mdx
  pages/rpc-service/chains/chains-api/moonbeam.mdx
  pages/rpc-service/chains/chains-api/near.mdx
  pages/rpc-service/chains/chains-api/nervos.mdx
  pages/rpc-service/chains/chains-api/optimism.mdx
  pages/rpc-service/chains/chains-api/polkadot.mdx
  pages/rpc-service/chains/chains-api/polygon-zkevm.mdx
  pages/rpc-service/chains/chains-api/polygon.mdx
  pages/rpc-service/chains/chains-api/rollux.mdx
  pages/rpc-service/chains/chains-api/scroll.mdx
  pages/rpc-service/chains/chains-api/secret-network.mdx
  pages/rpc-service/chains/chains-api/solana.mdx
  pages/rpc-service/chains/chains-api/sui.mdx
  pages/rpc-service/chains/chains-api/syscoin.mdx
  pages/rpc-service/chains/chains-api/tenet.mdx
  pages/rpc-service/chains/chains-api/tron.mdx
  pages/rpc-service/chains/chains-api/zetachain.mdx
  pages/rpc-service/chains/chains-api/zksync-era.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1303 feat: DOCS-646 Rollux API Reference and Quickstart
  pages/rpc-service/chains/chains-api/aptos.mdx
  pages/rpc-service/chains/chains-api/arbitrum-nova.mdx
  pages/rpc-service/chains/chains-api/arbitrum.mdx
  pages/rpc-service/chains/chains-api/avalanche.mdx
  pages/rpc-service/chains/chains-api/base.mdx
  pages/rpc-service/chains/chains-api/bnb-smart-chain.mdx
  pages/rpc-service/chains/chains-api/bttc.mdx
  pages/rpc-service/chains/chains-api/celo.mdx
  pages/rpc-service/chains/chains-api/chiliz.mdx
  pages/rpc-service/chains/chains-api/eth-beacon.mdx
  pages/rpc-service/chains/chains-api/ethereum.mdx
  pages/rpc-service/chains/chains-api/fantom.mdx
  pages/rpc-service/chains/chains-api/filecoin.mdx
  pages/rpc-service/chains/chains-api/gnosis-beacon.mdx
  pages/rpc-service/chains/chains-api/gnosis.mdx
  pages/rpc-service/chains/chains-api/harmony.mdx
  pages/rpc-service/chains/chains-api/heco.mdx
  pages/rpc-service/chains/chains-api/horizen-eon.mdx
  pages/rpc-service/chains/chains-api/iotex.mdx
  pages/rpc-service/chains/chains-api/klaytn.mdx
  pages/rpc-service/chains/chains-api/kusama.mdx
  pages/rpc-service/chains/chains-api/mantle.mdx
  pages/rpc-service/chains/chains-api/metis.mdx
  pages/rpc-service/chains/chains-api/moonbeam.mdx
  pages/rpc-service/chains/chains-api/near.mdx
  pages/rpc-service/chains/chains-api/nervos.mdx
  pages/rpc-service/chains/chains-api/optimism.mdx
  pages/rpc-service/chains/chains-api/polkadot.mdx
  pages/rpc-service/chains/chains-api/polygon-zkevm.mdx
  pages/rpc-service/chains/chains-api/polygon.mdx
  pages/rpc-service/chains/chains-api/rollux.mdx
  pages/rpc-service/chains/chains-api/scroll.mdx
  pages/rpc-service/chains/chains-api/secret-network.mdx
  pages/rpc-service/chains/chains-api/solana.mdx
  pages/rpc-service/chains/chains-api/sui.mdx
  pages/rpc-service/chains/chains-api/syscoin.mdx
  pages/rpc-service/chains/chains-api/tenet.mdx
  pages/rpc-service/chains/chains-api/tron.mdx
  pages/rpc-service/chains/chains-api/zetachain.mdx
  pages/rpc-service/chains/chains-api/zksync-era.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1304 feat: DOCS651 zkSync Era warning added
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1306 DOCS-652: add MATIC cross-chain staking contract addresses
  pages/staking-extra/ls-sc-addresses-mn.mdx
  pages/staking-extra/staking-smart-contracts.mdx
Labels: documentation, staking

#1307 DOCS-653: Reorganize Staking Extra alphabetically
  pages/staking-extra/_meta.json
Labels: documentation, staking

#1309 DOCS-654: add MATIC pool to Staking > Extra > LS SCs
  pages/staking-extra/staking-smart-contracts.mdx
Labels: documentation, staking

#1308 feat: DOCS-645 Getting Started Overview items added
  pages/advanced-api/overview.mdx
  pages/info-map.mdx
  pages/rpc-service/getting-started/overview.mdx
  public/build/aapi-gs.png
Labels: documentation, rpc-aapi

#1311 chore: DOCS-655 Contract Automation screen sizes
  pages/automation/custom-logic-automation.mdx
  pages/automation/manage-tasks.mdx
  pages/automation/time-based-automation.mdx
Labels: documentation, rpc-aapi

#1313 chore: DOCS-655 Minor edits
  pages/automation/manage-tasks.mdx
Labels: documentation, rpc-aapi

#1314 chore: DOCS-655 Minor edits
  pages/automation/manage-tasks.mdx
Labels: documentation, rpc-aapi

#1315 chore: DOCS-655 Minor edits
  pages/automation/manage-tasks.mdx
Labels: documentation, rpc-aapi

#1316 chore: DOCS-655 Minor edits
  pages/automation/manage-tasks.mdx
Labels: documentation, rpc-aapi

#1317 feat: DOCS-656 Screen sizes made consistent all over the docs
  pages/affiliated-chains/bnb-sidechain/architecture/overview.mdx
  pages/bridge/bridge-tokens.mdx
  pages/chainscanner/block-explorer.mdx
  pages/chainscanner/bridge.mdx
  pages/chainscanner/chain-data.mdx
  pages/chainscanner/governance-portal.mdx
  pages/chainscanner/overview.mdx
  pages/chainscanner/staking.mdx
  pages/chainscanner/validator-enrollment-hub.mdx
  pages/defi/overview.mdx
  pages/delegated-staking/ankr/claim-restake-rewards.mdx
  pages/delegated-staking/ankr/overview.mdx
  pages/delegated-staking/ankr/stake.mdx
  pages/delegated-staking/ankr/unstake.mdx
  pages/delegated-staking/gnosis/stake.mdx
  pages/liquid-crowdloan/overview.mdx
  pages/liquid-staking/avax/stake.mdx
  pages/liquid-staking/avax/unstake.mdx
  pages/liquid-staking/bnb/stake.mdx
  pages/liquid-staking/bnb/unstake.mdx
  pages/liquid-staking/dot/stake.mdx
  pages/liquid-staking/dot/unstake.mdx
  pages/liquid-staking/eth/stake.mdx
  pages/liquid-staking/eth/unstake.mdx
  pages/liquid-staking/ftm/stake.mdx
  pages/liquid-staking/ftm/unstake.mdx
  pages/liquid-staking/matic/stake.mdx
  pages/liquid-staking/matic/unstake.mdx
  pages/staking-extra/fix-broken-network-switch.mdx
  pages/staking-extra/switch-ankreth-binance.mdx
  pages/staking-for-developers/referral-program/overview.mdx
  pages/switch/switch-tokens.mdx
  public/staking/delegated-staking/mgno/gno-mgno-converter-connect-wallet.png
Labels: documentation, rpc-aapi

#1319 feat: DOCS-657 Overview items for RPC's Getting Started
  pages/rpc-service/getting-started/overview.mdx
  public/build/getting-started/stngs.png
Labels: documentation, rpc-aapi

#1320 feat: DOCS-657 Overview items for RPC's Getting Started
  pages/rpc-service/getting-started/overview.mdx
  public/build/getting-started/stngs.png
Labels: documentation, rpc-aapi

#1323 feat: DOCS-658 New aapi method plus visuals for various docs sections
  pages/advanced-api/overview.mdx
  pages/app-chains/overview.mdx
  pages/gaming-overview.mdx
  pages/index.mdx
  pages/rpc-service/getting-started/overview.mdx
  pages/staking-overview.mdx
Labels: documentation, rpc-aapi

#1324 feat: DOCS-658 AAPI JS and Python SDKs
  pages/advanced-api/javascript-sdk.mdx
  pages/advanced-api/python-sdk.mdx
Labels: documentation, rpc-aapi

#1325 feat: DOCS-658 AAPI JS and Python SDKs
  pages/advanced-api/javascript-sdk.mdx
  pages/advanced-api/python-sdk.mdx
Labels: documentation, rpc-aapi

#1326 feat: DOCS-659 Latest Projects UI added
  pages/rpc-service/getting-started/projects.mdx
  public/build/getting-started/add-project.png
  public/build/getting-started/projects-pane.png
  public/build/getting-started/view-project.png
Labels: documentation, rpc-aapi

#1328 DOCS-662: Update Ankr technical service fee for mGNO Delegate Staking
  pages/delegated-staking/gnosis/faq.mdx
  pages/staking-extra/_meta.json
  pages/staking-extra/staking-fees.mdx
  redirects.json
Labels: documentation, staking

#1329 DOCS-662: Update Ankr technical service fee for mGNO Delegate Staking
  pages/staking-extra/_meta.json
Labels: documentation, staking

#1331 feat: DOCS-660 Price bundles info added into Overview and Premium Basics
  pages/rpc-service/getting-started/basics-premium.mdx
  pages/rpc-service/getting-started/overview.mdx
  public/build/getting-started/billing-pane.png
  public/build/getting-started/billing-ui.png
  public/build/usd-initial-deposit.jpg
  public/build/usd-initial-deposit.png
Labels: documentation, rpc-aapi

#1334 DOCS-663: rateProvider for Balancer per LST
  pages/staking-extra/staking-smart-contracts.mdx
  pages/staking-for-developers/oracles/redemption-price-oracle.mdx
Labels: documentation, staking

#1335 feat: DOCS-664 RPC Service's Overview section plus Service Plans
  pages/_meta.json
  pages/index.mdx
  pages/info-map.mdx
  pages/rpc-service/_meta.json
  pages/rpc-service/getting-started/_meta.json
  pages/rpc-service/getting-started/basics-premium.mdx
  pages/rpc-service/getting-started/intro.mdx
  pages/rpc-service/overview.mdx
  pages/rpc-service/service-plans.mdx
  pages/rpc-service/tech-stuff.mdx
  public/build/service-plans.png
  redirects.json
Labels: documentation, rpc-aapi

#1337 feat: DOCS-664 RPC Service's Overview section plus Service Plans
  pages/_meta.json
  pages/index.mdx
  pages/info-map.mdx
  pages/rpc-service/_meta.json
  pages/rpc-service/getting-started/_meta.json
  pages/rpc-service/getting-started/basics-premium.mdx
  pages/rpc-service/getting-started/intro.mdx
  pages/rpc-service/overview.mdx
  pages/rpc-service/service-plans.mdx
  pages/rpc-service/tech-stuff.mdx
  pages/staking-extra/staking-smart-contracts.mdx
  public/build/service-plans.png
  redirects.json
Labels: documentation, rpc-aapi

#1338 feat: DOCS-664 Business accounts link fixed along the way
  pages/rpc-service/getting-started/intro.mdx
Labels: documentation, rpc-aapi

#1339 feat: DOCS-664 Business accounts link fixed along the way
  pages/rpc-service/getting-started/intro.mdx
Labels: documentation, rpc-aapi

#1340 DOCS-665: Ankr Bridge, RatioFeed on Optimism, Arbitrum
  pages/staking-extra/staking-smart-contracts.mdx
Labels: documentation, staking

#1341 feat: DOCS-666 Info consistency for Welcome, Info Map, Overview, Intro, Service Plans, Pricing
  pages/_meta.json
  pages/index.mdx
  pages/info-map.mdx
  pages/rpc-service/chains/chains-list.mdx
  pages/rpc-service/getting-started/intro.mdx
  pages/rpc-service/overview.mdx
  pages/rpc-service/pricing.mdx
  pages/rpc-service/service-plans.mdx
Labels: documentation, rpc-aapi

#1342 feat: DOCS-666 Info consistency for Welcome, Info Map, Overview, Intro, Service Plans, Pricing
  pages/_meta.json
  pages/index.mdx
  pages/info-map.mdx
  pages/rpc-service/chains/chains-list.mdx
  pages/rpc-service/getting-started/intro.mdx
  pages/rpc-service/overview.mdx
  pages/rpc-service/pricing.mdx
  pages/rpc-service/service-plans.mdx
Labels: documentation, rpc-aapi

#1343 feat: DOCS-667 Subscription charging model added into Service Plans
  pages/_meta.json
  pages/index.mdx
  pages/info-map.mdx
  pages/rpc-service/getting-started/basics-public.mdx
  pages/rpc-service/getting-started/intro.mdx
  pages/rpc-service/getting-started/projects.mdx
  pages/rpc-service/overview.mdx
  pages/rpc-service/service-plans.mdx
Labels: documentation, rpc-aapi

#1345 feat: DOCS-668 Projects feature latest detail
  pages/rpc-service/getting-started/projects.mdx
  public/build/getting-started/enter-smart.png
  public/build/getting-started/project-checkout.png
  public/build/getting-started/project-plan.png
  public/build/getting-started/select-chain.png
Labels: documentation, rpc-aapi

#1346 feat: DOCS-668 Projects feature latest detail
  pages/rpc-service/getting-started/projects.mdx
  public/build/getting-started/enter-smart.png
  public/build/getting-started/project-checkout.png
  public/build/getting-started/project-plan.png
  public/build/getting-started/select-chain.png
Labels: documentation, rpc-aapi

#1347 feat: DOCS-668 Minor changes in structure
  pages/rpc-service/getting-started/projects.mdx
Labels: documentation, rpc-aapi

#1348 feat: DOCS-668 Minor changes in structure
  pages/rpc-service/getting-started/projects.mdx
Labels: documentation, rpc-aapi

#1349 feat: DOCS-669 Mantle Mainnet info added into Chains Quickstart and API Reference docs
  pages/rpc-service/chains/chains-api/mantle.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1350 feat: DOCS-669 Mantle Mainnet info added into Chains Quickstart and API Reference docs
  pages/rpc-service/chains/chains-api/mantle.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1351 DOCS-670: Fix ratio formula in Redemption Price Oracle
  pages/staking-for-developers/oracles/redemption-price-oracle.mdx
Labels: documentation, staking

#1352 feat: DOCS-669 More visuals
  pages/index.mdx
  pages/rpc-service/getting-started/intro.mdx
  public/build/aapi.png
  public/build/intro.png
  public/build/rpc-welcome.png
  public/build/rpc.png
Labels: documentation, rpc-aapi

#1354 feat: DOCS-669 Visions variation
  pages/rpc-service/chains/chains-list.mdx
  public/build/intro.png
Labels: documentation, rpc-aapi

#1355 feat: DOCS-669 Visions variation
  pages/advanced-api/javascript-sdk.mdx
  pages/advanced-api/overview.mdx
  pages/advanced-api/pricing.mdx
  pages/advanced-api/python-sdk.mdx
  pages/advanced-api/react-hooks.mdx
  pages/automation/overview.mdx
  pages/node-snapshot.mdx
  public/build/contract-automation.png
  public/build/node-snapshots.png
Labels: documentation, rpc-aapi

#1356 feat: DOCS-669 Info consistency plus visuals variation
  pages/advanced-api/javascript-sdk.mdx
  pages/advanced-api/overview.mdx
  pages/advanced-api/pricing.mdx
  pages/advanced-api/python-sdk.mdx
  pages/advanced-api/react-hooks.mdx
  pages/automation/overview.mdx
  pages/node-snapshot.mdx
  pages/rpc-service/chains/chains-list.mdx
  public/build/contract-automation.png
  public/build/intro.png
  public/build/node-snapshots.png
Labels: documentation, rpc-aapi

#1357 DOCS-672: Add bridged ANKR (by Ankr Bridge) to LST MN Addresses
  pages/staking-extra/ls-sc-addresses-mn.mdx
Labels: documentation, staking

#1358 feat: DOCS-671 Info enhancement
  pages/node-snapshot.mdx
  pages/rpc-service/getting-started/basics-premium.mdx
  pages/rpc-service/service-plans.mdx
Labels: documentation, rpc-aapi

#1359 feat: DOCS-671 Info enhancement
  pages/node-snapshot.mdx
  pages/rpc-service/getting-started/basics-premium.mdx
  pages/rpc-service/service-plans.mdx
Labels: documentation, rpc-aapi

#1360 feat: DOCS-671 Service plans info consistency
  pages/rpc-service/service-plans.mdx
Labels: documentation, rpc-aapi

#1361 feat: DOCS-671 Service plans info consistency
  pages/rpc-service/service-plans.mdx
Labels: documentation, rpc-aapi

#1362 DOCS-673: Rename ANKR by Multichain into multiANKR (Discontinued), remove ANKR on Polygon zkEVM
  pages/staking-extra/ls-sc-addresses-mn.mdx
Labels: documentation, staking

#1363 DOCS-675: Fix and amend LS SC addr TN
  pages/staking-extra/ls-sc-addresses-tn.mdx
Labels: documentation, staking

#1364 DOCS-675: Fix and amend LS SC addr TN
  pages/staking-extra/ls-sc-addresses-tn.mdx
Labels: documentation, staking

#1365 DOCS-675: Fix and amend LS SC addr TN
  pages/staking-extra/ls-sc-addresses-tn.mdx
Labels: documentation, staking

#1366 DOCS-675: Fix and amend LS SC addr TN
  pages/staking-extra/ls-sc-addresses-tn.mdx
Labels: documentation, staking

#1367 DOCS-677: Add Ankr Validator on Sui
  pages/staking-extra/ankr-validators.mdx
Labels: documentation, staking

#1368 feat: DOCS-671 Overview visuals added
  pages/rpc-service/overview.mdx
  public/build/asymmetric-encryption.png
  public/build/consensus-participants.png
  public/build/consensus.png
  public/build/data-accuracy.png
  public/build/funds-security.png
  public/build/healthy-nodes.png
  public/build/info-caching.png
  public/build/jwt-token.png
  public/build/load-balancer.png
  public/build/smart-contracts.png
Labels: documentation, rpc-aapi

#1369 feat: DOCS-671 Overview visuals added
  pages/rpc-service/overview.mdx
  public/build/asymmetric-encryption.png
  public/build/consensus-participants.png
  public/build/consensus.png
  public/build/data-accuracy.png
  public/build/funds-security.png
  public/build/healthy-nodes.png
  public/build/info-caching.png
  public/build/jwt-token.png
  public/build/load-balancer.png
  public/build/smart-contracts.png
Labels: documentation, rpc-aapi

#1370 DOCS-678: Include Contract Automation into index.mdx, info-map.mdx
  pages/index.mdx
  pages/info-map.mdx
Labels: documentation, automation

#1371 feat: DOCS-679 Contract Automation visuals for Welcome section
  pages/index.mdx
  public/build/contract-auto.png
Labels: documentation, rpc-aapi

#1373 feat: DOCS-679 Authenticated users as team members in Business Accounts
  pages/rpc-service/getting-started/business-accounts.mdx
Labels: documentation, rpc-aapi

#1374 feat: DOCS-679 Authenticated users as team members in Business Accounts
  pages/rpc-service/getting-started/business-accounts.mdx
Labels: documentation, rpc-aapi

#1375 feat: DOCS-680 Base and Horizen Mainnets added into Quickstart
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1376 feat: DOCS-680 Base and Horizen Mainnets added into Quickstart
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1377 feat: DOCS-680 Horizen EON code snippets in Quickstart and API Reference
  pages/node-snapshot.mdx
  pages/rpc-service/chains/chains-api/horizen-eon.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1378 feat: DOCS-680 Horizen EON code snippets in Quickstart and API Reference
  pages/node-snapshot.mdx
  pages/rpc-service/chains/chains-api/horizen-eon.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1379 feat: DOCS-680 Visuals for Welcome, RPC/AAPI Pricing, Base Mainnet info, local info maps
  pages/advanced-api/pricing.mdx
  pages/rpc-service/chains/chains-api/base.mdx
  pages/rpc-service/chains/chains-list.mdx
  pages/rpc-service/getting-started/intro.mdx
  pages/rpc-service/pricing.mdx
  public/build/pricing-section.png
  public/build/rpc-welcome.png
Labels: documentation, rpc-aapi

#1380 feat: DOCS-680 Visuals for Welcome, RPC/AAPI Pricing, Base Mainnet info, local info maps
  pages/advanced-api/pricing.mdx
  pages/rpc-service/chains/chains-api/base.mdx
  pages/rpc-service/chains/chains-list.mdx
  pages/rpc-service/getting-started/intro.mdx
  pages/rpc-service/pricing.mdx
  public/build/pricing-section.png
  public/build/rpc-welcome.png
Labels: documentation, rpc-aapi

#1381 feat: DOCS-680 Service plans restructure and visuals
  pages/rpc-service/service-plans.mdx
Labels: documentation, rpc-aapi

#1382 feat: DOCS-680 Service plans restructure and visuals
  pages/rpc-service/service-plans.mdx
Labels: documentation, rpc-aapi
