Repository Ankr-network/ankr-docs, pull requests merged in 2023-03, with the labels that each got.

#1059 [update] BNB unstakes times
  pages/liquid-staking/bnb/unstake.mdx
  pages/staking-for-developers/dev-details/bnb-liquid-staking-mechanics.mdx
Labels: documentation, staking

#1060 [update] BNB unstakes times
  pages/liquid-staking/bnb/unstake.mdx
Labels: documentation, staking

#1061 [update] BNB unstakes times
  pages/liquid-staking/bnb/unstake.mdx
Labels: documentation, staking

#1062 DOCS-553: [fix] Youtube container in ANKR Delegated Staking overview
  pages/delegated-staking/ankr/overview.mdx
  pages/liquid-staking/bnb/faq.mdx
  src/styles/global.css
Labels: documentation, staking, docops

#1064 DOCS-529: [update] Nextra for Ankr Docs (2.2.16)
  README.md
  jsconfig.json
  next-env.d.ts
  next.config.js
  next.config.mjs
  package.json
  pages/_app.js
  pages/_app.mdx
  pages/_meta.json
  pages/advanced-api/_meta.json
  pages/advanced-api/specification.mdx
  pages/app-chains/_meta.json
  pages/chainscanner/governance-portal.mdx
  pages/defi/overview.mdx
  pages/index.mdx
  pages/liquid-staking/avax/overview.mdx
  pages/liquid-staking/ksm/_meta.json
  pages/liquid-staking/ssv/overview.mdx
  pages/rpc-service/getting-started.mdx
  pages/rpc-service/tech-stuff.mdx
  pages/staking-extra/integrations.mdx
  pages/staking-for-developers/dev-details/bnb-liquid-staking-mechanics.mdx
  pages/staking-for-developers/dev-details/matic-liquid-staking-mechanics.mdx
  pages/staking-for-developers/oracles/pancakeswap-oracle.mdx
  pages/staking-overview.mdx
  postcss.config.js
  public/build/rpc-endpoints-public.jpg
  public/build/rpc-flow.jpg
  public/build/too-big-pics-sources/rpc-endpoints-public.png
  public/build/too-big-pics-sources/rpc-flow.png
  public/build/too-big-pics-sources/ui-schema.png
  public/build/too-big-pics-sources/usd-initial-deposit.png
  public/build/too-big-pics-sources/use-endp-public.png
  public/build/too-big-pics-sources/use-endpoint-premium.png
  public/build/ui-schema.jpg
  public/build/usd-initial-deposit.jpg
  public/build/use-endp-public.jpg
  public/build/use-endpoint-premium.jpg
  public/staking/defi/defi-dashboard.jpg
  src/components/index.js
  src/components/prism.jsx
  src/styles/global.css
  tailwind.config.js
  theme.config.js
  theme.config.tsx
  tsconfig.json
  yarn.lock
Labels: documentation, docops

#1067 feat: DOCS-551 Cosmos REST API Reference added
  pages/rpc-service/chains/chains-api/secret-network.mdx
  pages/rpc-service/chains/chains-api/syscoin.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1070 chore: DOCS-555 migrated some compoinents and hooks to typescript
  README.md
  pages/liquid-staking/bnb/overview.mdx
  pages/liquid-staking/bnb/stake.mdx
  pages/liquid-staking/bnb/unstake.mdx
  pages/staking-for-developers/dev-details/bnb-liquid-staking-mechanics.mdx
  src/components/Callout.tsx
  src/components/gtm.ts
  src/hooks/useGtm.ts
  src/types/window.d.ts
  tsconfig.json
Labels: documentation, frontend

#1076 [update] BNB unbonding period
  pages/liquid-staking/bnb/faq.mdx
  pages/staking-for-developers/dev-details/bnb-liquid-staking-mechanics.mdx
Labels: documentation, staking

#1078 [add] redirect for docs/staking/for-integrators/overview/
  redirects.json
Labels: documentation, docops

#1079 [add] redirect for docs/staking/for-integrators/overview/
  redirects.json
Labels: documentation, docops

#1081 chore: DOCS-555 migrated some compoinents and hooks to typescript
  pages/liquid-staking/bnb/stake.mdx
  src/components/Callout.tsx
  src/components/gtm.ts
  src/hooks/useGtm.ts
  src/types/window.d.ts
  tsconfig.json
Labels: documentation, docops, frontend

#1082 DOCS-556: [add] MATIC LS on Polygon, [add] Veridise audit report for ANKR DS
  pages/delegated-staking/ankr/overview.mdx
  pages/staking-for-developers/dev-details/matic-liquid-staking-mechanics.mdx
Labels: documentation, staking

#1083 DOCS-556: [add] MATIC LS on Polygon, [add] Veridise audit report for ANKR DS
  pages/delegated-staking/ankr/overview.mdx
  pages/staking-for-developers/dev-details/matic-liquid-staking-mechanics.mdx
Labels: documentation, staking

#1084 [add] Veridise audit report for ANKR DS
  pages/staking-for-developers/dev-details/matic-liquid-staking-mechanics.mdx
Labels: documentation, staking

#1085 [add] Veridise audit report for ANKR DS
  pages/staking-for-developers/dev-details/matic-liquid-staking-mechanics.mdx
Labels: documentation, staking

#1086 feat: DOCS-557 Privacy policy section added
  pages/_meta.json
  pages/privacy.mdx
  public/build/privacy.png
Labels: documentation, rpc-aapi

#1087 feat: DOCS-557 Privacy policy section added.
  pages/_meta.json
  pages/privacy.mdx
  public/build/privacy.png
Labels: documentation, rpc-aapi

#1089 update ETH LS unstake implementation time
  pages/liquid-staking/eth/overview.mdx
  pages/liquid-staking/eth/unstake.mdx
  pages/staking-for-developers/dev-details/eth-liquid-staking-mechanics.mdx
Labels: documentation, staking

#1090 [update] Privacy Policy page name in sidebar
  pages/_meta.json
Labels: documentation, docops

#1091 [update] Privacy Policy page name in sidebar
  pages/_meta.json
Labels: documentation, docops

#1096 feat: DOCS-558 Aptos API Reference added
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/chains/chains-api/aptos.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1097 chore: DOCS-560 Cosmos REST POST methods defined plus Privacy Policy section renamed
  pages/_meta.json
  pages/rpc-service/chains/chains-api/secret-network.mdx
Labels: documentation, rpc-aapi

#1098 chore: DOCS-560 Cosmos REST POST methods defined plus Privacy Policy section renamed
  pages/_meta.json
  pages/rpc-service/chains/chains-api/secret-network.mdx
Labels: documentation, rpc-aapi

#1099 feat: DOCS-561 Filecoin FEVM methods API Reference added
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/chains/chains-api/filecoin.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1100 feat: DOCS-561 Filecoin FEVM methods API Reference added
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/chains/chains-api/filecoin.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1101 [change] 1Inch to OpenOcean for getting NKAR
  pages/delegated-staking/ankr/stake.mdx
  pages/liquid-staking/eth/faq.mdx
  pages/liquid-staking/eth/overview.mdx
  pages/liquid-staking/eth/stake.mdx
  pages/liquid-staking/eth/unstake.mdx
  pages/staking-for-developers/dev-details/eth-liquid-staking-mechanics.mdx
  public/staking/bridge/enter-amount-click-approve.jpg
  public/staking/liquid-staking/bnb/add-token-to-wallet.jpg
  public/staking/liquid-staking/eth/add-token-to-wallet.jpg
  public/staking/liquid-staking/ftm/add-token-to-wallet.jpg
  public/staking/liquid-staking/matic/add-token-to-wallet.jpg
  public/staking/switch/add-switched-tokens-to-wallet.jpg
Labels: documentation, staking

#1102 [change] 1Inch to OpenOcean for getting NKAR
  pages/delegated-staking/ankr/stake.mdx
  pages/liquid-staking/eth/faq.mdx
  pages/liquid-staking/eth/overview.mdx
  pages/liquid-staking/eth/stake.mdx
  pages/liquid-staking/eth/unstake.mdx
  pages/staking-for-developers/dev-details/eth-liquid-staking-mechanics.mdx
  public/staking/bridge/enter-amount-click-approve.jpg
  public/staking/liquid-staking/bnb/add-token-to-wallet.jpg
  public/staking/liquid-staking/eth/add-token-to-wallet.jpg
  public/staking/liquid-staking/ftm/add-token-to-wallet.jpg
  public/staking/liquid-staking/matic/add-token-to-wallet.jpg
  public/staking/switch/add-switched-tokens-to-wallet.jpg
Labels: documentation, staking

#1103 [fix] inner navigation link in NFT AAPI
  pages/advanced-api/nft-methods.mdx
Labels: documentation, rpc-aapi

#1105 feat: DOCS-562 Filecoin all methods added and some minor changes to aapi added
  pages/advanced-api/query-methods.mdx
  pages/delegated-staking/ankr/faq.mdx
  pages/rpc-service/chains/chains-api/filecoin.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1106 DOCS-564: [add] Staking Smart Contracts page in staking-extra
  pages/delegated-staking/gnosis/stake.mdx
  pages/staking-extra/_meta.json
  pages/staking-extra/staking-smart-contracts.mdx
  pages/staking-for-developers/dev-details/eth-liquid-staking-mechanics.mdx
Labels: documentation, staking

#1107 DOCS-564: [add] Staking Smart Contracts page in staking-extra
  pages/staking-extra/staking-smart-contracts.mdx
Labels: documentation, staking

#1108 DOCS-564: [add] Staking Smart Contracts page in staking-extra
  pages/staking-extra/staking-smart-contracts.mdx
Labels: documentation, staking

#1112 feat: DOCS-565 Arbitrum One community treasury address
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1113 Comm treasure address minor edit
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1114 feat: DOCS-565 Arbitrum One community treasury address
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1115 DOCS-566: [update] Referral program share
  pages/staking-for-developers/referral-program/overview.mdx
Labels: documentation, staking

#1116 DOCS-567: [add] ANKR DS audit reports to Staking > Extra
  pages/staking-extra/audit-reports.mdx
Labels: documentation, staking

#1119 hotfix: DOCS-568 zkEVM start plus minor getting started
  pages/rpc-service/chains/chains-list.mdx
  pages/rpc-service/getting-started.mdx
Labels: documentation, rpc-aapi

#1122 feat: DOCS-563 RPC Service Getting Started renewed
  pages/rpc-service/getting-started.mdx
  public/build/chain-select.png
  public/build/copy-endpoint-public.png
  public/build/getting-started/gauth.png
  public/build/network-select.png
  public/build/sign-in-method.png
  public/build/ui-schema.jpg
  public/build/ui-schema.png
  public/build/use-endp-public.jpg
  public/build/wallet-select.png
Labels: documentation, rpc-aapi

#1123 feat: DOCS-569 Polygon zkEVM methods updated
  pages/rpc-service/chains/chains-api/polygon-zkevm.mdx
Labels: documentation, rpc-aapi
