Repository Ankr-network/ankr-docs, pull requests merged in 2023-10, with the labels that each got.

#1444 DOCS-22, DOCS-23: small fix in eth-liquid-staking-mechanics.mdx, add the APY endpoint to the APY section
  pages/staking-for-developers/dev-details/eth-liquid-staking-mechanics.mdx
Labels: documentation, staking

#1447 DOCS-24: Trusless ratio for ETH LS
  pages/staking-for-developers/restful-api/_meta.json
  pages/staking-for-developers/restful-api/trustless-ratio.mdx
  public/staking/liquid-staking/eth/trustless-ratio-eth.png
Labels: documentation, staking

#1448 DOCS-24: Trusless ratio for ETH LS
  pages/staking-for-developers/restful-api/_meta.json
  pages/staking-for-developers/restful-api/trustless-ratio.mdx
  public/staking/liquid-staking/eth/trustless-ratio-eth.png
Labels: documentation, staking

#1449 DOCS-48: Remove redundant redirects for AAPI
  redirects.json
Labels: documentation, docops

#1450 feat: DOCS-700 XDC Network added into Quickstart and API Reference
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/chains/chains-api/xdc.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1452 feat: DOCS-700 XDC Network added into Quickstart and API Reference
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1455 SPHER-14: add new redirects
  redirects.json
Labels: documentation, scalability services

#1456 SPHER-14: add new redirects
  redirects.json
Labels: documentation, ankr scaling services

#1457 SPHER-14: fix naming
  pages/_meta.json
  pages/scaling-services-introduction/_meta.json
  pages/scaling-services-introduction/faq.mdx
  pages/scaling-services-introduction/overview.mdx
  pages/scaling-services-rollups/_meta.json
  pages/scaling-services-rollups/overview.mdx
  pages/scaling-services-sidechains/_meta.json
  pages/scaling-services-sidechains/bnb-sidechain/_meta.json
  pages/scaling-services-sidechains/bnb-sidechain/architecture/_meta.json
  pages/scaling-services-sidechains/bnb-sidechain/architecture/circulation-model-native-bridge.mdx
  pages/scaling-services-sidechains/bnb-sidechain/architecture/fast-finality.mdx
  pages/scaling-services-sidechains/bnb-sidechain/architecture/governance.mdx
  pages/scaling-services-sidechains/bnb-sidechain/architecture/native-bridge.mdx
  pages/scaling-services-sidechains/bnb-sidechain/architecture/overview.mdx
  pages/scaling-services-sidechains/bnb-sidechain/architecture/runtime-upgrades.mdx
  pages/scaling-services-sidechains/bnb-sidechain/architecture/system-smart-contracts.mdx
  pages/scaling-services-sidechains/bnb-sidechain/demo.mdx
  pages/scaling-services-sidechains/bnb-sidechain/faq.mdx
  pages/scaling-services-sidechains/bnb-sidechain/glossary.mdx
  pages/scaling-services-sidechains/bnb-sidechain/how-to-launch/_meta.json
  pages/scaling-services-sidechains/bnb-sidechain/how-to-launch/configure-genesis-file.mdx
  pages/scaling-services-sidechains/bnb-sidechain/how-to-launch/deploy-erc20-token.mdx
  pages/scaling-services-sidechains/bnb-sidechain/how-to-launch/deploy-erc721-token.mdx
  pages/scaling-services-sidechains/bnb-sidechain/how-to-launch/launch-bnb-sidechain.mdx
  pages/scaling-services-sidechains/bnb-sidechain/overview.mdx
  pages/scaling-services-sidechains/bnb-sidechain/security/_meta.json
  pages/scaling-services-sidechains/bnb-sidechain/security/blockchain-and-evm-security.mdx
  pages/scaling-services-sidechains/bnb-sidechain/security/off-chain-security.mdx
  pages/scaling-services-sidechains/bnb-sidechain/security/on-chain-security.mdx
  pages/scaling-services-sidechains/bnb-sidechain/security/system-smart-contracts.mdx
  pages/scaling-services-sidechains/bnb-sidechain/staking.mdx
  pages/scaling-services-sidechains/overview.mdx
  pages/scaling-services-sidechains/polygon-supernets/_meta.json
  pages/scaling-services-sidechains/polygon-supernets/overview.mdx
  pages/sphere-rollups/overview.mdx
  redirects.json
Labels: documentation, ankr scaling services

#1458 SPHER-14: fix naming
  pages/_meta.json
  pages/scaling-services-introduction/_meta.json
  pages/scaling-services-introduction/faq.mdx
  pages/scaling-services-introduction/overview.mdx
  pages/scaling-services-rollups/_meta.json
  pages/scaling-services-rollups/overview.mdx
  pages/scaling-services-sidechains/_meta.json
  pages/scaling-services-sidechains/bnb-sidechain/_meta.json
  pages/scaling-services-sidechains/bnb-sidechain/architecture/_meta.json
  pages/scaling-services-sidechains/bnb-sidechain/architecture/circulation-model-native-bridge.mdx
  pages/scaling-services-sidechains/bnb-sidechain/architecture/fast-finality.mdx
  pages/scaling-services-sidechains/bnb-sidechain/architecture/governance.mdx
  pages/scaling-services-sidechains/bnb-sidechain/architecture/native-bridge.mdx
  pages/scaling-services-sidechains/bnb-sidechain/architecture/overview.mdx
  pages/scaling-services-sidechains/bnb-sidechain/architecture/runtime-upgrades.mdx
  pages/scaling-services-sidechains/bnb-sidechain/architecture/system-smart-contracts.mdx
  pages/scaling-services-sidechains/bnb-sidechain/demo.mdx
  pages/scaling-services-sidechains/bnb-sidechain/faq.mdx
  pages/scaling-services-sidechains/bnb-sidechain/glossary.mdx
  pages/scaling-services-sidechains/bnb-sidechain/how-to-launch/_meta.json
  pages/scaling-services-sidechains/bnb-sidechain/how-to-launch/configure-genesis-file.mdx
  pages/scaling-services-sidechains/bnb-sidechain/how-to-launch/deploy-erc20-token.mdx
  pages/scaling-services-sidechains/bnb-sidechain/how-to-launch/deploy-erc721-token.mdx
  pages/scaling-services-sidechains/bnb-sidechain/how-to-launch/launch-bnb-sidechain.mdx
  pages/scaling-services-sidechains/bnb-sidechain/overview.mdx
  pages/scaling-services-sidechains/bnb-sidechain/security/_meta.json
  pages/scaling-services-sidechains/bnb-sidechain/security/blockchain-and-evm-security.mdx
  pages/scaling-services-sidechains/bnb-sidechain/security/off-chain-security.mdx
  pages/scaling-services-sidechains/bnb-sidechain/security/on-chain-security.mdx
  pages/scaling-services-sidechains/bnb-sidechain/security/system-smart-contracts.mdx
  pages/scaling-services-sidechains/bnb-sidechain/staking.mdx
  pages/scaling-services-sidechains/overview.mdx
  pages/scaling-services-sidechains/polygon-supernets/_meta.json
  pages/scaling-services-sidechains/polygon-supernets/overview.mdx
  pages/sphere-rollups/overview.mdx
  redirects.json
Labels: documentation, ankr scaling services

#1459 SPHER-14: fix naming
  pages/index.mdx
  pages/info-map.mdx
  pages/scaling-services-introduction/faq.mdx
  pages/scaling-services-introduction/overview.mdx
  pages/sphere-rollups/overview.mdx
Labels: documentation, ankr scaling services

#1461 SPHER-14: fix link
  pages/index.mdx
Labels: documentation, ankr scaling services

#1462 SPHER-14: fix link
  pages/index.mdx
Labels: documentation, ankr scaling services

#1466 DOCS-61: Update LS ETH API
  pages/staking-for-developers/smart-contract-api/bnb-api.mdx
  pages/staking-for-developers/smart-contract-api/eth-api.mdx
Labels: documentation, staking

#1467 DOCS-64: Fix docs structure
  pages/scaling-services-rollups/FAQ.mdx
  pages/scaling-services-rollups/_meta.json
  pages/scaling-services-sidechains/overview.mdx
  pages/sphere-marketplace/overview.mdx
  pages/sphere-sidechains/overview.mdx
  pages/sphere-troubleshooting.mdx
Labels: documentation, staking

#1468 DOCS-64: Fix docs structure
  pages/scaling-services-rollups/faq.mdx
Labels: documentation, ankr scaling services
