Repository Ankr-network/ankr-docs, pull requests merged in 2023-05, with the labels that each got.

#1191 feat: DOCS-599 Base & Scroll Testnets added to Quickstart
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1192 feat: DOCS-600 Scroll Testnet API Reference added
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/chains/chains-api/scroll.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1193 DOCS-601: [refactor] token contract addreses
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/chains/chains-api/scroll.mdx
  pages/rpc-service/chains/chains-list.mdx
  pages/staking-extra/_meta.json
  pages/staking-extra/ls-sc-addresses-mn.mdx
  pages/staking-extra/ls-sc-addresses-tn.mdx
Labels: documentation, staking

#1194 DOCS-601: [refactor] token contract addreses
  pages/staking-extra/ls-sc-addresses-mn.mdx
Labels: documentation, staking

#1195 feat: DOCS-603 Sui added to Quickstart
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1196 feat: DOCS-603 Sui added to Quickstart
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1197 DOCS-604: [update] ETH unstake time
  pages/liquid-staking/eth/faq.mdx
  pages/liquid-staking/eth/unstake.mdx
Labels: documentation, staking

#1200 DOCS-484: [add] ANKR on Arbitrum
  pages/staking-extra/ls-sc-addresses-mn.mdx
  pages/staking-extra/staking-smart-contracts.mdx
Labels: documentation, staking

#1201 fix a typo
  pages/staking-for-developers/dev-details/bridge-mechanics.mdx
Labels: documentation, staking

#1202 feat: DOCS-606 Avalanche C P X chains API Reference added.
  pages/rpc-service/chains/chains-api/avalanche.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1203 feat: DOCS-606 Avalanche C P X chains API Reference added
  pages/rpc-service/chains/chains-api/avalanche.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1204 STAKAN-2697: [update] ETH unstake time
  pages/liquid-staking/eth/faq.mdx
  pages/liquid-staking/eth/unstake.mdx
Labels: documentation, staking

#1205 [update] Ankr Validators on Ethereum
  pages/staking-extra/ankr-validators.mdx
Labels: documentation, staking

#1208 [add] ankrETH on Arbitrum
  pages/staking-extra/ls-sc-addresses-mn.mdx
Labels: documentation, staking

#1211 DOCS-611: [update] Dev Details, Smart Contract API, LS Contracts with new BNBStakingPool details and changed flow
  pages/staking-extra/staking-smart-contracts.mdx
  pages/staking-for-developers/dev-details/bnb-liquid-staking-mechanics.mdx
  pages/staking-for-developers/smart-contract-api/bnb-api.mdx
Labels: documentation, staking

#1212 feat: RPC Service Chains Quickstart latest state.
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1214 feat: DOCS-613 Zetachain's Tendermint genesis method for JSON-RPC and REST added.
  pages/rpc-service/chains/chains-api/zetachain.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1216 [add] BinancePool to Staking Smart Contracts
  pages/staking-extra/staking-smart-contracts.mdx
Labels: documentation, staking

#1217 [update] address of ankrETH on Arbitrum
  pages/staking-extra/ls-sc-addresses-mn.mdx
Labels: documentation, staking

#1218 [add] ankrETH audit, [add] ankrBNB audit, [update] names of other audits
  pages/liquid-staking/avax/overview.mdx
  pages/liquid-staking/bnb/overview.mdx
  pages/liquid-staking/eth/overview.mdx
  pages/liquid-staking/ftm/overview.mdx
  pages/liquid-staking/matic/overview.mdx
Labels: documentation, staking

#1219 [fix] Node version in deploy.yml
  .github/workflows/deploy.yml
Labels: documentation, docops

#1220 [update] BNB unstake and stake min amount
  pages/liquid-staking/bnb/faq.mdx
  pages/liquid-staking/bnb/stake.mdx
  pages/liquid-staking/bnb/unstake.mdx
Labels: documentation, staking

#1222 [add] ETH and BNB audit report at /staking-extra/audit-reports/
  pages/staking-extra/audit-reports.mdx
Labels: documentation, staking

#1224 feat: DOCS-614 Polkadot and Kusama API Reference added
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/chains/chains-api/base.mdx
  pages/rpc-service/chains/chains-api/kusama.mdx
  pages/rpc-service/chains/chains-api/polkadot.mdx
  pages/rpc-service/chains/chains-api/scroll.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1225 feat: DOCS-614 Polkadot and Kusama API Reference added
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/chains/chains-api/base.mdx
  pages/rpc-service/chains/chains-api/kusama.mdx
  pages/rpc-service/chains/chains-api/polkadot.mdx
  pages/rpc-service/chains/chains-api/scroll.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1227 feat: DOCS-614 Chains Quickstart — links added, networks checked.
  pages/rpc-service/chains/chains-api/solana.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1228 feat: DOCS-620 Gnosis Beacon chain API Reference added.
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/chains/chains-api/eth-beacon.mdx
  pages/rpc-service/chains/chains-api/gnosis-beacon.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1229 feat: DOCS-620 Gnosis Beacon chain API Reference added.
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1230 feat: DOCS-620 Gnosis Beacon chain API Reference added.
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/chains/chains-api/eth-beacon.mdx
  pages/rpc-service/chains/chains-api/gnosis-beacon.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1237 feat: STAKAN-2725 unstake eth timer
  pages/liquid-staking/eth/unstake.mdx
Labels: documentation, frontend

#1238 feat: STAKAN-2725 unstake eth timer, [add back] webpack for logos, [fix] Automation _meta.json warning
  next.config.mjs
  package.json
  pages/_meta.json
  pages/liquid-staking/eth/unstake.mdx
  src/components/UnstakeETHTimer.tsx
  src/components/index.js
  theme.config.tsx
  yarn.lock
Labels: documentation, docops, frontend

#1239 [fix] Automation _meta.json warning
  pages/_meta.json
Labels: documentation, docops

#1240 [update] Nextra to 2.6.1
  package.json
  pages/liquid-staking/eth/faq.mdx
  yarn.lock
Labels: documentation, docops

#1241 DOCS-621: [remove] MATIC LS technical service fee on Ethereum
  pages/_meta.json
  pages/delegated-staking/gnosis/faq.mdx
  pages/liquid-staking/matic/faq.mdx
  pages/liquid-staking/matic/unstake.mdx
  pages/staking-extra/liquid-staking-fees.mdx
  pages/staking-for-developers/dev-details/matic-liquid-staking-mechanics.mdx
Labels: documentation, staking

#1242 chore: DOCS-622 Minor edits in RPC Service
  pages/rpc-service/service-plans.mdx
Labels: documentation, rpc-aapi

#1244 chore: DOCS-622 Minor edits in RPC Service
  pages/rpc-service/service-plans.mdx
Labels: documentation, rpc-aapi

#1245 DOCS-624: [add] KB URL to Ankr Docs
  pages/_meta.json
Labels: documentation, docops

#1247 chore: DOCS-625 Pricing added into Service Plans
  pages/rpc-service/service-plans.mdx
Labels: documentation, rpc-aapi

#1248 chore: DOCS-625 Pricing added into Service Plans
  pages/rpc-service/service-plans.mdx
Labels: documentation, rpc-aapi

#1249 chore: DOCS-627 Naming consistency and external info consistency
  pages/advanced-api/_meta.json
Labels: documentation, rpc-aapi

#1250 chore: DOCS-627 Naming consistency and external info consistency
  pages/advanced-api/_meta.json
Labels: documentation, rpc-aapi

#1251 feat: DOCS-628 Arbitrum 2MB request body limit
  pages/advanced-api/overview.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi
