Repository Ankr-network/ankr-docs, pull requests merged in 2023-08, with the labels that each got.

#1384 feat: DOCS-680 Contract Automation visuals
  pages/automation/overview.mdx
Labels: documentation, rpc-aapi

#1385 feat: DOCS-680 Contract Automation visuals
  pages/automation/overview.mdx
Labels: documentation, rpc-aapi

#1386 feat: DOCS-681 Rollux chain in aapi, minor edits for better UX
  pages/advanced-api/overview.mdx
  pages/rpc-service/service-plans.mdx
Labels: documentation, rpc-aapi

#1388 DOC-3: Update Gnosis FAQ (unstake), fix typo in mGNO DS in Ankr Docs
  pages/delegated-staking/gnosis/faq.mdx
  pages/delegated-staking/gnosis/stake.mdx
  pages/info-map.mdx
Labels: documentation, staking

#1389 feat: DOCS-682 AAPI new method added hidden plus Horizen name change
  pages/advanced-api/_meta.json
  pages/advanced-api/token-api.mdx
  pages/rpc-service/chains/chains-api/horizen-eon.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1390 feat: DOCS-682 AAPI new method added hidden plus Horizen name change
  pages/advanced-api/_meta.json
  pages/advanced-api/token-api.mdx
  pages/rpc-service/chains/chains-api/horizen-eon.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1391 feat: DOCS-682 Single-chain response
  pages/advanced-api/token-api.mdx
Labels: documentation, rpc-aapi

#1392 feat: DOCS-682 Single-chain response
  pages/advanced-api/token-api.mdx
Labels: documentation, rpc-aapi

#1394 feat: DOCS-682 Contract allowances info added
  pages/advanced-api/token-api.mdx
Labels: documentation, rpc-aapi

#1395 feat: DOCS-682 Token allowance naming change
  pages/advanced-api/token-api.mdx
Labels: documentation, rpc-aapi

#1396 feat: DOCS-682 Token allowance naming change
  pages/advanced-api/token-api.mdx
Labels: documentation, rpc-aapi

#1397 feat: DOCS-683 Scroll Sepolia Testnet added into Quickstart
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1398 feat: DOCS-683 Scroll Sepolia Testnet added into Quickstart
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1399 feat: DOCS-683 Token allowances messaging
  pages/advanced-api/token-api.mdx
Labels: documentation, rpc-aapi

#1400 feat: DOCS-683 Token allowances messaging
  pages/advanced-api/token-api.mdx
Labels: documentation, rpc-aapi

#1401 fix a formatting error
  pages/staking-for-developers/overview.mdx
Labels: documentation, staking

#1402 add ANKR addr on zkEVM Testnet
  pages/staking-extra/ls-sc-addresses-tn.mdx
Labels: documentation, staking

#1403 add ANKR addr on zkEVM Mainnet
  pages/staking-extra/ls-sc-addresses-mn.mdx
Labels: documentation, staking

#1404 remove redundant validator on Avalanche from Staking > Extra
  pages/staking-extra/ankr-validators.mdx
Labels: documentation, staking

#1405 Staking>Extra>LS SC: add ETH liquid staking withdrawal pool, add Tips&MEV collector
  pages/staking-extra/staking-smart-contracts.mdx
Labels: documentation, staking

#1408 feat: DOCS-684 AAPI methods static docs checked and added
  pages/advanced-api/_meta.json
  pages/advanced-api/nft-methods.mdx
  pages/advanced-api/overview.mdx
  pages/advanced-api/query-methods.mdx
  pages/advanced-api/token-methods.mdx
Labels: documentation, rpc-aapi

#1409 fix README.md
  README.md
Labels: documentation, docops

#1410 feat: DOCS-686 New chains added to aapi
  pages/advanced-api/nft-methods.mdx
  pages/advanced-api/overview.mdx
  pages/advanced-api/query-methods.mdx
  pages/advanced-api/token-methods.mdx
Labels: documentation, rpc-aapi

#1411 feat: DOCS-686 New chains added to aapi
  pages/advanced-api/nft-methods.mdx
  pages/advanced-api/overview.mdx
  pages/advanced-api/query-methods.mdx
  pages/advanced-api/token-methods.mdx
Labels: documentation, rpc-aapi

#1412 feat: DOCS-687 Subscription bundle items in Service Plans
  pages/rpc-service/service-plans.mdx
Labels: documentation, rpc-aapi

#1413 feat: DOCS-687 Subscription bundle items in Service Plans
  pages/rpc-service/service-plans.mdx
Labels: documentation, rpc-aapi
