Repository Ankr-network/ankr-docs, pull requests merged in 2023-02, with the labels that each got.

#965 feat: DOCS-511 RPC Service's current state reflected in Chains Quickstart
  pages/rpc-service/chains/chains-list.md
  pages/staking/delegated-staking/ankr/faq.md
  pages/staking/delegated-staking/gnosis/faq.md
  pages/staking/liquid-staking/avax/faq.md
  pages/staking/liquid-staking/bnb/faq.md
  pages/staking/liquid-staking/dot/faq.md
  pages/staking/liquid-staking/eth/faq.md
  pages/staking/liquid-staking/ftm/faq.md
  pages/staking/liquid-staking/matic/faq.md
  pages/staking/liquid-staking/ssv/faq.md
Labels: documentation, rpc-aapi

#966 feat: DOCS-511 RPC Service's current state reflected in Chains Quickstart
  pages/rpc-service/chains/chains-list.md
  pages/staking/delegated-staking/ankr/faq.md
  pages/staking/delegated-staking/gnosis/faq.md
  pages/staking/liquid-staking/avax/faq.md
  pages/staking/liquid-staking/bnb/faq.md
  pages/staking/liquid-staking/dot/faq.md
  pages/staking/liquid-staking/eth/faq.md
  pages/staking/liquid-staking/ftm/faq.md
  pages/staking/liquid-staking/matic/faq.md
  pages/staking/liquid-staking/ssv/faq.md
Labels: documentation, rpc-aapi

#970 DOCS-488: [add] infrastructure within Chainscanner
  pages/app-chains/chainscanner/_meta.json
  pages/app-chains/chainscanner/block-explorer.md
  pages/app-chains/chainscanner/bridge.md
  pages/app-chains/chainscanner/chain-data.md
  pages/app-chains/chainscanner/faucet.md
  pages/app-chains/chainscanner/overview.md
  pages/app-chains/chainscanner/staking.md
  public/app-chains/chainscanner.jpg
  public/app-chains/infrastructure-within-chainscanner/add-appchain-to-metamask.jpg
  public/app-chains/infrastructure-within-chainscanner/bridge-assets.jpg
  public/app-chains/infrastructure-within-chainscanner/chain-data-advantages-of-appchain.jpg
  public/app-chains/infrastructure-within-chainscanner/chain-data-summary.jpg
  public/app-chains/infrastructure-within-chainscanner/check-proposal-details.jpg
  public/app-chains/infrastructure-within-chainscanner/click-block-explorer.jpg
  public/app-chains/infrastructure-within-chainscanner/click-connect-wallet.jpg
  public/app-chains/infrastructure-within-chainscanner/click-explore-more-about-network.jpg
  public/app-chains/infrastructure-within-chainscanner/click-faucet.jpg
  public/app-chains/infrastructure-within-chainscanner/click-governance.jpg
  public/app-chains/infrastructure-within-chainscanner/click-jailed-validators.jpg
  public/app-chains/infrastructure-within-chainscanner/click-my-staking.jpg
  public/app-chains/infrastructure-within-chainscanner/click-on-proposal.jpg
  public/app-chains/infrastructure-within-chainscanner/click-pending-validators.jpg
  public/app-chains/infrastructure-within-chainscanner/click-register-new-validator.jpg
  public/app-chains/infrastructure-within-chainscanner/enter-amount-click-stake.jpg
  public/app-chains/infrastructure-within-chainscanner/explore-blockchain-data.jpg
  public/app-chains/infrastructure-within-chainscanner/get-testent-tokens.jpg
  public/app-chains/infrastructure-within-chainscanner/read-terms-and-click-start.jpg
  public/app-chains/infrastructure-within-chainscanner/register-as-validator.jpg
  public/app-chains/infrastructure-within-chainscanner/see-details-on-block-explorer.jpg
  public/app-chains/infrastructure-within-chainscanner/select-network-in-block-explorer.jpg
  public/app-chains/infrastructure-within-chainscanner/under-active-validators-click-stake.jpg
Labels: documentation, appchains

#971 DOCS-488: [add] infrastructure within Chainscanner
  pages/app-chains/chainscanner/_meta.json
  pages/app-chains/chainscanner/dev-tools.md
  pages/app-chains/chainscanner/governance-portal.md
  pages/app-chains/chainscanner/overview.md
  pages/app-chains/chainscanner/staking.md
  pages/app-chains/chainscanner/validator-enrollment-hub.md
Labels: documentation, appchains

#972 DOCS-488: [add] infrastructure within Chainscanner
  pages/app-chains/chainscanner/_meta.json
  pages/app-chains/chainscanner/dev-tools.md
  pages/app-chains/chainscanner/governance-portal.md
  pages/app-chains/chainscanner/overview.md
  pages/app-chains/chainscanner/staking.md
  pages/app-chains/chainscanner/validator-enrollment-hub.md
Labels: documentation, appchains

#973 feat: DOCS-512 Arbitrum API Reference added
  pages/rpc-service/chains/chains-api/arbitrum.md
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#975 Unsupported WSS EVM methods added into Chains Quickstart
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#976 Unsupported WSS EVM methods added into Chains Quickstart
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#977 feat: DOCS-514 Standard EVM API Reference docs for Avalanche
  pages/rpc-service/chains/chains-api/arbitrum.md
  pages/rpc-service/chains/chains-api/avalanche.md
  pages/rpc-service/chains/chains-api/ethereum.md
  pages/rpc-service/chains/chains-api/solana.md
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#978 feat: DOCS-514 Standard EVM API Reference docs for Avalanche
  pages/rpc-service/chains/chains-api/arbitrum.md
  pages/rpc-service/chains/chains-api/avalanche.md
  pages/rpc-service/chains/chains-api/ethereum.md
  pages/rpc-service/chains/chains-api/solana.md
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#981 feat: DOCS-516 BTTC API Reference docs added
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/chains/chains-api/bttc.md
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#982 feat: DOCS-516 BTTC API Reference docs added
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/chains/chains-api/bttc.md
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#983 feat: DOCS-517 Celo API Reference added
  pages/index.md
  pages/rpc-service/chains/chains-api/bttc.md
  pages/rpc-service/chains/chains-api/celo.md
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#984 feat: DOCS-517 Celo API Reference added
  pages/index.md
  pages/rpc-service/chains/chains-api/bttc.md
  pages/rpc-service/chains/chains-api/celo.md
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#986 DOCS-519: [add] APR oracle for Liquid Staking
  pages/staking/for-integrators/oracles/_meta.json
  pages/staking/for-integrators/oracles/apr-oracle.md
  pages/staking/for-integrators/oracles/overview.md
Labels: documentation, staking

#988 feat: DOCS-518 Fantom API Reference added
  pages/rpc-service/chains/chains-api/fantom.md
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#990 feat: DOCS-518 Fantom API Reference added
  pages/rpc-service/chains/chains-api/fantom.md
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#992 feat: DOCS-520 Gnosis API Reference docs added
  pages/rpc-service/chains/chains-api/gnosis.md
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#993 DOCS-522: [update] AppChain Bridge (Chainscanner Bridge) guide
  pages/app-chains/chainscanner/bridge.md
  public/app-chains/infrastructure-within-chainscanner/approve-bridge-accessing-tokens.jpg
  public/app-chains/infrastructure-within-chainscanner/bridge-assets.jpg
  public/app-chains/infrastructure-within-chainscanner/click-approve.jpg
  public/app-chains/infrastructure-within-chainscanner/click-finish-bridge.jpg
  public/app-chains/infrastructure-within-chainscanner/click-send-to-bridge-tokens.jpg
  public/app-chains/infrastructure-within-chainscanner/click-switch-network.jpg
  public/app-chains/infrastructure-within-chainscanner/confirm-bridging-in-metamask.jpg
  public/app-chains/infrastructure-within-chainscanner/confirm-switching.jpg
  public/app-chains/infrastructure-within-chainscanner/enter-details-to-recover-bridging.jpg
  public/app-chains/infrastructure-within-chainscanner/wait-till-claimed-and-click-close.jpg
Labels: documentation, appchains

#994 DOCS-522: [update] AppChain Bridge (Chainscanner Bridge) guide
  public/app-chains/infrastructure-within-chainscanner/click-finish-bridge.jpg
Labels: documentation, appchains

#995 feat: DOCS-521 Harmony API Reference docs added
  pages/rpc-service/chains/chains-api/harmony.md
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#996 feat: DOCS-521 Harmony API Reference docs added
  pages/rpc-service/chains/chains-api/harmony.md
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#997 DOCS-524: [add] Ankr #4 validator on Avalanche
  pages/staking/extra/ankr-validators.md
  pages/staking/for-integrators/dev-details/avax-liquid-staking-mechanics.md
Labels: documentation, staking

#1000 feat/DOCS-523-rpc-heco-api
  pages/rpc-service/chains/chains-api/harmony.md
  pages/rpc-service/chains/chains-api/heco.md
Labels: documentation, rpc-aapi

#1001 chore: DOCS-523 Minor edits to heco and harmony
  pages/rpc-service/chains/chains-api/harmony.md
  pages/rpc-service/chains/chains-api/heco.md
Labels: documentation, rpc-aapi

#1002 feat: DOCS-527 IoTeX API Reference added
  pages/rpc-service/chains/chains-api/iotex.md
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#1003 feat: DOCS-527 IoTeX API Reference added
  pages/rpc-service/chains/chains-api/iotex.md
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#1004 feat: DOCS-527 IoTeX API Reference minor edits
  pages/rpc-service/chains/chains-api/iotex.md
Labels: documentation, rpc-aapi

#1008 feat: DOCS-528 Node snapshot first iteration hidden menu
  pages/_meta.json
  pages/index.md
  pages/node-snapshot.md
  public/node-snapshot/available-snapshots.png
  public/node-snapshot/chainsnap.png
  public/node-snapshot/storj-payment.png
Labels: documentation, rpc-aapi

#1009 Stage
  README.md
  package.json
  pages/_meta.json
  pages/app-chains/affiliated-chains/bnb-sidechain/architecture/circulation-model-native-bridge.md
  pages/index.md
  pages/node-snapshot.md
  public/node-snapshot/available-snapshots.png
  public/node-snapshot/chainsnap.png
  public/node-snapshot/storj-payment.png
  src/scripts/update-strapi-faq-files.js
Labels: documentation, rpc-aapi

#1015 DOCS-532: [update] ETH LS fees in Staking > Extra > Fees
  pages/staking/extra/liquid-staking-fees.md
Labels: documentation, staking

#1014 DOCS-532: [update] ETH LS fees in Staking > Extra > Fees
  pages/staking/extra/liquid-staking-fees.md
Labels: documentation, staking

#1016 DOCS-533: [add] APY formula in Restful API > Staking Metrics
  pages/staking/for-integrators/restful-api/staking-metrics.md
Labels: documentation, staking

#1017 DOCS-532: [update] ETH LS fees in Staking > Extra > Fees, [update] formatting for other LS fees
  pages/staking/extra/liquid-staking-fees.md
  pages/staking/for-integrators/dev-details/avax-liquid-staking-mechanics.md
  pages/staking/for-integrators/dev-details/bnb-liquid-staking-mechanics.md
  pages/staking/for-integrators/dev-details/dot-liquid-staking-mechanics.md
  pages/staking/for-integrators/dev-details/eth-liquid-staking-mechanics.md
  pages/staking/for-integrators/dev-details/ksm-liquid-staking-mechanics.md
  pages/staking/for-integrators/dev-details/matic-liquid-staking-mechanics.md
Labels: documentation, staking

#1018 feat: DOCS-534 Moonbeam API Reference added
  pages/rpc-service/chains/chains-api/moonbeam.md
  pages/rpc-service/chains/chains-list.md
  pages/staking/liquid-staking/eth/faq.md
Labels: documentation, rpc-aapi

#1020 feat: DOCS-535 Nervos Standard EVM API Reference added
  pages/rpc-service/chains/chains-api/nervos.md
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#1021 feat: DOCS-535 Nervos Standard EVM API Reference added
  pages/rpc-service/chains/chains-api/nervos.md
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#1022 feat: DOCS-536 AAPI current methods added
  pages/advanced-api/nft-methods.md
  pages/advanced-api/overview.md
  pages/advanced-api/query-methods.md
  pages/advanced-api/token-methods.md
  pages/rpc-service/getting-started.md
Labels: documentation, rpc-aapi

#1023 feat: DOCS-536 AAPI current methods added
  pages/advanced-api/nft-methods.md
  pages/advanced-api/overview.md
  pages/advanced-api/query-methods.md
  pages/advanced-api/token-methods.md
  pages/rpc-service/getting-started.md
Labels: documentation, rpc-aapi

#1024 feat: DOCS-538 AAPI SDKs latest state reflected
  pages/advanced-api/javascript-sdk.md
  pages/advanced-api/overview.md
  pages/advanced-api/pricing.md
  pages/advanced-api/python-sdk.md
  pages/index.md
  pages/staking/delegated-staking/gnosis/faq.md
  pages/staking/liquid-staking/avax/faq.md
  pages/staking/liquid-staking/bnb/faq.md
  pages/staking/liquid-staking/ksm/faq.md
  pages/staking/liquid-staking/matic/faq.md
Labels: documentation, rpc-aapi

#1025 feat: DOCS-538 AAPI SDKs latest state reflected
  pages/advanced-api/javascript-sdk.md
  pages/advanced-api/overview.md
  pages/advanced-api/pricing.md
  pages/advanced-api/python-sdk.md
  pages/index.md
  pages/staking/delegated-staking/gnosis/faq.md
  pages/staking/liquid-staking/avax/faq.md
  pages/staking/liquid-staking/bnb/faq.md
  pages/staking/liquid-staking/ksm/faq.md
  pages/staking/liquid-staking/matic/faq.md
Labels: documentation, rpc-aapi

#1026 feat: DOCS-539 SUI hidden from Chains Quickstart
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#1027 feat: DOCS-539 SUI hidden from Chains Quickstart
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#1028 feat: DOCS-540 Optimism EVM API Reference added
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/chains/chains-api/optimism.md
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#1029 feat: DOCS-540 Optimism EVM API Reference added
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/chains/chains-api/optimism.md
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#1030 feat: DOCS-541 Polygon API Reference docs added
  pages/rpc-service/chains/chains-api/polygon.md
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#1031 feat: DOCS-541 Polygon API Reference docs added
  pages/rpc-service/chains/chains-api/polygon.md
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#1032 feat: DOCS-542 Syscoin API Reference added
  pages/rpc-service/chains/chains-api/syscoin.md
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#1033 feat: DOCS-542 Syscoin API Reference added
  pages/rpc-service/chains/chains-api/syscoin.md
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#1035 feat: DOCS-543 Node snapshots goes live
  pages/_meta.json
  pages/node-snapshot.md
Labels: documentation, rpc-aapi

#1036 feat: DOCS-544 Avalanche EVM Standard API Reference
  pages/rpc-service/chains/chains-api/avalanche.md
Labels: documentation, rpc-aapi

#1038 [update] redemption price oracle
  pages/staking/for-integrators/oracles/redemption-price-oracle.md
Labels: documentation, staking

#1041 DOCS-545: [update] to sync properly
  pages/liquid-staking/avax/faq.mdx
  pages/liquid-staking/bnb/faq.mdx
  pages/liquid-staking/dot/faq.mdx
  pages/liquid-staking/eth/faq.mdx
  pages/liquid-staking/ftm/faq.mdx
  pages/liquid-staking/ksm/faq.mdx
  pages/open-a-ticket.mdx
  pages/staking/for-integrators/oracles/redemption-price-oracle.md
  redirects.json
Labels: documentation, docops

#1042 DOCS-545: [fix] redirects.json
  redirects.json
Labels: documentation, docops

#1043 DOCS-545: [fix] main _meta.json
  pages/_meta.json
Labels: documentation, docops

#1044 [add] @svgr/webpack, [fix] longer deploy, [put back] AAPI auto-gen spec (hidden)
  babel.config.json
  next.config.js
  package.json
  pages/advanced-api/_meta.json
  pages/advanced-api/specification.mdx
  pages/liquid-staking/avax/faq.mdx
  pages/liquid-staking/bnb/faq.mdx
  pages/liquid-staking/dot/faq.mdx
  pages/liquid-staking/ksm/faq.mdx
  pages/liquid-staking/matic/faq.mdx
  yarn.lock
Labels: documentation, docops

#1045 [update] theme for AAPI auto-gen spec (hidden)
  pages/advanced-api/_meta.json
Labels: documentation, docops

#1046 feat: DOCS-546 Arbitrum Nova API Reference added
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/chains/chains-api/arbitrum-nova.mdx
  pages/rpc-service/chains/chains-api/avalanche.mdx
  pages/rpc-service/chains/chains-api/bnb-smart-chain.mdx
  pages/rpc-service/chains/chains-api/bttc.mdx
  pages/rpc-service/chains/chains-api/celo.mdx
  pages/rpc-service/chains/chains-api/ethereum.mdx
  pages/rpc-service/chains/chains-api/fantom.mdx
  pages/rpc-service/chains/chains-api/gnosis.mdx
  pages/rpc-service/chains/chains-api/solana.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1047 feat: DOCS-546 Arbitrum Nova API Reference added
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/chains/chains-api/arbitrum-nova.mdx
  pages/rpc-service/chains/chains-api/avalanche.mdx
  pages/rpc-service/chains/chains-api/bnb-smart-chain.mdx
  pages/rpc-service/chains/chains-api/bttc.mdx
  pages/rpc-service/chains/chains-api/celo.mdx
  pages/rpc-service/chains/chains-api/ethereum.mdx
  pages/rpc-service/chains/chains-api/fantom.mdx
  pages/rpc-service/chains/chains-api/gnosis.mdx
  pages/rpc-service/chains/chains-api/solana.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1048 [update] README
  README.md
Labels: documentation, docops

#1049 feat: DOCS-547 OpenAPI spec link added to Overview and Methods sections
  pages/advanced-api/nft-methods.mdx
  pages/advanced-api/overview.mdx
  pages/advanced-api/query-methods.mdx
  pages/advanced-api/token-methods.mdx
Labels: documentation, rpc-aapi

#1050 feat: DOCS-547 OpenAPI spec link added to Overview and Methods sections
  pages/advanced-api/nft-methods.mdx
  pages/advanced-api/overview.mdx
  pages/advanced-api/query-methods.mdx
  pages/advanced-api/token-methods.mdx
Labels: documentation, rpc-aapi

#1051 [update] sidebar structure
  pages/_meta.json
Labels: documentation, docops

#1052 [update] redirects
  redirects.json
Labels: documentation, appchains

#1053 [update] redirects
  redirects.json
Labels: documentation, docops

#1054 feat: DOCS-548 Tendermint RPC methods added
  pages/liquid-staking/matic/faq.mdx
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/chains/chains-api/secret-network.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1055 feat: DOCS-548 Tendermint RPC methods added
  pages/liquid-staking/matic/faq.mdx
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/chains/chains-api/secret-network.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1056 [update] MATIC unstake fee on Ethereum
  pages/staking-extra/liquid-staking-fees.mdx
Labels: documentation, staking

#1058 feat: DOCS-548 Tendermint REST API added
  pages/rpc-service/chains/chains-api/secret-network.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi
