Repository Ankr-network/ankr-docs, pull requests merged in 2023-12, with the labels that each got.

#1486 DOCS-123: Create public BNB Flash Unstake docs
  pages/staking-for-developers/_meta.json
  pages/staking-for-developers/dev-details/bnb-liquid-staking-mechanics.mdx
  pages/staking-for-developers/flash-unstake/_meta.json
  pages/staking-for-developers/flash-unstake/bnb-flash-unstake.mdx
Labels: documentation, staking

#1489 feat: DOCS-706 Core chain added into API Reference and Quickstart
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/chains/chains-api/core.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1491 feat: DOCS-708 aapi current chains state
  pages/advanced-api/overview.mdx
Labels: documentation, rpc-aapi

#1492 feat: DOCS-709 Projects on Freemium
  pages/rpc-service/service-plans.mdx
Labels: documentation, rpc-aapi

#1493 feat: DOCS-709 Projects on Freemium
  pages/rpc-service/service-plans.mdx
Labels: documentation, rpc-aapi

#1494 DOCS-128: Delete voting instructions, as the voting ended
  pages/staking-extra/_meta.json
  pages/staking-extra/vote-for-ankreth-on-eigeinlayer.mdx
  redirects.json
Labels: documentation, staking

#1495 DOCS-128: Delete voting instructions, as the voting ended
  redirects.json
Labels: documentation, staking

#1496 DOCS-129: Add info about the testnet version of ETH LS
  pages/liquid-staking/eth/overview.mdx
  pages/liquid-staking/eth/stake.mdx
Labels: documentation, staking

#1497 feat: DOCS-710 Sepolia Testnet added into Base and Optimism
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1498 feat: DOCS-710 Sepolia Testnet added into Base and Optimism + info about Ankr Staking Public Testnet
  pages/delegated-staking/ankr/stake.mdx
  pages/delegated-staking/gnosis/stake.mdx
  pages/liquid-staking/avax/overview.mdx
  pages/liquid-staking/avax/stake.mdx
  pages/liquid-staking/bnb/overview.mdx
  pages/liquid-staking/bnb/stake.mdx
  pages/liquid-staking/eth/overview.mdx
  pages/liquid-staking/eth/stake.mdx
  pages/liquid-staking/ftm/overview.mdx
  pages/liquid-staking/ftm/stake.mdx
  pages/liquid-staking/matic/overview.mdx
  pages/liquid-staking/matic/stake.mdx
  pages/liquid-staking/overview.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1499 DOCS-125: Amend Ankr Verify docs for the release
  pages/_meta.json
  pages/index.mdx
  pages/scaling-services-rollups/overview.mdx
  pages/verify/_meta.json
  pages/verify/dev-details.mdx
  pages/verify/getting-started/_meta.json
  pages/verify/getting-started/comply-with-policy.mdx
  pages/verify/getting-started/create-id.mdx
  pages/verify/getting-started/create-policy.mdx
  pages/verify/overview.mdx
  public/build/verify.png
  public/verify/ankr-verify-architecture.png
  public/verify/ankr-verify-simplified.jpg
  public/verify/getting-started/choose-metamask-synaps.jpg
  public/verify/getting-started/click-add-policy.jpg
  public/verify/getting-started/click-connect-metamask-vendor.jpg
  public/verify/getting-started/click-request-attribute.jpg
  public/verify/getting-started/click-request-policy.jpg
  public/verify/getting-started/click-start-verification-synaps.jpg
  public/verify/getting-started/click-yes-to-finalize-adding-policy.jpg
  public/verify/getting-started/connect-wallet-synaps.jpg
  public/verify/getting-started/connect-wallet.jpg
  public/verify/getting-started/customize-policy-request.jpg
  public/verify/getting-started/customize-policy.jpg
  public/verify/getting-started/list-of-added-policies.jpg
  public/verify/getting-started/policy-successfuly-created.jpg
  public/verify/getting-started/successfully-added-attributes.jpg
  public/verify/getting-started/verified-policies-list.jpg
Labels: documentation, verify

#1500 DOCS-125: Amend Ankr Verify docs for the release
  pages/_meta.json
  pages/index.mdx
  pages/scaling-services-rollups/overview.mdx
  pages/verify/_meta.json
  pages/verify/dev-details.mdx
  pages/verify/getting-started/_meta.json
  pages/verify/getting-started/comply-with-policy.mdx
  pages/verify/getting-started/create-id.mdx
  pages/verify/getting-started/create-policy.mdx
  pages/verify/overview.mdx
  public/build/verify.png
  public/verify/ankr-verify-architecture.png
  public/verify/ankr-verify-simplified.jpg
  public/verify/getting-started/choose-metamask-synaps.jpg
  public/verify/getting-started/click-add-policy.jpg
  public/verify/getting-started/click-connect-metamask-vendor.jpg
  public/verify/getting-started/click-request-attribute.jpg
  public/verify/getting-started/click-request-policy.jpg
  public/verify/getting-started/click-start-verification-synaps.jpg
  public/verify/getting-started/click-yes-to-finalize-adding-policy.jpg
  public/verify/getting-started/connect-wallet-synaps.jpg
  public/verify/getting-started/connect-wallet.jpg
  public/verify/getting-started/customize-policy-request.jpg
  public/verify/getting-started/customize-policy.jpg
  public/verify/getting-started/list-of-added-policies.jpg
  public/verify/getting-started/policy-successfuly-created.jpg
  public/verify/getting-started/successfully-added-attributes.jpg
  public/verify/getting-started/verified-policies-list.jpg
Labels: documentation, verify

#1501 DOCS-125: Amend Ankr Verify docs for the release
  pages/index.mdx
Labels: documentation, verify

#1502 DOCS-131: Add instructions on how to get goETH
  pages/liquid-staking/eth/overview.mdx
  pages/liquid-staking/eth/stake.mdx
  pages/staking-extra/_meta.json
  pages/staking-extra/get-goerli-eth.mdx
Labels: documentation, staking

#1504 DOC-132: Restake ankrETH on EigenLayer
  pages/liquid-staking/eth/_meta.json
  pages/liquid-staking/eth/restake-ankreth-on-eigen.mdx
  pages/liquid-staking/eth/unstake-ankreth-on-eigen.mdx
  public/staking/liquid-staking/eth/choose-metamask-eigenlayer.jpg
  public/staking/liquid-staking/eth/choose-operator-delegated-click-manage.jpg
  public/staking/liquid-staking/eth/choose-operator-eigenlayer.jpg
  public/staking/liquid-staking/eth/click-delegate-eigenlayer.jpg
  public/staking/liquid-staking/eth/click-undelegate-eigenlayer.jpg
  public/staking/liquid-staking/eth/click-unstake-tab-eigenlayer.jpg
  public/staking/liquid-staking/eth/click-withdraw-eigenlayer.jpg
  public/staking/liquid-staking/eth/connect-wallet-eigenlayer.jpg
  public/staking/liquid-staking/eth/delegate-successful-eigenlayer.jpg
  public/staking/liquid-staking/eth/enter-amount-click-deposit-eigenlayer.jpg
  public/staking/liquid-staking/eth/sign-terms-eigenlayer.jpg
Labels: documentation, staking

#1505 DOC-132: Restake ankrETH on EigenLayer
  pages/liquid-staking/eth/_meta.json
  pages/liquid-staking/eth/restake-ankreth-on-eigen.mdx
  pages/liquid-staking/eth/unstake-ankreth-on-eigen.mdx
  public/staking/liquid-staking/eth/choose-metamask-eigenlayer.jpg
  public/staking/liquid-staking/eth/choose-operator-delegated-click-manage.jpg
  public/staking/liquid-staking/eth/choose-operator-eigenlayer.jpg
  public/staking/liquid-staking/eth/click-delegate-eigenlayer.jpg
  public/staking/liquid-staking/eth/click-undelegate-eigenlayer.jpg
  public/staking/liquid-staking/eth/click-unstake-tab-eigenlayer.jpg
  public/staking/liquid-staking/eth/click-withdraw-eigenlayer.jpg
  public/staking/liquid-staking/eth/connect-wallet-eigenlayer.jpg
  public/staking/liquid-staking/eth/delegate-successful-eigenlayer.jpg
  public/staking/liquid-staking/eth/enter-amount-click-deposit-eigenlayer.jpg
  public/staking/liquid-staking/eth/sign-terms-eigenlayer.jpg
Labels: documentation, staking

#1506 DOC-133, DOC-134: Transfer all pdfs to ankr-docs repo, Add Liquid Crowdloan unstake
  pages/bridge/overview.mdx
  pages/delegated-staking/ankr/overview.mdx
  pages/liquid-crowdloan/_meta.json
  pages/liquid-crowdloan/overview.mdx
  pages/liquid-crowdloan/unstake.mdx
  pages/liquid-staking/avax/overview.mdx
  pages/liquid-staking/bnb/overview.mdx
  pages/liquid-staking/eth/overview.mdx
  pages/liquid-staking/eth/unstake-ankreth-on-eigen.mdx
  pages/liquid-staking/ftm/overview.mdx
  pages/liquid-staking/matic/overview.mdx
  pages/scaling-services-sidechains/bnb-sidechain/security/blockchain-and-evm-security.mdx
  pages/scaling-services-sidechains/bnb-sidechain/security/system-smart-contracts.mdx
  pages/staking-extra/audit-reports.mdx
  pages/staking-extra/ls-sc-addresses-mn.mdx
  public/pdf/ankr_delegated_staking_audit_veridise.pdf
  public/pdf/smart_contract_security_audit.pdf
  public/pdf/smart_contract_security_audit_aeth_beosin.pdf
  public/pdf/smart_contract_security_audit_ankrbnb_veridise_feb_2023.pdf
  public/pdf/smart_contract_security_audit_ankreth_salus.pdf
  public/pdf/smart_contract_security_audit_avax_beosin.pdf
  public/pdf/smart_contract_security_audit_bnb.pdf
  public/pdf/smart_contract_security_audit_bnb_peckshield.pdf
  public/pdf/smart_contract_security_audit_ftm.pdf
  public/pdf/smart_contract_security_audit_matic.pdf
  public/pdf/stkr_smart_contract_auditing_report.pdf
  public/pdf/system_smart_contracts_security_audit.pdf
  public/staking/liquid-crowdloan/click-and-connect-polkadot.jpg
  public/staking/liquid-crowdloan/click-claim.jpg
  public/staking/liquid-crowdloan/click-metamask-to-connect.jpg
  public/staking/liquid-crowdloan/click-redeem-dot.jpg
  public/staking/liquid-crowdloan/click-redeem.jpg
  public/staking/liquid-crowdloan/dotksm-plc.png
  public/staking/liquid-crowdloan/enter-address-to-release-dot.jpg
  public/staking/liquid-crowdloan/enter-withdrawal-add-click-continue.jpg
  public/staking/liquid-crowdloan/liquid-crowdloan.png
  public/staking/liquid-crowdloan/list-of-projects.jpg
  public/staking/liquid-crowdloan/switch-to-eth-mainnet.jpg
  public/staking/liquid-crownload/dotksm-plc.png
  public/staking/liquid-crownload/liquid-crownload.png
Labels: documentation, staking

#1507 DOC-134:Add Liquid Crowdloan unstake
  pages/liquid-crowdloan/unstake.mdx
  public/staking/liquid-crowdloan/click-connect-wallet-to-conect-polkadot-js.jpg
Labels: documentation, staking

#1508 DOC-134:Add Liquid Crowdloan unstake
  pages/liquid-crowdloan/unstake.mdx
Labels: documentation, staking

#1509 DOC-134:Add Liquid Crowdloan unstake
  pages/liquid-crowdloan/_meta.json
  pages/liquid-crowdloan/unstake.mdx
Labels: documentation, staking

#1510 DOC-135: Fix AVAX validators in Dev Details
  pages/staking-for-developers/dev-details/avax-liquid-staking-mechanics.mdx
Labels: documentation, staking

#1511 DOC-130: Move Validator Hub Mechanics to Ankr Docs
  pages/staking-for-developers/dev-details/_meta.json
  pages/staking-for-developers/dev-details/eth-validator-hub-mechanics.mdx
Labels: documentation, staking

#1512 DOC-130: Move Validator Hub Mechanics to Ankr Docs
  pages/staking-for-developers/dev-details/_meta.json
  pages/staking-for-developers/dev-details/eth-validator-hub-mechanics.mdx
Labels: documentation, staking

#1513 DOC-130: Move Validator Hub Mechanics to Ankr Docs
  pages/staking-for-developers/dev-details/eth-validator-hub-mechanics.mdx
Labels: documentation, staking

#1514 DOC-136: Add ankrBNB addr on opBNB
  pages/staking-extra/ls-sc-addresses-mn.mdx
  pages/staking-extra/ls-sc-addresses-tn.mdx
Labels: documentation, staking

#1515 DOC-136: Add ankrBNB addr on opBNB
  pages/staking-extra/ls-sc-addresses-mn.mdx
  pages/staking-extra/ls-sc-addresses-tn.mdx
  pages/staking-extra/staking-smart-contracts.mdx
Labels: documentation, staking

#1516 DOC-137: Change Ankr's tech service fee to 10% for AVAX and DOT LS
  pages/liquid-staking/avax/faq.mdx
  pages/liquid-staking/avax/overview.mdx
  pages/liquid-staking/avax/stake.mdx
  pages/liquid-staking/dot/faq.mdx
  pages/liquid-staking/dot/stake.mdx
  pages/staking-extra/staking-fees.mdx
  pages/staking-for-developers/dev-details/avax-liquid-staking-mechanics.mdx
  pages/staking-for-developers/dev-details/dot-liquid-staking-mechanics.mdx
Labels: documentation, staking

#1517 DOC-137: Change Ankr's tech service fee to 10% for AVAX and DOT LS
  pages/staking-for-developers/dev-details/eth-validator-hub-mechanics.mdx
Labels: documentation, staking

#1518 DOC-138: Remove Kusama LS from Ankr Docs
  pages/liquid-staking/ksm/_meta.json
  pages/liquid-staking/ksm/faq.mdx
  pages/liquid-staking/ksm/overview.mdx
  pages/liquid-staking/ksm/unstake.mdx
  redirects.json
  src/scripts/update-strapi-faq-files.js
Labels: documentation, staking
