Repository Ankr-network/ankr-docs, pull requests merged in 2023-01, with the labels that each got.

#930 fix aBNBb SC MN address
  pages/advanced-api/_meta.json
  pages/staking/extra/ls-sc-addresses-mn.md
  pages/staking/for-integrators/dev-details/bnb-liquid-staking-mechanics.md
  pages/staking/for-integrators/smart-contract-api/bnb-api.md
Labels: documentation, staking

#931 feat: DOCS-475 Added icons for "Callout" component
  pages/app-chains/affiliated-chains/bnb-sidechain/how-to-launch/deploy-erc20-token.md
  src/components/Callout.jsx
  src/icons/Default.jsx
  src/icons/Error.jsx
  src/icons/Info.jsx
  src/icons/Note.jsx
  src/icons/Success.jsx
  src/icons/Tip.jsx
  src/icons/Warning.jsx
  src/icons/index.js
  src/styles/global.css
Labels: frontend

#932 feat: DOCS-475 Added icons for "Callout" component (#931)
  pages/app-chains/affiliated-chains/bnb-sidechain/how-to-launch/deploy-erc20-token.md
  src/components/Callout.jsx
  src/icons/Default.jsx
  src/icons/Error.jsx
  src/icons/Info.jsx
  src/icons/Note.jsx
  src/icons/Success.jsx
  src/icons/Tip.jsx
  src/icons/Warning.jsx
  src/icons/index.js
  src/styles/global.css
Labels: documentation, frontend

#933 DOCS-487: Update getAPR methods with new info for ankrBNB and ankrFTM
  pages/app-chains/_meta.json
  pages/app-chains/chainscanner/_meta.json
  pages/app-chains/chainscanner/overview.md
  pages/staking/for-integrators/smart-contract-api/bnb-api.md
  pages/staking/for-integrators/smart-contract-api/ftm-api.md
Labels: documentation, staking

#934 DOCS-491: Fix link to 1700 Ankr validators on Ethereum
  pages/staking/for-integrators/dev-details/eth-liquid-staking-mechanics.md
Labels: documentation, staking

#935 DOCS-492: Set a redirect for old audit-reports link
  redirects.json
Labels: documentation, staking, docops

#936 feature: DOCS-486 Solana API Reference
  pages/rpc-service/chains/chains-api/solana.md
  pages/rpc-service/chains/chains-list.md
  pages/staking/delegated-staking/gnosis/faq.md
Labels: documentation, rpc-aapi

#937 feature: DOCS-486 Solana API Reference
  pages/rpc-service/chains/chains-api/solana.md
  pages/rpc-service/chains/chains-list.md
  pages/staking/delegated-staking/gnosis/faq.md
Labels: documentation, rpc-aapi

#938 DOCS-493: Update Stake GNO with new GNO-mGNO converter
  pages/staking/delegated-staking/gnosis/stake.md
  public/staking/delegated-staking/mgno/gno-mgno-converter-add-mgno-to-metamask.png
  public/staking/delegated-staking/mgno/gno-mgno-converter-click-convert.png
  public/staking/delegated-staking/mgno/gno-mgno-converter-connect-wallet.png
Labels: documentation, staking

#939 feat: DOCS-495 Adding AAPI method params and json spec mentioning
  pages/advanced-api/nft-methods.md
  pages/advanced-api/query-methods.md
  pages/advanced-api/token-methods.md
  pages/rpc-service/chains/chains-api/ethereum.md
Labels: documentation, rpc-aapi

#940 feat: DOCS-495 Adding AAPI method params and json spec mentioning
  pages/advanced-api/nft-methods.md
  pages/advanced-api/query-methods.md
  pages/advanced-api/token-methods.md
  pages/rpc-service/chains/chains-api/ethereum.md
Labels: documentation, rpc-aapi

#941 feat: DOCS-496 aapi testnets and new methods
  pages/advanced-api/nft-methods.md
  pages/advanced-api/overview.md
  pages/advanced-api/pricing.md
  pages/advanced-api/query-methods.md
  pages/advanced-api/token-methods.md
  pages/rpc-service/tech-stuff.md
  pages/staking/delegated-staking/ankr/faq.md
Labels: documentation, rpc-aapi

#942 feat: DOCS-496 aapi testnets and new methods
  pages/advanced-api/nft-methods.md
  pages/advanced-api/query-methods.md
  pages/advanced-api/token-methods.md
Labels: documentation, rpc-aapi

#943 feat: DOCS-496 aapi testnets and new methods
  pages/advanced-api/nft-methods.md
  pages/advanced-api/overview.md
  pages/advanced-api/pricing.md
  pages/advanced-api/query-methods.md
  pages/advanced-api/token-methods.md
  pages/rpc-service/tech-stuff.md
  pages/staking/delegated-staking/ankr/faq.md
Labels: documentation, rpc-aapi

#944 feat: DOCS-499 Secret Network added to Chains Quickstart
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#945 feat: DOCS-499 Secret Network added to Chains Quickstart
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#946 feat: DOCS-500 Getting started reorg
  pages/rpc-service/chains/chains-list.md
  pages/rpc-service/getting-started.md
  public/build/getting-started/gauth.png
  public/build/ui-premium.png
  public/build/ui-schema.png
Labels: documentation, rpc-aapi

#947 feat: DOCS-500 Getting started reorg
  pages/rpc-service/chains/chains-list.md
  pages/rpc-service/getting-started.md
  public/build/getting-started/gauth.png
  public/build/ui-premium.png
  public/build/ui-schema.png
Labels: documentation, rpc-aapi

#949 KP-71: automation docs for the current Ankr Automation version
  jsconfig.json
  pages/_meta.json
  pages/automation/_meta.json
  pages/automation/create-compatible-contracts.md
  pages/automation/custom-logic-automation.md
  pages/automation/manage-tasks.md
  pages/automation/overview.md
  pages/automation/time-based-automation.md
  pages/staking/delegated-staking/ankr/unstake.md
  pages/staking/extra/ankr-validators.md
  public/automation/AutomatedCounter.sol
  public/automation/check-function-execution.jpg
  public/automation/choose-wallet-to-connect.jpg
  public/automation/click-connect-wallet.jpg
  public/automation/click-create-task.jpg
  public/automation/click-deposit.jpg
  public/automation/click-funds.jpg
  public/automation/click-withdraw.jpg
  public/automation/confirm-deployment-of-automation.jpg
  public/automation/confirm-deployment-of-custom-logic-automation.jpg
  public/automation/connect-wallet.jpg
  public/automation/enter-custom-logic-task-details.jpg
  public/automation/enter-task-details.jpg
  public/automation/finish-creating-custom-logic-task.jpg
  public/automation/finish-creating-task.jpg
  public/automation/set-up-payment.jpg
  public/automation/set-up-schedule.jpg
  public/automation/successful-wallet-connection.jpg
  public/automation/successfully-created-tasks.jpg
  public/automation/successfully-created-time-based-task.jpg
  public/automation/task-state-switch.jpg
  src/components/Callout.jsx
  theme.config.js
Labels: documentation, automation

#950 KP-71: finish automation docs for the current Ankr Automation version
  pages/automation/create-compatible-contracts.md
Labels: documentation, automation

#951 KP-71: add Next read section to manage-tasks.md
  pages/automation/manage-tasks.md
Labels: documentation, automation

#952 KP-71: misc fixes
  pages/automation/manage-tasks.md
Labels: documentation, automation

#953 DOCS-503: [add] AppChain Configurator
  pages/app-chains/_meta.json
  pages/app-chains/start-with-app-chains.md
Labels: documentation, appchains

#954 feat: DOCS-504 Filecoin testnet added to Chains Quickstart
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#955 feat: DOCS-504 Filecoin testnet added to Chains Quickstart
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#956 chore: DOCS-506 Removed the Withdraw section from RPC Getting Started
  pages/rpc-service/getting-started.md
Labels: documentation, rpc-aapi

#957 chore: DOCS-506 Removed the Withdraw section from RPC Getting Started
  pages/rpc-service/getting-started.md
Labels: documentation, rpc-aapi

#958 feat: DOCS-507 eth_syncing method added to Chains Quickstart and Ethereum API Reference
  pages/rpc-service/chains/chains-api/ethereum.md
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#959 feat: DOCS-507 eth_syncing method added to Chains Quickstart and Ethereum API Reference
  pages/rpc-service/chains/chains-api/ethereum.md
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi

#960 DOCS-484: [add] Ledger Nano support info
  pages/staking/bridge/overview.md
  pages/staking/extra/compatible-wallets.md
  pages/staking/liquid-staking/avax/overview.md
  pages/staking/liquid-staking/bnb/overview.md
  pages/staking/liquid-staking/dot/overview.md
  pages/staking/liquid-staking/eth/overview.md
  pages/staking/liquid-staking/ftm/overview.md
  pages/staking/liquid-staking/matic/overview.md
  pages/staking/liquid-staking/ssv/overview.md
Labels: documentation, staking

#962 DOCS-502: [update] min limit and change interval for ETH LS
  pages/staking/for-integrators/dev-details/eth-liquid-staking-mechanics.md
Labels: documentation, staking

#963 feat: DOCS-510 Filecoin WSS unsupported methods
  pages/rpc-service/chains/chains-list.md
Labels: documentation, rpc-aapi
