Repository Ankr-network/ankr-docs, pull requests merged in 2024-01, with the labels that each got.

#1519 DOC-143: Add 15% Ankr fee to Fantom LS
  pages/liquid-staking/avax/faq.mdx
  pages/liquid-staking/ftm/faq.mdx
  pages/liquid-staking/ftm/stake.mdx
Labels: documentation, staking

#1520 DOC-143: Add 15% Ankr fee to Fantom LS
  pages/staking-extra/staking-fees.mdx
Labels: documentation, staking

#1521 DOC-143: Add 15% Ankr fee to Fantom LS
  pages/staking-extra/staking-fees.mdx
Labels: documentation, staking

#1524 DOC-144: Create a doc for policy ID check-up in Ankr Docs and Confluence
  pages/verify/_meta.json
  pages/verify/policy-check-up.mdx
Labels: documentation, verify

#1526 DOC-146: Amend policy ID check-up doc with Solana integration
  pages/verify/policy-check-up.mdx
  public/verify/integration/ankr-verify-policy-id-checkup-solana.zip
Labels: documentation, verify

#1527 DOC-148, DOC-149: Fix bottom menu entry formatting, Add Ankr Verify to Information Map
  pages/info-map.mdx
  src/components/FooterMenu.jsx
Labels: documentation, frontend, verify

#1528 DOC-148, DOC-149: Fix bottom menu entry formatting, Add Ankr Verify to Information Map
  pages/gaming-overview.mdx
Labels: documentation, gaming

#1529 DOC-150: Fix DOT unstake instructions
  pages/liquid-staking/dot/unstake.mdx
Labels: documentation, staking

#1530 DOC-152: Remove mentions of KSM LS from Ankr Docs
  pages/liquid-staking/_meta.json
  pages/liquid-staking/overview.mdx
  pages/staking-for-developers/dev-details/_meta.json
  pages/staking-for-developers/dev-details/ksm-liquid-staking-mechanics.mdx
  pages/staking-for-developers/oracles/redemption-price-oracle.mdx
  pages/staking-for-developers/overview.mdx
Labels: documentation, staking

#1532 feat: DOCS-711 Stellar API Reference and Quickstart docs
  pages/index.mdx
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/chains/chains-api/stellar.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1534 DOC-153: Reopening of ankrETH restaking on EigenLayer Mainnet & airdrop
  pages/liquid-staking/eth/restake-ankreth-on-eigen.mdx
  pages/liquid-staking/eth/unstake-ankreth-on-eigen.mdx
Labels: documentation, staking

#1535 DOC-153: Reopening of ankrETH restaking on EigenLayer Mainnet & airdrop
  pages/liquid-staking/eth/restake-ankreth-on-eigen.mdx
Labels: documentation, staking

#1537 feat: DOCS-712 Team accounts: iteration one
  pages/rpc-service/getting-started/_meta.json
  pages/rpc-service/getting-started/business-accounts.mdx
  pages/rpc-service/getting-started/team-accounts.mdx
  public/build/getting-started/acc-selection-2.png
  public/build/getting-started/acc-selection.png
Labels: documentation, rpc-aapi

#1538 feat: DOCS-712 Team accounts: iteration one
  pages/rpc-service/getting-started/_meta.json
  pages/rpc-service/getting-started/business-accounts.mdx
  pages/rpc-service/getting-started/team-accounts.mdx
  public/build/getting-started/acc-selection-2.png
  public/build/getting-started/acc-selection.png
Labels: documentation, rpc-aapi

#1539 feat: DOCS-712 Team accounts: iteration two
  pages/rpc-service/getting-started/team-accounts.mdx
  public/build/getting-started/account-created.png
  public/build/getting-started/account-menu.png
  public/build/getting-started/account-name.png
  public/build/getting-started/account-transfer-toggle.png
  public/build/getting-started/email-invite.png
  public/build/getting-started/invite-dialog.png
  public/build/getting-started/invite-teammate.png
  public/build/getting-started/join-team.png
  public/build/getting-started/manage-accounts.png
  public/build/getting-started/switch-accounts.png
  public/build/getting-started/update-role.png
Labels: documentation, rpc-aapi

#1540 feat: DOCS-712 Team accounts: iteration two
  pages/rpc-service/getting-started/team-accounts.mdx
  public/build/getting-started/account-created.png
  public/build/getting-started/account-menu.png
  public/build/getting-started/account-name.png
  public/build/getting-started/account-transfer-toggle.png
  public/build/getting-started/email-invite.png
  public/build/getting-started/invite-dialog.png
  public/build/getting-started/invite-teammate.png
  public/build/getting-started/join-team.png
  public/build/getting-started/manage-accounts.png
  public/build/getting-started/switch-accounts.png
  public/build/getting-started/update-role.png
Labels: documentation, rpc-aapi
