Repository Ankr-network/ankr-docs, pull requests merged in 2024-02, with the labels that each got.

#1541 DOC-160: Add Flare and Chilliz validators to Ankr Docs
  pages/staking-extra/ankr-validators.mdx
Labels: documentation, staking

#1542 DOC-162: Transparent historical ratio Binance, DOC-164: Remove staking DOT, DOC-161: Create instructions on how to stake on Ankr validators on diff chains
  pages/delegated-staking/ankr-validators/_meta.json
  pages/delegated-staking/ankr-validators/overview.mdx
  pages/delegated-staking/ankr-validators/stake.mdx
  pages/liquid-staking/dot/_meta.json
  pages/liquid-staking/dot/overview.mdx
  pages/liquid-staking/dot/stake.mdx
  pages/staking-for-developers/restful-api/trustless-ratio.mdx
Labels: documentation, staking

#1543 DOC-161: Create instructions on how to stake on Ankr validators on diff chains
  pages/delegated-staking/_meta.json
Labels: documentation, staking

#1544 DOC-161: Create instructions on how to stake on Ankr validators on diff chains
  pages/delegated-staking/ankr-validators/stake.mdx
Labels: documentation, staking

#1545 DOC-170: First iteration of the integration guide and rearrangement of the nav menu
  pages/liquid-staking/dot/faq.mdx
  pages/verify/_meta.json
  pages/verify/integrating/_meta.json
  pages/verify/integrating/check-user-compliance.mdx
  pages/verify/integrating/integrate-with-ankr-verify.mdx
  redirects.json
Labels: documentation, verify

#1546 DOC-170: First iteration of the integration guide and rearrangement of the nav menu
  pages/verify/integrating/integrate-with-ankr-verify.mdx
Labels: documentation, verify

#1547 DOC-170: First iteration of the integration guide and rearrangement of the nav menu
  pages/verify/integrating/integrate-with-ankr-verify.mdx
Labels: documentation, verify

#1551 DOC-173: Fix a formatting error in AAPI overview on Ankr Docs
  pages/advanced-api/overview.mdx
Labels: documentation, rpc-aapi

#1552 DOC-174: Fix a broken link
  pages/smart-contract-tutorials/non-rentable-soulbound-nft.mdx
Labels: documentation, rpc-aapi

#1553 feat: DOCS-713 Kava Quickstart and API Reference: iteration1
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/chains/chains-api/kava.mdx
  pages/rpc-service/chains/chains-api/zetachain.mdx
  pages/rpc-service/chains/chains-list.mdx
  pages/rpc-service/service-plans.mdx
Labels: documentation, rpc-aapi

#1554 feat: DOCS-713 Kava Quickstart and API Reference: iteration1
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/chains/chains-api/kava.mdx
  pages/rpc-service/chains/chains-api/zetachain.mdx
  pages/rpc-service/chains/chains-list.mdx
  pages/rpc-service/service-plans.mdx
Labels: documentation, rpc-aapi

#1555 feat: DOCS-714 Blast Quickstart and API Reference docs
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/chains/chains-api/blast.mdx
  pages/rpc-service/chains/chains-list.mdx
  pages/rpc-service/service-plans.mdx
Labels: documentation, rpc-aapi

#1556 feat: DOCS-714 Blast Quickstart and API Reference docs
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/chains/chains-api/blast.mdx
  pages/rpc-service/chains/chains-list.mdx
  pages/rpc-service/service-plans.mdx
Labels: documentation, rpc-aapi

#1557 feat: DOCS-715 OKX X1 API Reference and Quickstart docs
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/chains/chains-api/okx_x1.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1558 feat: DOCS-715 OKX X1 API Reference and Quickstart docs
  pages/rpc-service/chains/chains-api/_meta.json
  pages/rpc-service/chains/chains-api/okx_x1.mdx
  pages/rpc-service/chains/chains-list.mdx
Labels: documentation, rpc-aapi

#1560 DOC-178: Add ankrETH addr on Mode
  pages/staking-extra/ls-sc-addresses-mn.mdx
Labels: documentation, staking

#1561 DOC-179: Add ANKR addr on Mode
  pages/staking-extra/ls-sc-addresses-mn.mdx
Labels: documentation, staking

#1562 DOC-180: Add Ankr Bridge addr on Mode
  pages/staking-extra/staking-smart-contracts.mdx
Labels: documentation, staking

#1563 feat: DOCS-716 Rollups docs
  pages/_meta.json
  pages/index.mdx
  pages/rpc-service/chains/chains-api/horizen-eon.mdx
  pages/scaling-services-faq.mdx
  pages/scaling-services-introduction/_meta.json
  pages/scaling-services-overview.mdx
  pages/scaling-services-rollups/_meta.json
  pages/scaling-services-rollups/data-availability/_meta.json
  pages/scaling-services-rollups/data-availability/celestia.mdx
  pages/scaling-services-rollups/data-availability/eigenda.mdx
  pages/scaling-services-rollups/faq.mdx
  pages/scaling-services-rollups/overview.mdx
  pages/scaling-services-rollups/stacks/_meta.json
  pages/scaling-services-rollups/stacks/op-stack.mdx
  pages/scaling-services-rollups/stacks/polygon-cdk.mdx
  pages/scaling-services-rollups/stacks/zk-stack.mdx
  pages/scaling-services-sidechains/_meta.json
  pages/scaling-services-sidechains/overview.mdx
  redirects.json
  src/scripts/update-strapi-faq-files.js
Labels: documentation, ankr scaling services

#1564 feat: DOCS-716 Rollups docs
  pages/_meta.json
  pages/index.mdx
  pages/rpc-service/chains/chains-api/horizen-eon.mdx
  pages/scaling-services-faq.mdx
  pages/scaling-services-introduction/_meta.json
  pages/scaling-services-overview.mdx
  pages/scaling-services-rollups/_meta.json
  pages/scaling-services-rollups/data-availability/_meta.json
  pages/scaling-services-rollups/data-availability/celestia.mdx
  pages/scaling-services-rollups/data-availability/eigenda.mdx
  pages/scaling-services-rollups/faq.mdx
  pages/scaling-services-rollups/overview.mdx
  pages/scaling-services-rollups/stacks/_meta.json
  pages/scaling-services-rollups/stacks/op-stack.mdx
  pages/scaling-services-rollups/stacks/polygon-cdk.mdx
  pages/scaling-services-rollups/stacks/zk-stack.mdx
  pages/scaling-services-sidechains/_meta.json
  pages/scaling-services-sidechains/overview.mdx
  redirects.json
  src/scripts/update-strapi-faq-files.js
Labels: documentation, ankr scaling services
